- referral_link = referrer_url(user_id: user_id, affiliate_id: affiliate_id)

= hidden_field_tag :create_share_tracking, create_share_tracking_record_share_page_path(share_page_id), id: 'js-create-share-tracking-url'
= hidden_field_tag :update_share_tracking, update_share_tracking_record_share_page_path(share_page_id), id: 'js-update-share-tracking-url'

= link_to 'I Want to Share', referral_link, data: {'title' => 'This appears as the post title', 'description' => 'This is the description for a post', 'image' => 'http://plink-images.s3.amazonaws.com/plink_logo/90x90.jpg', 'twitter-link' => referral_link, 'facebook-link' => referral_link, 'facebook-share-flow-share-widget' => true}
= link_to 'Take me to my wallet', wallet_path(link_card: true), class: 'js-decline-to-share'
