.confirm
  .headline
    %h1 Congrats on your loot!
    %h2
      You've succesfully redeemed for a 
      %span.h2.bold 
        $5 Amazon.com Gift Card.
  .details
    %h3 Redemption details lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    %br
    %a Go To My Wallet >
  .share
    %h3 
      %span.h3.bold Get 5 Plink Points 
      when you tell your friends about your loot. 
    .share-btn 
      %button.button.nav.sign-in Share 
  %hr