.rewards
  %h1 Choose Your Reward.
  %h3.gray You're 280 Plink Points from your next reward.
  %br
  %br
  .reward.cf
    .img
      %img{ :src => "/assets/gift-cards/amazon.png", :alt => "Amazon Gift Card"}
    .description
      %h2.bold Amazon Gift Card
      %h4 Use your Amazon.com Gift Card* to shop from a huge selection of Books, Music, Electronics, Movies, Software, Apparel, Toys, and more.
    .denomination.locked
      $100
      .flag-locked
        %img{ :src => "/assets/icon_lock.png"}
    .denomination.locked
      $50
      .flag-locked
        %img{ :src => "/assets/icon_lock.png"}
    .denomination.locked
      $25
      .flag-locked
        %img{ :src => "/assets/icon_lock.png"}
    .denomination.locked
      $15
      .flag-locked
        %img{ :src => "/assets/icon_lock.png"}
    .denomination.unavailable
      $10
      .denom-value
        %h4 1,000
    %a.denomination.available{href: '#'}
      $5
      .denom-value
        %h4 500

  .reward.cf
    .img
      %img{ :src => "/assets/gift-cards/itunes.png", :alt => "Itunes Gift Card"}
    .description
      %h2.bold iTunes Gift Card
      %h4 iTunes® gift cards are perfect for anyone who enjoys one-stop entertainment.
    .denomination.locked
      $100
      .flag-locked
        %img{ :src => "/assets/icon_lock.png"}
    .denomination.locked
      $50
      .flag-locked
        %img{ :src => "/assets/icon_lock.png"}
    .denomination.locked
      $25
      .flag-locked
        %img{ :src => "/assets/icon_lock.png"}
    .denomination.locked
      $15
      .flag-locked
        %img{ :src => "/assets/icon_lock.png"}
    .denomination.unavailable
      $10
      .denom-value
        %h4 1,000
    %a.denomination.available{href: '#'}
      $5
      .denom-value
        %h4 500      