.reveal-modal#account-checking-compatability.modal.tiny.hidden{'data-options' => 'closeOnBackgroundClick:false; closeOnEsc:false;'}
  %p.font-1p2em.font-w300.mbm Checking account compatibility...
  =image_tag 'progress_bar.gif'
  .bg-element
    %p.font-1em.font-w300.font-gray.font-alignleft We're making sure the account you've selected is eligible for the Plink program. This will only take a few moments.
