.reveal-modal#account-selection-failure.modal.tiny
  %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
  %p.font-1p2em.font-w300 The account you selected is inelligible.
  .bg-element
    %p.font-1em.font-w300.font-gray.font-alignleft
      Plink is unable to connect with the selected account. Please choose another account.
    %br
    %p.font-1em.font-w300.font-gray.font-alignleft
      If you believe the account you've selected should be compatible, please
      %span
        = link_to 'contact support.', contact_path, class:'text-link', target: '_blank'
  %button.button.primary-action.js-select-a-different-account Select a different account
