.steps.first.centered
  .font-p9em.font-lightgray.font-italic Next Steps
.steps
  .font-slate.mbs Add offers to your wallet.
  .font-p9em.font-w300 Fill your Wallet with offers from our partners, then earn Plink Points when you shop at those partners with your linked card.
.steps
  .font-slate.mbs Refer a friend.
  .font-p9em.font-w300
    Get 100 Bonus Points for every friend you refer to Plink. Referring friends is easy;
    = link_to 'invite them via Facebook', referrer_url(user_id: current_user.id, affiliate_id: Rails.application.config.default_affiliate_id),
      class: 'invite-friend-widget text-link',
      data: refer_a_friend_data
    or send them this link:
  .spacer-top-24
    .font-p9em.font-slate Your Personal Referral Link:
  .spacer-top-8
    .font-p8em= referrer_url(user_id: current_user.id, affiliate_id: Rails.application.config.default_affiliate_id)
.steps.last
  .font-slate.mbs Get the app.
  .font-p9em.font-w300.mbm Plink on the go with our mobile app for iOS and Android.
  = link_to 'Get the iPhone App', 'http://hastrk1.com/serve?action=click&publisher_id=34596&site_id=30142&offer_id=256246&sub2=card_reg', class:'text-link', target: '_blank'
  %br
  %br
  = link_to 'Get the Android App', 'http://hastrk1.com/serve?action=click&publisher_id=34596&site_id=36714&offer_id=268162&sub2=card_reg', class:'text-link', target: '_blank'
