- total = most_popular.length
- first_column_size = (total / 2).ceil
.banks
  - most_popular[0..first_column_size - 1].each do |institution|
    .result
      = link_to institution.name.html_safe, institution_authorization_form_path(institution.institution_id), class: 'text-link'
- if total > 1
  .banks
    - most_popular[first_column_size..-1].each do |institution|
      .result
        = link_to institution.name.html_safe, institution_authorization_form_path(institution.institution_id), class: 'text-link'
