.progress-bar
  .hidden#js-establishing-connection
    .spacer-top-8
      .gray-box
        .font-p9em.font-w300 Establishing secure connection.
    .spacer-top-24
      .font-1p5em Communicating with #{institution_form.name}.
      .font-p9em.font-w300.font-gray.font-height1p5 This may take a few moments...
    .spacer-top-8
      =image_tag 'progress_bar.gif'
    .space-top-24
    %hr
    = render partial: 'security_logos'
