.spacer-top-24.js-search-most-common-results
  .result-title Most Common
  .banks
    .result
      - display_institution(results.first)
    - if results[1].present?
      .result
        - display_institution(results[1])
.spacer-top-24.js-search-results
  - if results.size > 2
    .result-title= "All Results (#{pluralize(results.size - 2, 'Match')})"
    %hr
    .banks.result-list
      - results[2..-1].each do |institution|
        .result
          - display_institution(institution)
  - if @has_unsupported_banks
    .spacer-top-24
      .font-p9em.font-lightgray.font-w300
        * Sorry, this bank is not supported by Plink at this time. Check our
        %span
          =link_to 'FAQ', faq_static_path, class: 'text-link'
        for more info.

:javascript
  CardRegistrationGA.searchResults();
