=image_tag 'home_security_truste.png', class:'width-80px'
=image_tag 'home_security_norton.png', class:'width-80px mlm'
=image_tag 'home_security_bbb.png', class:'width-80px mlm'
=image_tag 'home_security_intuit.png', class:'width-80px mlm'
.clear
