.steps.first.centered
  .font-p9em.font-lightgray.font-italic Let's Get Started
.steps
  .circle
    .text 1
  Find your bank or credit card provider.
.steps.active
  .circle.offset
    .text 2
  Connect it to Plink.
.steps.last
  .circle.offset
    .text 3
  Choose a card.
