Hey #{@first_name},
#{@explanation_message}
#{@text_link_message}
If you do not complete the steps outlined above by #{@removal_date}, your account will be removed from Plink and you will no longer earn Plink Points.
