%p{style: "color:#404042; font-size:16px;"} Hey #{@first_name}
%p{style: "color:#404042; font-size:16px;"}= @explanation_message.html_safe
%p{style: "color:#404042; font-size:16px;"}= @html_link_message.html_safe
