.hero-gallery
  .hero-gallery-inner
    %ul.bjqs
      - @hero_promotions.each do |hero_promotion|
        %li.bjqs-slide
          = image_tag hero_promotion.image_url, title: hero_promotion.title

:javascript
    jQuery(function () {
      $('.hero-gallery-inner').bjqs({
            width       : 1800,
            height      : 380,
            responsive  : true
          });
    });

#social-link-widget
= link_to 'Invite Friends', 'http://www.plink.com/fake-refer-url', class: 'invite-friend-widget', data: { title: 'Join Plink for free today and receive a $5 gift card', description: 'Join Plink for free and receive a $5 gift card of your choice.  Earn the rewards you deserve every time you shop or dine out at Plink locations. Your $5 Gift Card Invitation: <url-goes-here>', image: 'http://plink-images.s3.amazonaws.com/plink_logo/90x90.jpg' }