.hero-gallery
  .hero-gallery-inner
    %ul.bjqs
      - @hero_promotions.each do |hero_promotion|
        %li.bjqs-slide
          = image_tag hero_promotion.image_url, title: hero_promotion.title

:javascript
    jQuery(function () {
      $('.hero-gallery-inner').bjqs({
            width       : 1800,
            height      : 380,
            responsive  : true
          });
    });

#social-links

:javascript
  gigya.socialize.showAddConnectionsUI({
                                         showTermsLink: 'false',
                                         showEditLink: 'true',
                                         hideGigyaLink: true,
                                         enabledProviders: 'facebook,twitter',
                                         height: 70,
                                         width: 175,
                                         containerID: 'social-links',
                                         'width':224,
                                         'height':70
                                       });

