---
http_interactions:
- request:
    method: post
    uri: https://oauth.intuit.com/oauth/v1/get_access_token_by_saml
    body:
      encoding: US-ASCII
      string: saml_assertion=PHNhbWwyOkFzc2VydGlvbiB4bWxuczpzYW1sMj0idXJuOm9hc2lzOm5hbWVz%0AOnRjOlNBTUw6Mi4wOmFzc2VydGlvbiIgSUQ9Il8wNDFlNzI2MjhjZTE0ZTA4%0AYjBmMzI2OGM2YzhlNjI4MyIgSXNzdWVJbnN0YW50PSIyMDE0LTAyLTEyVDIw%0AOjM2OjUxLjQ0MloiIFZlcnNpb249IjIuMCI%2BPHNhbWwyOklzc3Vlcj5wbGlu%0Aa2RldmFuZHFhZW52aXJvbm1lbnQuMzA1OTkuY2MuZGV2LWludHVpdC5pcHAu%0AcHJvZDwvc2FtbDI6SXNzdWVyPjxkczpTaWduYXR1cmUgeG1sbnM6ZHM9Imh0%0AdHA6Ly93d3cudzMub3JnLzIwMDAvMDkveG1sZHNpZyMiPjxkczpTaWduZWRJ%0AbmZvPjxkczpDYW5vbmljYWxpemF0aW9uTWV0aG9kI[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="93y7kwEGLtjvZJd62l6tE5O2vXwA0m2o344jrCKOM",
        oauth_signature="8aGInLEB73mfJ1D84VBgUjEMgbo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1392237412", oauth_token="qyprdGOh69DHphKvL1eASrS0lNFLvveLcmx3UnJE1QQnQhY1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Intuit-Tid:
      - gw-ac4dec67-a790-4167-be3f-e8f37cdb15a8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><InstitutionDetail
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/institution/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/common/v1\"><institutionId>100000</institutionId><institutionName>CC
        Bank</institutionName><homeUrl>http://www.intuit.com</homeUrl><address><ns2:country>USA</ns2:country></address><emailAddress>CustomerCentralBank@intuit.com</emailAddress><specialText>Welcome
        to  Bank of Intuit</specialText><currencyCode>USD</currencyCode><keys><key><name>Banking
        Password</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>2</displayOrder><mask>true</mask><instructions>Enter
        banking password (go)</instructions><description>Banking Password</description></key><key><name>Banking
        Userid</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>1</displayOrder><mask>false</mask><instructions>Enter
        banking userid (demo)</instructions><description>Banking Userid</description></key></keys></InstitutionDetail>"
  recorded_at: Wed, 12 Feb 2014 20:36:53 GMT
[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>bobloblaw</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>nohablaespanol</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="pnYsDPXSSeKB3F2p1dgooyfgfGI%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="9YqPSFM6eJZnLQ0hdDtbLyPCFvtNrPUtOuGxYgeDY2w", oauth_signature="As67n1t0Yy%2BK2XDleni65HuNeUk%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1392237414", oauth_token="qyprdGOh69DHphKvL1eASrS0lNFLvveLcmx3UnJE1QQnQhY1",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/xml
      Intuit-Tid:
      - gw-bd223440-5e63-43e0-8006-2c682553cd59
      Location:
      - http://qynprdccoreap51.data.ie.intuit.net:8080/rest-war/v1/logins/216850192/accounts
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><ns8:AccountList
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/account/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/bankingaccount/v1\"
        xmlns:ns3=\"http://schema.intuit.com/platform/fdatafeed/creditaccount/v1\"
        xmlns:ns4=\"http://schema.intuit.com/platform/fdatafeed/loanaccount/v1\" xmlns:ns5=\"http://schema.intuit.com/platform/fdatafeed/investmentaccount/v1\"
        xmlns:ns6=\"http://schema.intuit.com/platform/fdatafeed/rewardsaccount/v1\"
        xmlns:ns7=\"http://schema.intuit.com/platform/fdatafeed/otheraccount/v1\"
        xmlns:ns8=\"http://schema.intuit.com/platform/fdatafeed/accountlist/v1\"><ns5:InvestmentAccount><accountId>400012173140</accountId><status>ACTIVE</status><accountNumber>0000000001</accountNumber><accountNickname>My
        Retirement</accountNickname><displayPosition>10</displayPosition><institutionId>100000</institutionId><balanceAmount>212.36</balanceAmount><balanceDate>2014-02-12T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-02-12T12:36:55.134-08:00</aggrSuccessDate><aggrAttemptDate>2014-02-12T12:36:55.134-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>216850192</institutionLoginId><ns5:investmentAccountType>401K</ns5:investmentAccountType><ns5:currentBalance>212.36</ns5:currentBalance></ns5:InvestmentAccount><ns5:InvestmentAccount><accountId>400012173141</accountId><status>ACTIVE</status><accountNumber>2000004444</accountNumber><accountNickname>My
        Roth IRA</accountNickname><displayPosition>3</displayPosition><institutionId>100000</institutionId><balanceAmount>212.36</balanceAmount><balanceDate>2014-02-12T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-02-12T12:36:55.134-08:00</aggrSuccessDate><aggrAttemptDate>2014-02-12T12:36:55.134-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>216850192</institutionLoginId><ns5:investmentAccountType>TAXABLE</ns5:investmentAccountType><ns5:currentBalance>212.36</ns5:currentBalance></ns5:InvestmentAccount><ns3:CreditAccount><accountId>400012173142</accountId><status>ACTIVE</status><accountNumber>4100007777</accountNumber><accountNickname>My
        Visa</accountNickname><displayPosition>2</displayPosition><institutionId>100000</institutionId><balanceDate>2014-02-12T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-02-12T12:36:55.134-08:00</aggrSuccessDate><aggrAttemptDate>2014-02-12T12:36:55.134-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>216850192</institutionLoginId><ns3:creditAccountType>CREDITCARD</ns3:creditAccountType><ns3:currentBalance>-212.36</ns3:currentBalance><ns3:paymentMinAmount>15</ns3:paymentMinAmount><ns3:paymentDueDate>2020-04-01T00:00:00-07:00</ns3:paymentDueDate><ns3:statementEndDate>2020-03-01T00:00:00-08:00</ns3:statementEndDate><ns3:statementCloseBalance>-212.36</ns3:statementCloseBalance></ns3:CreditAccount><ns5:InvestmentAccount><accountId>400012173143</accountId><status>ACTIVE</status><accountNumber>0000000000</accountNumber><accountNickname>My
        Brokerage</accountNickname><displayPosition>9</displayPosition><institutionId>100000</institutionId><balanceAmount>212.36</balanceAmount><balanceDate>2014-02-12T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-02-12T12:36:55.134-08:00</aggrSuccessDate><aggrAttemptDate>2014-02-12T12:36:55.134-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>216850192</institutionLoginId><ns5:investmentAccountType>TAXABLE</ns5:investmentAccountType><ns5:currentBalance>212.36</ns5:currentBalance></ns5:InvestmentAccount><ns2:BankingAccount><accountId>400012173144</accountId><status>ACTIVE</status><accountNumber>2000005555</accountNumber><accountNickname>My
        CD</accountNickname><displayPosition>8</displayPosition><institutionId>100000</institutionId><balanceAmount>212.36</balanceAmount><balanceDate>2014-02-12T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-02-12T12:36:55.134-08:00</aggrSuccessDate><aggrAttemptDate>2014-02-12T12:36:55.134-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>216850192</institutionLoginId><ns2:bankingAccountType>CD</ns2:bankingAccountType></ns2:BankingAccount><ns3:CreditAccount><accountId>400012173145</accountId><status>ACTIVE</status><accountNumber>8000006666</accountNumber><accountNickname>My
        Line of Credit</accountNickname><displayPosition>4</displayPosition><institutionId>100000</institutionId><balanceDate>2014-02-12T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-02-12T12:36:55.134-08:00</aggrSuccessDate><aggrAttemptDate>2014-02-12T12:36:55.134-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>216850192</institutionLoginId><ns3:creditAccountType>LINEOFCREDIT</ns3:creditAccountType><ns3:currentBalance>-212.36</ns3:currentBalance></ns3:CreditAccount><ns4:LoanAccount><accountId>400012173146</accountId><status>ACTIVE</status><accountNumber>1000000001</accountNumber><accountNickname>My
        Mortgage</accountNickname><displayPosition>5</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>212.36</balanceAmount><balanceDate>2014-02-12T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-02-12T12:36:55.134-08:00</aggrSuccessDate><aggrAttemptDate>2014-02-12T12:36:55.134-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>BND</currencyCode><institutionLoginId>216850192</institutionLoginId><ns4:loanType>MORTGAGE</ns4:loanType><ns4:nextPayment>212.36</ns4:nextPayment><ns4:nextPaymentDate>2020-04-01T00:00:00-07:00</ns4:nextPaymentDate><ns4:autopayEnrolled>true</ns4:autopayEnrolled><ns4:collateral>212.36</ns4:collateral><ns4:currentSchool>Cur
        School</ns4:currentSchool><ns4:firstPaymentDate>2020-04-01T00:00:00-07:00</ns4:firstPaymentDate><ns4:guarantor>Guarantor</ns4:guarantor><ns4:firstMortgage>false</ns4:firstMortgage><ns4:loanPaymentFreq>MONTHLY</ns4:loanPaymentFreq><ns4:paymentMinAmount>212.36</ns4:paymentMinAmount><ns4:originalSchool>Orig
        School</ns4:originalSchool><ns4:recurringPaymentAmount>212.36</ns4:recurringPaymentAmount><ns4:lender>Lender</ns4:lender></ns4:LoanAccount><ns2:BankingAccount><accountId>400012173147</accountId><status>ACTIVE</status><accountNumber>1000001111</accountNumber><accountNickname>My
        Checking</accountNickname><displayPosition>6</displayPosition><institutionId>100000</institutionId><balanceAmount>212.36</balanceAmount><balanceDate>2014-02-12T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-02-12T12:36:55.134-08:00</aggrSuccessDate><aggrAttemptDate>2014-02-12T12:36:55.134-08:00</aggrAttemptDate>[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/216850192/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="YYNmyjec6VoJTsV7tu8OdlnT8x2DscaL9Mr13GLnOdo",
        oauth_signature="PXoQP%2BaKn1Ix3rXdIMDmopTowKc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1392237415", oauth_token="qyprdGOh69DHphKvL1eAS[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/accounts/400012173142/transactions?txnStartDate=2014-01-29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="1mnw1T03V3Bl2wfKbB7o7ieOfsomZgDXu50QYF9gKpc",
        oauth_signature="IrZm10Yh9c46AT%2FHQULDQvAFne4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1392237424", o[...]
[...]
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="nkJb4mMWcm8r6FlxfBXTlUVNWlFbYjWIJKFygv5y7CE",
        oauth_signature="jbIFpMG9Eg58OpwL6NM56L5a%2B28%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1392237449", oauth_token="qyprdGOh69DHphKvL1eASrS0lNFLvveLcmx3UnJE1QQnQhY1",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      Intuit-Tid:
      - gw-accbc2ed-c6c1-4dc6-b6b0-948c96969847
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 12 Feb 2014 20:37:30 GMT
recorded_with: VCR 2.8.0
