---
http_interactions:
- request:
    method: post
    uri: https://oauth.intuit.com/oauth/v1/get_access_token_by_saml
    body:
      encoding: US-ASCII
      string: saml_assertion=PHNhbWwyOkFzc2VydGlvbiB4bWxuczpzYW1sMj0idXJuOm9hc2lzOm5hbWVz%0AOnRjOlNBTUw6Mi4wOmFzc2VydGlvbiIgSUQ9Il82OTNlYjJkMjI5NmQ0ZTcx%0AYWYyNzM3MDEyNzQ3Y2M3ZiIgSXNzdWVJbnN0YW50PSIyMDE0LTAxLTI3VDE5%0AOjI0OjI0LjEzMVoiIFZlcnNpb249IjIuMCI%2BPHNhbWwyOklzc3Vlcj5wbGlu%0Aa2RldmFuZHFhZW52aXJvbm1lbnQuMzA1OTkuY2MuZGV2LWludHVpdC5pcHAu%0AcHJvZDwvc2FtbDI6SXNzdWVyPjxkczpTaWduYXR1cmUgeG1sbnM6ZHM9Imh0%0AdHA6Ly93d3cudzMub3JnLzIwMDAvMDkveG1sZHNpZyMiPjxkczpTaWduZWRJ%0AbmZvPjxkczpDYW5vbmljYWxpemF0aW9uTWV0aG9kI[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="6jMb0c39wcwDu4eeKIjZTfIfgvhThasAH0vRyFSUy8",
        oauth_signature="YvFZC0%2B%2FfJc%2BZKiASMH5S6ULhjo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390850665", oauth_token="qyprdVNBuVJSvLhriCFAd1YxCSFg7aJiYBVmBSIwAjO8Ozqr",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      intuit_tid:
      - gw-53de7a98-c497-4fbd-9032-bbe77959cc42
      content-type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><InstitutionDetail
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/institution/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/common/v1\"><institutionId>100000</institutionId><institutionName>CC
        Bank</institutionName><homeUrl>http://www.intuit.com</homeUrl><address><ns2:country>USA</ns2:country></address><emailAddress>CustomerCentralBank@intuit.com</emailAddress><specialText>Welcome
        to  Bank of Intuit</specialText><currencyCode>USD</currencyCode><keys><key><name>Banking
        Userid</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>1</displayOrder><mask>false</mask><instructions>Enter
        banking userid (demo)</instructions><description>Banking Userid</description></key><key><name>Banking
        Password</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>2</displayOrder><mask>true</mask><instructions>Enter
        banking password (go)</instructions><description>Banking Password</description></key></keys></InstitutionDetail>"
  recorded_at: Mon, 27 Jan 2014 19:24:26 GMT
[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>bobloblaw</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>nohablaespanol</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="pnYsDPXSSeKB3F2p1dgooyfgfGI%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="iIO6WYMuq9kxj0LjRPtmdlWK8GO44kONBVSUGDh34k", oauth_signature="UzbjZok36oWj%2BW6sspoY2bQE4Pk%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390850668", oauth_token="qyprdVNBuVJSvLhriCFAd1YxCSFg7aJiYBVmBSIwAjO8Ozqr",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      intuit_tid:
      - gw-083a5da8-08f3-4661-80cd-117d2f102282
      content-type:
      - application/xml
      location:
      - http://qynprdccoreap50.data.ie.intuit.net:8080/rest-war/v1/logins/194070127/accounts
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><ns8:AccountList
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/account/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/bankingaccount/v1\"
        xmlns:ns3=\"http://schema.intuit.com/platform/fdatafeed/creditaccount/v1\"
        xmlns:ns4=\"http://schema.intuit.com/platform/fdatafeed/loanaccount/v1\" xmlns:ns5=\"http://schema.intuit.com/platform/fdatafeed/investmentaccount/v1\"
        xmlns:ns6=\"http://schema.intuit.com/platform/fdatafeed/rewardsaccount/v1\"
        xmlns:ns7=\"http://schema.intuit.com/platform/fdatafeed/otheraccount/v1\"
        xmlns:ns8=\"http://schema.intuit.com/platform/fdatafeed/accountlist/v1\"><ns2:BankingAccount><accountId>400011492857</accountId><status>ACTIVE</status><accountNumber>1000001111</accountNumber><accountNickname>My
        Checking</accountNickname><displayPosition>6</displayPosition><institutionId>100000</institutionId><balanceAmount>127.24</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:24:30.401-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:24:30.401-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>BND</currencyCode><institutionLoginId>194070127</institutionLoginId><ns2:bankingAccountType>CHECKING</ns2:bankingAccountType></ns2:BankingAccount><ns5:InvestmentAccount><accountId>400011492858</accountId><status>ACTIVE</status><accountNumber>0000000001</accountNumber><accountNickname>My
        Retirement</accountNickname><displayPosition>10</displayPosition><institutionId>100000</institutionId><balanceAmount>127.24</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:24:30.401-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:24:30.401-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>194070127</institutionLoginId><ns5:investmentAccountType>401K</ns5:investmentAccountType><ns5:currentBalance>127.24</ns5:currentBalance></ns5:InvestmentAccount><ns5:InvestmentAccount><accountId>400011492859</accountId><status>ACTIVE</status><accountNumber>2000004444</accountNumber><accountNickname>My
        Roth IRA</accountNickname><displayPosition>3</displayPosition><institutionId>100000</institutionId><balanceAmount>127.24</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:24:30.401-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:24:30.401-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>194070127</institutionLoginId><ns5:investmentAccountType>TAXABLE</ns5:investmentAccountType><ns5:currentBalance>127.24</ns5:currentBalance></ns5:InvestmentAccount><ns4:LoanAccount><accountId>400011492860</accountId><status>ACTIVE</status><accountNumber>8000008888</accountNumber><accountNickname>My
        Auto Loan</accountNickname><displayPosition>1</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>127.24</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:24:30.401-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:24:30.401-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>194070127</institutionLoginId><ns4:loanType>LOAN</ns4:loanType><ns4:nextPayment>127.24</ns4:nextPayment><ns4:nextPaymentDate>2020-04-01T00:00:00-07:00</ns4:nextPaymentDate><ns4:autopayEnrolled>true</ns4:autopayEnrolled><ns4:collateral>127.24</ns4:collateral><ns4:currentSchool>Cur
        School</ns4:currentSchool><ns4:firstPaymentDate>2020-04-01T00:00:00-07:00</ns4:firstPaymentDate><ns4:guarantor>Guarantor</ns4:guarantor><ns4:firstMortgage>false</ns4:firstMortgage><ns4:loanPaymentFreq>MONTHLY</ns4:loanPaymentFreq><ns4:paymentMinAmount>127.24</ns4:paymentMinAmount><ns4:originalSchool>Orig
        School</ns4:originalSchool><ns4:recurringPaymentAmount>127.24</ns4:recurringPaymentAmount><ns4:lender>Lender</ns4:lender></ns4:LoanAccount><ns4:LoanAccount><accountId>400011492861</accountId><status>ACTIVE</status><accountNumber>1000000001</accountNumber><accountNickname>My
        Mortgage</accountNickname><displayPosition>5</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>127.24</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:24:30.401-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T1[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/194070127/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="smwhsQqejqNR83S7UrSYQeLUCn934amLS9OTEqRPxE",
        oauth_signature="YrEXGUvjYMHBKZbAIlbadFcnXkQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390850673", oauth_token="qyprdVNBuVJSvLhriCFAd1Yx[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/accounts/400011492857/transactions?txnStartDate=2014-01-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="qdfMlQ9Inq36hwCs1HvNFcnzPmHMbdROb0FC32UE",
        oauth_signature="dWN%2FuYpS9V1CmAoTrS3VtgRNe0s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390850683", oaut[...]
[...]
- request:
    method: put
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/194070127?refresh=true
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>tfa_text</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>mmmmbacon</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="94hPH21Qu1rgx8T34ZiEGxKph0M%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="av1jCbg54FilFQU2hK1rOgkYztcQxUnANsFf9FurzE", oauth_signature="bUFGssdrnjNK3AF4NE058DILdWw%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390850696", oauth_token="qyprdVNBuVJSvLhriCFAd1YxCSFg7aJiYBVmBSIwAjO8Ozqr",
        oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      intuit_tid:
      - gw-4dc12f85-1913-406b-a9ee-cda2b7e23747
      content-type:
      - application/xml
      challengenodeid:
      - 10.136.17.83
      challengesessionid:
      - 3adf165a-c40d-4ffe-a915-a4fd445ce328
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><Challenges
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/challenge/v1\"><challenge><text>Enter
        your first pet's name:</text></challenge></Challenges>"
  recorded_at: Mon, 27 Jan 2014 19:24:58 GMT
- request:
    method: put
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/194070127?refresh=true
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><challengeResponses><response
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/challenge/v1\">succeed</response></challengeResponses></InstitutionLogin>"
    headers:
      challengesessionid:
      - 3adf165a-c40d-4ffe-a915-a4fd445ce328
      challengenodeid:
      - 10.136.17.83
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="pOjO59RJ7ayQrR4kBLNf6yf3jg4%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="lnnH1Li2ZbHb7KBPjL3jtaBE8b9pS6rHYn5UFjCxI", oauth_signature="cppIXmIDajiLEG3tgAUPnMKkkME%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390850702", oauth_token="qyprdVNBuVJSvLhriCFAd1YxCSFg7aJiYBVmBSIwAjO8Ozqr",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
      intuit_tid:
      - gw-12273fbb-e99b-4cf4-a02e-93a334d82276
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:25:09 GMT
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="2QAyTdG3W630HW97cyeEfk9DNC6RhM5hGORuXwrukJU",
        oauth_signature="hmmqWSvvB8tFpy3b58goPM68C6g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390850714", oauth_token="qyprdVNBuVJSvLhriCFAd1YxCSFg7aJiYBVmBSIwAjO8Ozqr",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
      intuit_tid:
      - gw-4a959a4c-c6b4-4ced-a9e2-088413e2e6a5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:25:17 GMT
recorded_with: VCR 2.8.0
