.account
  .left-column
    .flag
      %h2.white SETTINGS
    .content
      %h4 Account Status
      %img{ :class => "status-img", :src => "/assets/icon_active.png", :alt => "Your account is active"}
      %h3.green Active
    %hr
    .content
      %h4 Email
      %h3.bold kris@plink.com
      %a Change
    %hr  
    .content
      %h4 Email Preferences
      %input.checkbox{:type => "checkbox"}
      %label.label I want to hear about deals and promotions from Plink via email.
    %hr
    .content
      %h4 Password
      %h3.bold ******
      %a Change   
    %hr
    .content
      %h4 Your Bank
      %h3.bold CHASE BANK
      %a Change
    %hr
    .content
      %h4 Your Card
      %h3.bold CREDIT CARD 9876
      %a Change

%br
%h3 Change Setting Fields
.account
  .left-column
    .flag
      %h2.white SETTINGS
    .content
      %h4 Account Status
      %img{ :class => "status-img", :src => "/assets/icon_alert_pink.png", :alt => "Your account is inactive"}
      %h3.pink Inactive
      %a Reverify   
    %hr
    .content
      %h4 Email
      %h3.bold kris@plink.com
      %a Change
      .change
        .field
          %h2 Enter your new email address:
          %input.form-field.input{:value => 'New Email Address'}
        .field
          %h2 Enter your password:
          %input.form-field.input{:value => 'Password'}  
        .cancel-btn
          %button.button.secondary-action Cancel
        .submit-btn    
          %button.button.primary-action Change Your Email
    %hr  
    .content
      %h4 Email Preferences
      %input.checkbox{:type => "checkbox"}
      %label.label I want to hear about deals and promotions from Plink via email.      
    %hr
    .content
      %h4 Password
      %h3.bold ******
      %a Change  
      .change
        .field
          %h2 Enter your current password:
          %input.form-field.input{:value => 'Current Password'}
        .field  
          %h2 Enter your new password:
          %input.form-field.input{:value => 'New Password'}
        .field  
          %h2 Confirm your new password:
          %input.form-field.input{:value => 'Confirm New Password'}
        .cancel-btn
          %button.button.secondary-action Cancel
        .submit-btn    
          %button.button.primary-action Change Your Password   
    %hr
    .content
      %h4 Your Bank
      %h3.bold CHASE BANK
      %a Change
    %hr
    .content
      %h4 Your Card
      %h3.bold CREDIT CARD 9876
      %a Change

