*.sassc
.sass-cache
capybara-*.html
.rspec
.DS_Store
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
doc/dependencies.db
doc/dependencies.html
**.orig
rerun.txt
database.yml
gigya_keys.yml
.DS_Store
