*.sassc
.sass-cache
capybara-*.html
.rspec
.DS_Store
/.bundle
/vendor/bundle
/gems/tango/vendor/bundle
/gems/tango/.bundle
/gems/plink_admin/vendor/bundle
/gems/plink_admin/.bundle
/gems/plink/vendor/bundle
/gems/plink/.bundle
/gems/gigya/vendor/bundle
/gems/gigya/.bundle
/log/*
*.log
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
doc/dependencies.db
doc/dependencies.html
**.orig
rerun.txt
database.yml
sendgrid.yml
gigya_keys.yml
tango.yml
lyris.yml
intuit.yml
.DS_Store
.idea
.env
Checkfile
newrelic.yml
exceptional.yml
elasticsearch.yml
salt.yml
