*.sassc
.sass-cache
capybara-*.html
.rspec
.DS_Store
/.bundle
/vendor/bundle
/log/*
*.log
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
doc/dependencies.db
doc/dependencies.html
**.orig
rerun.txt
database.yml
sendgrid.yml
gigya_keys.yml
tango.yml
.DS_Store
.idea
.env
Checkfile
newrelic.yml
