.field_with_errors input {
  border-color: #c60f13;
  background-color: rgba(198, 15, 19, 0.1);
}

.field_with_errors input:focus {
  background: #fafafa;
  border-color: #999999;
}

.field_with_errors label {
  color: #c60f13;
}

.open-wallet-items {
  a {
    margin-left: 10px;
  }
}

.dateselect select {
  width:100px;
}

.hidden {
  display: none;
}

//
// Contest Statistics:
//
.last-row {
  font-weight: bold;
  font-style: italic;
}

//
// Registration Links:
//
.extra-margin-top {
  margin-top: 25px !important;
}

//
// Tango Shutdown:
//
.giant-button {
  margin: 0 auto;
  width: 800px;
}

//
// Hero Promotions
//
.hero-promotion-image {
  max-width: 700px;
  max-height: 150px;
}
