.clear{
  clear:both;
}

.field_with_errors input {
  border-color: #c60f13;
  background-color: rgba(198, 15, 19, 0.1);
}

.field_with_errors input:focus {
  background: #fafafa;
  border-color: #999999;
}

.field_with_errors label {
  color: #c60f13;
}

.open-wallet-items {
  a {
    margin-left: 10px;
  }
}

.dateselect select {
  width:100px;
}

.on_one_line {
  clear:left;
}
.on_one_line input[type='radio'] {
  width:20px;
}

.on_one_line input {
  width:100px;
  float:left;
  margin-right:10px;
  line-height:32px;
}

.on_one_line label  {
  float:left;
  padding-right:10px;
}

.hidden {
  display: none;
}
.js-remove-prize-level {
  padding-top:3px;
}

//
// Contest Statistics:
//
.last-row {
  font-weight: bold;
  font-style: italic;
}

//
// Registration Links:
//
.extra-margin-top {
  margin-top: 25px !important;
}

//
// Tango Shutdown:
//
.giant-button {
  position:relative;
  margin: 0 auto;
  width: 800px;
}

//
// Hero Promotions
//
.hero-promotion-image {
  max-width: 700px;
  max-height: 150px;
}

//
// Global Login Tokens
//

.expiring td {
  color: red;
}

//
// Sign In/Out Button
//

.auth {
  position:fixed;
  right: 0%;
}
