.modal.width-500
  %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
  %h1.font-2em.font-w700.font-cyan Congratulations!
  %p.font-1p2em.font-w300 You’re on your way to earning rewards when you dine & shop at over 75,000 locations nationwide.

  .bg-element
    %h2.font-1p2em.font-w500 Want to win a PlayStation®4?
    %p.font-1em.font-w300 Share the PlayStation®4 Giveaway with your friends for your chance to win. As an added bonus, get up to 100 extra entries per day for each friend that joins.
    %button.button.primary-action.mtl Share to Enter Contest
  = link_to 'No Thanks - Complete My Registration', '#', class:'text-link font-w300'