.static.contest-terms
  %h2.cyan PLINK’S SPOOKTACULAR HALLOWEEN GIVEAWAY OFFICIAL RULES
  %p
    NO PURCHASE OR OTHER CONSIDERATION IS NECESSARY TO PLAY OR WIN A PRIZE. A PURCHASE OR PROVIDING OTHER CONSIDERATION WILL NOT INCREASE CHANCES OF WINNING. INTERNET ACCESS, A VALID EMAIL ADDRESS, A FREE PLINK MEMBERSHIP AND A CONNECTION TO A SOCIAL NETWORK ARE REQUIRED TO PLAY ONLINE. EACH WINNER MAY BE REQUIRED TO PARTICIPATE IN THE PRIZE FULFILLMENT PROCESS AND SIGN DOCUMENTATION, SUCH AS A RELEASE, AS MORE FULLY DETAILED BELOW.
  %p
    BY PARTICIPATING, YOU AGREE TO THESE OFFICIAL RULES, WHICH ARE A CONTRACT. WITHOUT LIMITATION, THIS CONTRACT INCLUDES INDEMNITIES (DEFINED BELOW) FROM YOU AND A LIMITATION OF YOUR RIGHTS AND REMEDIES. AS MORE FULLY DETAILED BELOW, YOU AGREE THAT ALL DISPUTES ASSOCIATED WITH THE GAME (DEFINED BELOW) WILL BE DECIDED BY BINDING ARBITRATION (SEE RULE 15).
  %p
    Please read the following Official Rules carefully. If you do not agree to the Official Rules, do not participate in this Game. By accessing, using, or downloading in any way, without limitation, any materials from this Game or merely browsing the Game, you agree to and are bound by these Official Rules. Plink reserves the right to change the Official Rules at any time, without prior notice to any Game participant  ("Participant"). If you breach any of the Terms and Conditions, your authorization to play this Game automatically terminates.
  %span
    %h4.strong
      1. PROMOTION.
  %p
    The “Plink's Spooktacular Halloween Giveaway” (referred to as the “Game”) begins at 03:00:00 p.m. MDT on Oct 8, 2013 and ends at 02:59:59 p.m. MDT on Nov. 1, 2013 (“Game Play Period”) The Game is available in the fifty (50) United States, and the District of Columbia (“DC”) (collectively, the “Territory”), except where prohibited by applicable laws and regulations. The Game is governed by these Official Rules.
  %p
    Except as otherwise stated, all times shall be United States Mountain Daylight Savings Time (“MDT”). A day is the 24-hour period beginning at 12:00:00 a.m. and ending the following 11:59:59 p.m. (a “Day”).
  %span
    %h4.strong
      2. WHO IS ELIGIBLE TO PLAY/TO WIN.
  %p
    A. Eligibility: The Game is open only to individuals who are residents of the Territory and who are thirteen (13) years of age or older on the Day of the beginning of registration (see Rule 4A). Persons in any of the following categories are NOT eligible to participate in the Game: any person who on or after September 15, 2013, was or is (a) an employee, director, officer, employee, agent, or independent contractor of Plink, Inc.;  or  (b) an immediate family member (defined as spouse, IRS-dependent, or biological, foster, in-law, adoptive or step- mother, father, sister, brother, daughter or son) of, or who reside in the same household as, any person in (a) above.
  %p
    B. Agreement To Official Rules: The Game is conducted in the Territory by Plink, Inc. (the “Sponsor”). Each person who plays the Game (each a “Participant”), and his or her parent or legal guardian if the Participant is an eligible minor, unconditionally accepts and agrees to comply with and abide by these Official Rules and the decisions of Sponsor, which shall be final and binding with respect to all aspects of the Game.
  %p
    C. To Be Eligible To Win: Winning any prize requires that the potential winner of the prize is, and remains, in compliance with these Official Rules. Until a potential winner is verified to be eligible and in compliance with these Official Rules, the potential winner is, and will remain, a potential prize winner. A potential winner will be disqualified for not complying with the Official Rules and/or not being eligible to participate in the Game (see Rule 10, “Verification”). Sponsor reserves the right in its sole discretion to disqualify any potential winner who Sponsor determines is not permitted by law to receive a prize. Sponsor reserves the right to refrain from conducting any advertising or publicity associated with a winner for any reason.
  %span
    %h4.strong
      3. HOW TO PLAY/GAME ODDS:
  %p
    You can enter the Game either (a) Online at www.plink.com (“Official Website”); or (b) Without consideration using an alternate method of entry (sec. B)
  %p
    A. Game Registration Information: To participate in the Game online, an individual who is a resident of the Territory and thirteen (13) years of age or older must be a Plink member, which requires that the participant complete the Plink online registration (“Online Registration”), and must link their Plink membership with their Facebook or Twitter account . Plink Online Registration does not require that the member link a bank card (credit or debit) to their Plink account; however, linking a bank card will result in more entries in the Game.
  %p
    (i) To register, simply access the Official Website (www.plink.com) by using a computer or other digital device that can access the internet (see Rule 12 for Device Requirements). When using certain digital devices, message & data rates may apply (consult your service provider).
  %p
    (ii) Contest page: Once logged into their account, when the Participant clicks the “Enter Now” button on the Game page, the participant will get one (1) Game entry for each linked  Facebook and Twitter account (for a maximum of two (2) Game entries). Game entry can be done once per day. These Game entries will be multiplied for the following reasons:
  %p
    (a)  If the Participant has linked a bank card (credit or debit) prior to the Game entry, their total Game entries will be multiplied by five (5).
  %p
    (b)  If the Participant has referred a friend to Plink.com who has become a new Plink member in good standing and that referral has also linked a bank card (credit or debit) to their account prior to the Game entry, the Participant’s Game entries will be multiplied by ten (10).
  %p
    The maximum number of Game entries per Participant per day is three hundred (300).
    Note: Sponsor is not responsible for any entries that may be lost due to power loss or computer-related interruption of a Game entry.
  %p
    B. Without Consideration (alternate method of entry “AMOE”): A Participant can request entries without following the above requirements for playing the Game online by sending a 3 inch x 5 inch card on which the player has legibly handwritten the participant's email address, First and Last Name, Complete Mailing Address (e.g. Street, City, State, ZIP code), Date of Birth, the date that the participant would like to enter (each day in the contest requires a separate card) in mm/dd/yyyy format and the name of this Game (which is the Plink $1000 Giveaway). The card must be placed in a #10 envelope, and mailed to Plink, 2000 S. Colorado Blvd, Tower 1 – Suite 7000, Denver, CO 80222. All cards must be received by Plink before the end of the Game Play Period. No photocopies, reproductions or facsimiles of the 3 inch x 5 inch card are allowed. Limit: 1 card per envelope. For each mailed in entry that complies with the above requirements, the Participant will receive three hundred (300) entries, which is the maximum number of entries that can be earned in a day by participating online.  Mailed entries that otherwise fail to comply with these requirements will NOT be honored.  Postcards will not be acknowledged or returned.  The odds of winning any prize will be the same by mail in entry as by entering online.  Submitting mailed entries constitutes Participant's agreement to these Official Rules.
  %p
    C. Transfers: The transfer of Game entries by a Participant to another person is strictly prohibited.
  %p
    D. Game Winners: On or about November 1, 2013, one hundred and fifty winners (150) will be selected in a random prize drawing from among all eligible entries received for the Game. The potential winners will be contacted by email and through their facebook accounts within two (2) business Days after the drawing. The odds of winning a prize in the Game depends on the number of eligible entries received.
  %span
    %h4.strong
      4. PRIZES:
  %p
    Place  Prize (in Plink Points)
    %br
    1  35,000
    %br
    2  10,000
    %br
    3  5,000
    %br
    4  2,500
    %br
    5 through 24  1,000
    %br
    25 through 74  500
    %br
    81 through 130  200
    %br
    75 through 150  100
  %p
    The First Prize of the Apple iPad 2 is awarded as a total of 35,000 (thirty five thousand) Plink Points which is the amount needed to redeem for $350 (three hundred and fify) in Walmart gift cards on Plink.com. The iPad model is the Apple iPad 16GB with Wi-Fi with free site to store shipping (http://www.walmart.com/ip/Apple-iPad-2-16GB-with-Wi-Fi-Black-or-White/22144351), which, as of October 8, 2013 was available for $349.00. However, the winner may also select any other available rewards with the 35,000 Plink points.
  %p
    Apple and Walmart have not endorsed, nor are they a partner or affiliated with this promotion. This promotion is offered solely by Plink.
  %p
    All income taxes (including, without limitation, federal, state, and/or local income taxes) on or connected with any prize, and the reporting consequences thereof, are solely the responsibility of respective winners. A Federal Form 1099 will be issued for any prize valued at $600 or more, for the tax year the prize is received. If required by law, Sponsor reserves the right to withhold and remit to the appropriate taxing authorities the amount of any taxes due. Expenses not stated for any prize are the sole responsibility of the winner. If a potential winner cannot accept a prize as stated, that prize will be forfeited in its entirety and awarded to an alternate winner. If a winner is a minor in their jurisdiction of residence, a prize may be awarded in the name of, or to, winner’s parent/legal guardian, who must execute all documents and agree to all obligations and undertakings of a winner, both on behalf of themself and the winner, or the prize may be forfeited in its entirety.
  %span
    %h4.strong
      5. VERIFICATION.
  %p
    Each Participant acknowledges and agrees that the decisions of Sponsor shall be final, binding and conclusive in all matters relating to the Game, including, without limitation, determinations regarding the validity of Game entries and Game winners. A potential winner may be requested to provide the Sponsor with proof that the potential winner is the authorized account holder of the email address associated with the winning entry. If a dispute cannot be resolved to Sponsor's sole satisfaction, the entry will be deemed ineligible.
  %span
    %h4.strong
      6. GENERAL RELEASE AND CONDITIONS OF PARTICIPATION.
  %p
    Sponsor is not responsible for: (a) incomplete, illegible, misdirected, late, lost, damaged, stolen, non-delivered, or postage-due submissions of Game entries, or any mail; (b) any damage to an entrant’s or other person’s computer system or Digital Device which is caused or occasioned by accessing the Game website or redemption pages, participating in the Game or claiming an Game prize; (c) lost, interrupted, inaccessible or unavailable networks, servers, satellites, Internet, Digital Device or Wireless Service Providers, websites, or other connection, availability or accessibility problems arising in connection with or over the course of the Game; (d) miscommunications, failed, jumbled, scrambled, delayed, dropped, interrupted, lost, non-delivered or misdirected computer, telephone, Digital Device, email or cable transmissions or hardware or software or program or programming malfunctions, failures or difficulties; (e) any technical malfunctions, failures, or difficulties, printing errors, color discrepancies, clerical, typographical or other error in any Game documentation; or (f) any errors or failures of any kind, whether human, mechanical, clerical, electronic, interruption of power, digital or technical in nature, or unauthorized human intervention; (g) any incorrect or inaccurate information, whether caused by Official Website users, tampering, hacking, or by any equipment or programming associated with, or utilized in, the Game; or (h) the incorrect or inaccurate capture of information, or the failure to capture or loss of any information. Sponsor shall not be responsible to correspond with Participants. By participating in the Game each Participant hereby releases and agrees to hold the Sponsor and its affiliated entities and their respective officers, directors, employees, agents, members, shareholders, contractors and others ("Game Entities") harmless from and against any and all costs, injuries, losses or damages of any kind, including, without limitation, property damage, death and bodily injury (whether due to negligence or otherwise), due in whole or in part, directly or indirectly, to participation in the Game or any Game-related and/or travel-related activity, or participation in any prize-related activities, or the receipt, use or misuse of any prize. Participants waive the right to assert as a cost of winning any prize, any and all costs of verification and redemption or travel to claim said prize and any liability and publicity which might arise. Each verified winner hereby agrees and grants Sponsor the right, but not the obligation, to the use of his or her name, voice and likeness, along with his or her address (city and state) and any statements made by or attributed to such winner in any and all media, now known or hereafter devised, without notice, review or approval, in perpetuity and throughout the universe for advertising, commercial and promotional purposes in connection with the Game and other promotions without further compensation (except where prohibited by law), and releases the Game Entities from any liability with respect thereto.
  %span
    %h4.strong
      7. ONLINE COMPUTER SYSTEM DEVICE REQUIREMENTS.
  %p
    A. Desktop/Laptop System Requirements:
  %p
    Supported Browsers:
    %br
    PC (Windows 7): Internet Explorer® 9, 10; Google Chrome™ 24, 25. Firefox® 18, 19.
    Mac (Mac OS 10.7): Firefox 18, 19; Safari® 5.1 or 6.
    The Game website on a desktop/laptop is optimized for use with a 1024x768 screen resolution. Using a screen resolution lower than 1024x768 may result in a Participant not being able to play the Game.
  %p
    Note: Non-Supported Browsers and Devices may be served a page stating the Participant’s browser or device is not supported with links to external pages (not associated with the Promotion or Sponsor) to update the Participant’s browser or direct the entrant to play on a supported desktop/laptop computer to participate. Using a browser or device not supported may prevent participation in the Game.
  %p
    While all efforts are made to support current browsers and devices, new browsers and devices may not be supported if brought to market after the development of the Promotion. Sponsor may not be held responsible for any browser or device supporting issues.
  %span
    %h4.strong
      8. MISCELLANEOUS.
  %p
    A. Disqualification: It is the Participant’s sole responsibility to ensure that they have complied in full with all conditions and requirements contained in these Official Rules. If any potential winner is found to be ineligible, or if they have not complied with these Official Rules, or declines a prize for any reason prior to award, such potential winner will be disqualified and the prize forfeited, except that Sponsor will attempt to contact up to three (3) alternates in order to award the prize. No mechanically reproduced, illegible, incomplete, forged, software-generated, third party or other automated or robotic entries, in whole or in part, will be accepted. Entries made by any individual or any entity other than the Participant and/or originating by any other mechanism, including but not limited to commercial sweepstakes subscription notification and/or entering services, will be declared invalid and disqualified from this Game. Sponsor reserves the right in its sole discretion to disqualify any individual who is found to be tampering with the entry process or the operation of the Game; to be acting in violation of these Official Rules; or to be acting in an unsportsmanlike or disruptive manner, or with the intent to disrupt or undermine the legitimate operation of the Game, or to annoy, abuse, threaten or harass any other person. The Sponsor reserves the right to seek damages and other remedies from any such person to the fullest extent permitted by law.
  %p
    B. Force Majeure/Printing and Production Errors: Sponsor reserves the right, without prior notice and at any time, to terminate the Game, in whole or in part, or modify, suspend or extend the Game in any way, if it determines in its sole discretion, that the Game is impaired or corrupted or that fraud or technical problems, failures, malfunctions, or errors (including, without limitation, computer viruses or other deleterious programs or materials, glitches or printing or production errors) have destroyed or severely undermined the proper play, integrity, and/or feasibility of the Game. In the event Sponsor is prevented from continuing with the Game as contemplated herein by any event beyond its control, including but not limited to fire, flood, natural or man-made health epidemic, earthquake, explosion, labor dispute or strike, act of God or public enemy, satellite or equipment failure, riot or civil disturbance, terrorist threat or activity, war (declared or undeclared) or any federal, state, provincial or local government law, order, or regulation, public health crisis, order of any court or jurisdiction, or other cause not reasonably within Sponsor’s control (each a “Force Majeure” event or occurrence), then subject to any governmental approval which may be required, Sponsor shall have the right to modify, suspend, extend or terminate the Game. Only the type and quantity of prizes described in these Official Rules will be awarded.
  %p
    C. Invalidity: The invalidity or unenforceability of any provision of these Official Rules shall not affect the validity or enforceability of any other provision. In the event that any provision is determined to be invalid or otherwise unenforceable or illegal, these Official Rules shall otherwise remain in effect and shall be construed in accordance with their terms as if the invalid or illegal provision were not contained herein. Headings and captions are used in these Official Rules solely for ease of reference, and shall not be deemed to affect in any manner the meaning or intent of these Official Rules or any provision hereof. These Official Rules cannot be modified or amended in any way except in writing by a duly authorized representative of Sponsor.
  %p
    D. Governing Law: All issues and questions concerning the construction, validity, interpretation and enforceability of these Official Rules or the rights and obligations as between Participants and the Game Entities in connection with the Game shall be governed by and construed in accordance with the internal laws of the State of Colorado including procedural provisions without giving effect to any choice of law or conflict of law rules or provisions that would cause the application of any other state’s or jurisdiction’s laws.
  %p
    9.  Participants and the Sponsor agree that any claim or dispute between such parties that arises out of the Game or these Official Rules, including the validity of this arbitration clause, shall be resolved through arbitration by the American Arbitration Association, under the Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (collectively, "AAA Rules") then in effect. The arbitration shall be conducted in Denver, Colorado before one arbitrator appointed in accordance with the AAA Rules.  The award of the arbitrator may be entered as a judgment in any court having jurisdiction.  Participants and Sponsor agree that each may bring claims against the other only in your or its individual capacity, and not as a plaintiff or class member in any purported class or representative proceeding. Further, unless both you and Sponsor agree otherwise, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of a representative or class proceeding.
  %p
    10.  A winner's list will be made upon request to Plink's customer service at support@plink.com following completion of the Game.

