.contests
  .winners-list
    .prize
      %h3.strong.cyan GRAND PRIZE:
      %h3.cyan 25,000 Plink Points ($250)
      %h3 Tom B.
    .prize
      %h3.strong.cyan 2nd Prize:
      %h3.cyan 10,000 Plink Points ($100)
      %h3 Adrian P.  
    .prize
      %h3.strong.cyan 3rd Prize:
      %h3.cyan 5,000 Plink Points ($50)
      %h3 Vincent J.
    .prize
      %h3.strong.cyan 4th Prize:
      %h3.cyan 2,000 Plink Points ($20)
      %h3 Brandon W.
    .prize
      %h3.strong.cyan 5th Prize: 
      %h3.cyan 1,000 Plink Points ($10)
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
      .group
        %h4 Dwayne J.
        %h4 Bobby L.
        %h4 Mark W.
        %h4 Belinda C.
        %h4 Roxette R.
        %h4 Judge D.
        %h4 Scott S.
        %h4 Charles X.
    .prize
      %h3.strong.cyan 6th Prize: 
      %h3.cyan 500 Plink Points ($5)
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.       

    .prize
      %h3.strong.cyan 7th Prize: 
      %h3.cyan 200 Plink Points ($2)
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.  
                         
  
    .prize
      %h3.strong.cyan 8th Prize: 
      %h3.cyan 100 Plink Points ($1)
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.
      .group
        %h4 Carson P.
        %h4 Terrelle P.
        %h4 Jake L.
        %h4 John E.
        %h4 Arnold P.
        %h4 Tiger W.
        %h4 Steve B.
        %h4 Stone C.
        %h4 Dwayne J.
        %h4 Bobby L.