.font-p9em.font-w500.font-darkred.mbm Are you sure you haven't linked this account before?
.font-p9em.font-w300.font-darkred
  An account with this information has already been created. If you believe there is an error, please contact
  %span
    =link_to 'Plink support.', contact_path
