.font-p9em.font-w500.font-darkred There was a problem with your login (#{error}).
.font-p9em.font-w300.font-darkred
  Please re-enter your login info. If this error persists, please
  %span
    =link_to 'contact your bank.','#', class:'text-link'
  .spacer-top-8
    For more info on this error, see our
    %span
      =link_to 'FAQ.','#',class:'text-link'
