=render partial: 'style_guide/email/complete_your_reg_email'
=render partial: 'style_guide/email/expired'
=render partial: 'style_guide/email/expiring_7days'
=render partial: 'style_guide/email/new_wallet_slot'
