.style-guide
  %h1 Style Guide

  %section
    %h2 Links

    %section
      %h3 Text Links

      %section
        %a.text-link This is a text link.

  %section
    %h2 Header

    %section
      %h3 Members
      %header.header.members  
        %img{ :class => "header-logo", :src => "/assets/header_logo.png", :alt => "Plink" }
        /* %span.header-text Welcome, Kris! "<br/>" You have 999,999 Plink points. */
        %span.header-text Welcome, Kris! You have 999,999 Plink points.
        %ul.header-navtext
          &li Dashboard
          %li Wallet
          %li Rewards
          %li My Account
          %li Log Out


      %h3 Guests
      %header.header.guests 
        %img{ :class => "header-logo", :src => "/assets/header_logo.png", :alt => "Plink" }


  %section
    %h2 Buttons

    %section
      %h3 Primary Action Button

      %section
        %h4 Default

        %button.button.primary-action.narrow Start Earning Rewards

        %h4 Default - href
        %a.button.primary-action.narrow Start Earning Rewards

        %h4 Hover

        %button.button.primary-action.narrow.hover Start Earning Rewards

        %h4 Active

        %button.button.primary-action.narrow.active Start Earning Rewards

        %h4 Disabled

        %button.button.primary-action.narrow.disabled Start Earning Rewards

      %h3 Social Button - Facebook

      %section

        %h4 Default

        %button.button.social-action.facebook Join with Facebook

        %h4 Hover

        %button.button.social-action.facebook.hover Join with Facebook

        %h4 Active

        %button.button.social-action.facebook.active Join with Facebook

        %h4 Disabled

        %button.button.social-action.facebook.disabled Join with Facebook

      %h3 Social Button - twitter

      %section

        %h4 Default

        %button.button.social-action.twitter Join with Twitter

        %h4 Hover

        %button.button.social-action.twitter.hover Join with Twitter

        %h4 Active

        %button.button.social-action.twitter.active Join with Twitter

        %h4 Disabled

        %button.button.social-action.twitter.disabled Join with Twitter

      %h3 Social Button - Email

      %section

        %h4 Default

        %button.button.social-action.email Join with Email

        %h4 Hover

        %button.button.social-action.email.hover Join with Email

        %h4 Active (this state will remain visible after click)

        %button.button.social-action.email.active Join with Email

        %h4 Disabled

        %button.button.social-action.email.disabled Join with Email

  %section
    %h2 Forms

    %section

      %h3 Input Field

      %section

        %h4 Default

        %input.form-field.input{:value => 'First Name'}

        %h4 Focus

        %input.form-field.input.focus{:value => ''}

        %h4 Error

        %input.form-field.input.error{:value => 'Toby Rumans'}

        %h4 Error - focus

        %input.form-field.input.error.focus{:value => 'Toby Rumans'}

        %h4 Error - after focus remove the error class with javascript

        %input.form-field.input{:value => 'Toby Rumans'}


  %section
    %h2 Typography
    %section

      %h3 H2
      %span.font.h2 Join Plink

      %h3 Error
      %span.font.error First name is not valid - DO NOT USE YET


  %section
    %h2 Skins
    %section

      %h3 Modal
      .modal
        %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
        Bitch, I'ma modal. 
        .bg-element I heard you like bg-element. 
        Already have an account?


