.style-guide
  %h1 Style Guide

  %section
    %h2 Buttons

    %section
      %h3 Primary Action Button

      %section
        %h4 Default

        %button.button.primary-action Start Earning Rewards

        %h4 Hover
        %h4 Active
        %h4 Disabled
