.style-guide
  %h1 Style Guide

  %section
    %h2 Buttons

    %section
      %h3 Primary Action Button

      %section
        %h4 Default

        %button.button.primary-action.narrow Start Earning Rewards

        %h4 Default - href
        %a.button.primary-action.narrow Start Earning Rewards

        %h4 Hover

        %button.button.primary-action.narrow.hover Start Earning Rewards

        %h4 Active

        %button.button.primary-action.narrow.active Start Earning Rewards

        %h4 Disabled

        %button.button.primary-action.narrow.disabled Start Earning Rewards

      %h3 Social Button - Facebook

      %section

        %h4 Default

        %button.button.social-action.facebook Join with Facebook

        %h4 Hover

        %button.button.social-action.facebook.hover Join with Facebook

        %h4 Active

        %button.button.social-action.facebook.active Join with Facebook

        %h4 Disabled

        %button.button.social-action.facebook.disabled Join with Facebook

      %h3 Social Button - twitter

      %section

        %h4 Default

        %button.button.social-action.twitter Join with Twitter

        %h4 Hover


        %h4 Active

        %h4 Disabled

  %section
    %h2 Forms

    %section

      %h3 Input Field

      %section

        %h4 Default

        %input.form-field.input{:value => 'First Name'}

        %h4 Focus

        %input.form-field.input.focus{:value => 'First Name'}

        %h4 Error

        %input.form-field.input.error{:value => 'Toby Rumans'}

        %h4 Error - focus

        %input.form-field.input.error.focus{:value => 'Toby Rumans'}

        %h4 Error - after focus remove the error class with javascript

        %input.form-field.input{:value => 'Toby Rumans'}


  %section
    %h2 Typography
    %section

      %h3 H2
      %span.font.h2 Join Plink

      %h3 Error
      %span.font.error First name is not valid - DO NOT USE YET


  %section
    %h2 Skins
    %section
      %h3 Modal


