.style-guide
  %h1 Style Guide

  %section
    %h2 Links

    %section
      %h3 Text Links

      %section
        %a.text-link This is a text link.

  %section
    %h2 Header

    %section
      %h3 Members   **line break needed after 'Welcome Kris'**
      %header.header 
        %img{ :class => "header-logo", :src => "/assets/header_logo.png", :alt => "Plink" }
        %span.header-text Welcome, Kris! 
        %span.header-text You have 999,999 Plink points.
        %ul.nav-ul
          %li.nav-li.selected Dashboard
          %li.nav-li Wallet
          %li.nav-li Rewards
          %li.nav-li My Account
          %li.nav-li.logout Log Out


      %h3 Guests
      %header.header
        %img{ :class => "header-logo", :src => "/assets/header_logo.png", :alt => "Plink" }
        .header-button
          %button.button.nav.join Join
        .header-button
          %button.button.nav.sign-in Sign In
        .header-button-social
          %span.header-text Let's be friends.
          %img{ :src => "/assets/icon_fb.png", :alt => "Like Plink on Facebook"}
          %img{ :src => "/assets/icon_twitter.png", :alt => "Follow Plink on Twitter"}
          
  %section 
    %h2 Hero Gallery

    %section
      .hero-gallery
        %ul.bjqs
          %li.bjqs-slide
            %img{ :src => "/assets/hero-gallery/bk_2.jpg", :title => "Get Double Points at Burger King"}
          %li.bjqs-slide
            %img{ :src => "/assets/hero-gallery/TacoBell_2.jpg", :title => "New Partner - Taco Bell"}
          %li.bjqs-slide
            %img{ :src => "/assets/hero-gallery/7eleven_2.jpg", :title => "7-Eleven = AMAZING HOTDOGS"}    

  :javascript
    jQuery(function () {
      $('.hero-gallery').bjqs({
            width       : 1800,
            height      : 380,
            responsive  : true
          });
    });   


  %section
    %h2 Buttons

    %section
      %h3 Primary Action Button

      %section
        %h4 Default

        %button.button.primary-action.narrow Start Earning Rewards

        %h4 Default - href
        %a.button.primary-action.narrow Start Earning Rewards

        %h4 Hover

        %button.button.primary-action.narrow.hover Start Earning Rewards

        %h4 Active

        %button.button.primary-action.narrow.active Start Earning Rewards

        %h4 Disabled

        %button.button.primary-action.narrow.disabled Start Earning Rewards

      %h3 Social Button - Facebook

      %section

        %h4 Default

        %button.button.social-action.facebook Join with Facebook

        %h4 Hover

        %button.button.social-action.facebook.hover Join with Facebook

        %h4 Active

        %button.button.social-action.facebook.active Join with Facebook

        %h4 Disabled

        %button.button.social-action.facebook.disabled Join with Facebook

      %h3 Social Button - twitter

      %section

        %h4 Default

        %button.button.social-action.twitter Join with Twitter

        %h4 Hover

        %button.button.social-action.twitter.hover Join with Twitter

        %h4 Active

        %button.button.social-action.twitter.active Join with Twitter

        %h4 Disabled

        %button.button.social-action.twitter.disabled Join with Twitter

      %h3 Social Button - Email

      %section

        %h4 Default

        %button.button.social-action.email Join with Email

        %h4 Hover

        %button.button.social-action.email.hover Join with Email

        %h4 Active (this state will remain visible after click)

        %button.button.social-action.email.active Join with Email

        %h4 Disabled

        %button.button.social-action.email.disabled Join with Email


  %section
    %h2 Forms

    %section

      %h3 Input Field

      %section

        %h4 Default

        %input.form-field.input{:value => 'First Name'}

        %h4 Focus

        %input.form-field.input.focus{:value => ''}

        %h4 Error

        %input.form-field.input.error{:value => 'Toby Rumans'}

        %h4 Error - focus

        %input.form-field.input.error.focus{:value => 'Toby Rumans'}

        %h4 Error - after focus remove the error class with javascript

        %input.form-field.input{:value => 'Toby Rumans'}


  %section
    %h2 Typography
    %section

      %h3 Modal
      %section

        %h4 H1
        %span.font.modal-h1 Join Plink

        %h4 H2
        %span.font.modal-h2 Your days of not earning unlimited rewards are over. 

        %h4 H3
        %span.font.modal-h3 Already a member? ... 

      %h3 Error
      %span.font.error First name is not valid - DO NOT USE YET


  %section
    %h2 Skins
    %section

      %h3 Modal
      .modal
        %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
        %p.font.modal-h1 Join Plink
        %p.font.modal-h2 Your days of not earning unlimited rewards are over.
        .bg-element I heard you like bg-element. 
        %p.font.modal-h3 Already have an account?


