Hey #{@first_name},
Thanks for signing up for Plink! You just need to link a credit or debit card to your Plink account to finish registration.
Once you link a credit/debit card you can start earning Plink Points which can be redeemed for gift cards from places like Amazon.com, Starbucks, Walmart, Target, Subway, and more.
What are you waiting for? Be a smarter shopper and get the rewards you deserve for dining and shopping at over 75,000 locations!

= new_tracking_url(aid: 1436)

Thanks!
Team Plink

Unsubscribe:
= edit_subscription_url(email_address: @email_address)

