Hey #{@first_name}
Thanks for signing up for Plink! You just need to link a credit or debit card to your Plink account to start earning rewards.
All Plink members who link a Barclaycard Arrival World MasterCard&reg; to their Plink account, get *DOUBLE PLINK POINTS now through May 31, 2014!

Activate your DOUBLE PLINK POINTS offer by clicking below:
= track_award_links_url(user_id: @user_id, award_link_url_value: 'ODFlNWU4Y2M0NGJjYmZmMTc4MGZiZWRkMzE3OWQxOTEyMjEwNjRjMw==')

Link a Barclaycard Arrival World MasterCard&reg; Today!
When you link a Barclaycard Arrival World MasterCard&reg; to your Plink account we'll give you *DOUBLE PLINK POINTS through May 31, 2014! That's up to $15.00 in Plink Points for a single visit at some of our participating locations.

Thanks!
Team Plink

Unsubscribe:
= edit_subscription_url(email_address: @email_address)

*Double Plink Points are only awarded by clicking through this email and linking a Barclaycard Arrival World MasterCard&reg; to your Plink account between 3/12/14 and 5/31/14.  Double Plink Points are only awarded on the base point value for ^qualifying Plink purchases. Double Plink Points will not be awarded for bonus point promotions. Plink Points may take up to 5 business days to appear in your Plink account.

^A purchase is considered qualified when the merchant is in your Plink Wallet and meets the minimum purchase price.
