%html
  %head
    %title Welcome to Plink
  %body{:bgcolor => "#ffffff", :leftmargin => "0", :marginheight => "0", :marginwidth => "0", :topmargin => "0"}
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "margin-top:10px", :width => "573"}
      %tr
        %td{:height => "40", :valign => "bottom"}
          %a{:href => account_url, :style => "font-size:11px;font-family:Arial;text-decoration:underline; font-weight:bold;"} View my Account
          %br/
        %td{height: "40", valign: "top", style: "text-align:right;"}
          %a{style: "font-size:11px;font-family:Arial;text-decoration:underline; font-weight:bold;", href:unsubscribe_subscription_url(email_address: @email_address)} mark as spam
          %br/
      %tr
        %td{:colspan => "2", :style => "border:1px solid black;"}
          %div{:style => "background:#ffffff"}
            %div
              %a{:href => "https://www.plink.com/index.cfm?cid=10&utm_source=double_confirm_email&utm_medium=email&utm_content=logo_header", :style => "text-decoration:underline; font-weight:bold;"}
                %img{:alt => "", :border => "0", :src => "http://plink-email.s3.amazonaws.com/global/header_square.png", :width => "573"}/
            %table{:bgcolor => "#ffffff", :style => "font-family:Arial;font-size:12px;"}
              %tr
                %td{:width => "40"}
                %td
                  %table{:width => "100%"}
                  %p{:style => "color:#666666; margin:0; padding:0; margin-bottom:10px;font-size:32px;"} Hi #{@first_name},
                  %p Welcome and thanks for signing up for Plink!  We're excited to help you earn #{@virtual_currency_name} towards the reward of your choice.
                  %p Please click the link below to manage your account.
                  %p
                    %a{:href => wallet_url, :style => "text-decoration:underline; font-weight:bold;"} Take me to my Plink wallet.
                  %p Thanks!
                  %p -Team Plink
                  %img{:src => "http://plink-email.s3.amazonaws.com/global/divider.jpg", :width => "100%"}/
                  %table{:bgcolor => "#ffffff", :style => "font-family:Arial;font-size:12px;", :width => "100%"}
                    %tr
                      %td
                        %img{:alt => "", :border => "0", :src => "http://plink-email.s3.amazonaws.com/global/logo.png"}/
                      %td
                        %p{:style => "font-size:12px; color:#0099FF; margin:0; padding:0;"} Need help? Please #{link_to 'Contact Us', contact_url}
                    %tr
                      %td{colspan: "2", align: "center"}
                        %a{href: edit_subscription_url(email_address: @email_address), style: "color:#0099FF;font-size:11px;font-family:Arial;text-decoration:underline; font-weight:bold;"} unsubscribe
                %td{:width => "40"}
            %div
              %table{:align => 'center', :bgcolor => 'black', :style => 'font-family:Arial;font-size:9px;color:#ffffff;padding:5 20 5 20;', :width => '573'}
                %tr
                  %td{:style => 'color:#09ffff;', :width => '42'}
                    Plink, Inc.
                  %td
                    2000 S. Colorado Blvd. Tower 1, Suite 7000, Denver, CO 80222
                  %td{:align => 'right'}
                    Copyright &copy; 2013 Plink, Inc. All Rights Reserved
