<style>
	a {
		text-decoration: none !important;
		color:#00ADee;
	}
	a:hover {
		text-decoration: underline !important;
	}
	td.promocell p {
		color:#FFFFFF;
		font-size:16px;
		line-height:26px;
		font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
		margin-top:0;
		margin-bottom:0;
		padding-top:0;
		padding-bottom:14px;
		font-weight:normal;
	}
	td.contentblock h4 {
		color:#404041 !important;
		font-size:16px;
		line-height:24px;
		font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
		margin-top:0;
		padding-top:0;
		padding-bottom:0;
		font-weight:normal;
	}
	td.contentblock h4 a {
		color:#404041;
		text-decoration:none;
	}
	td.contentblock p {
		color:#404041;
		font-size:13px;
		line-height:19px;
		font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
		margin-top:0;
		margin-bottom:12px;
		padding-top:0;
		padding-bottom:0;
		font-weight:normal;
	}
	td.contentblock p a {
		color:#3ca7dd;
		text-decoration:none;
	}

	@media only screen and (max-device-width: 480px) {
		div[class="header"] {
			font-size: 16px !important;
		}
		table[class="table"], td[class="cell"] {
			width: 300px !important;
		}
		table[class="promotable"], td[class="promocell"] {
			width: 325px !important;
		}
		td[class="footershow"] {
			width: 300px !important;
		}
		table[class="hide"], img[class="hide"], td[class="hide"] {
			display: none !important;
		}
		img[class="divider"] {
			height: 1px !important;
		}
		img[class="divider_blue"] {
			width: 325px !important;
		}
		td[class="logocell"] {
			background-image: url(http://plink-email.s3.amazonaws.com/marketing/v3/global/logo2.gif);
			background-repeat:no-repeat;
			width: 300px !important;
			height: 51px !important;
			margin-bottom:15px; !important;
		}
		td[class="logocell"] img {
			display: none;
		}
		img[id="screenshot"] {
			width: 325px !important;
			height: 137px !important;
		}
		img[id="screenshot"] img {
			display: none;
		}
		img[class="galleryimage"] {
			width: 53px !important;
			height: 53px !important;
		}
		p[class="reminder"] {
			font-size: 11px !important;
		}
		h4[class="secondary"] {
			line-height: 22px !important;
			margin-bottom: 15px !important;
			font-size: 18px !important;
		}
		td[class="headercell"] {
			background-image: url(http://plink-email.s3.amazonaws.com/marketing/v3/4_18_mobile/feature_mobile.jpg);
			background-repeat:no-repeat;
			width: 325px !important;
			height: 137px !important;
		}
		td[class="headercell"] img {
			display: none; !important;
		}
	}
</style>
