%footer.footer
  .col-wrapper
    .col
      %h1 Plink
      %a About Us
      %br
      %a Careers
      %br
      %a Press
    .col
      %h1 About
      = link_to 'FAQ', faq_static_path
      %br
      %a Privacy Policy
      %br
      = link_to 'Terms of Service', terms_static_path
    .col
      %h1 Connect
      %a Facebook
      %br
      %a Twitter
      %br
      = link_to 'Contact Us', contact_path
    .col.last
      %h1 Help
      =link_to 'Contact Us', contact_path
  .col-wrapper
    .col.legal
      %h3 *The merchants represented are not sponsors of the Plink program or otherwise affiliated with Plink. The logos and other identifying marks attached are trademarks of and owned by each represented company and/or its affiliates. Please visit each company's website for additional terms and conditions.
      %br
      %h3 Copyright © 2013 Plink, Inc. All Rights Reserved. Patent Pending.
    .col.legal.last
      %h3 *Amazon.com is not a sponsor of this promotion. Except as required by law, Amazon.com Gift Cards ("GCs") cannot be transferred for value or redeemed for cash. GCs may be used only for purchases of eligible goods on Amazon.com or certain of its affiliated websites. For complete terms and conditions, see www.amazon.com/gc-legal. GCs are issued by ACI Gift Cards, Inc., a Washington corporation. ©,®,™ Amazon.com Inc. and/or its affiliates, 2012. No expiration date or service fees.
