.hero-gallery
  .hero-gallery-inner
    %ul.gallery
      - promotions.each do |presenter|
        - if presenter.show_to_current_user?
          %li.slide
            - if presenter.left_and_right_promotions?
              .left
                = render partial: 'shared/hero_promotion', locals: {id: presenter.id, image_url: presenter.image_url, link: presenter.link, title: nil}
              .right
                = render partial: 'shared/hero_promotion', locals: {id: presenter.id, image_url: presenter.image_url_right, link: presenter.link_right, title: nil}
            - else
              = render partial: 'shared/hero_promotion', locals: {id: presenter.id, image_url: presenter.image_url, link: presenter.link, title: presenter.title}
