.header-button
  = link_to 'Join', '#', data: {'reveal-id' => 'registration-form'}, class: 'link button nav join'
.header-button
  = link_to 'Sign In', new_plink_session_path, class: 'link button nav sign-in'
.header-button-social
  #share-bar-widget
