.offer{ data: {'offer-id' => presenter.id, 'reveal-id' => presenter.modal_dom_id}, id: presenter.dom_id }
  .offer-inner
    .ribbon{class: presenter.special_offer_type}= presenter.special_offer_type_text
    .brand
      %img{src: presenter.image_url, class: 'wallet-logo', alt: presenter.image_description}
    .info
      %p.font.dashboard-text.h3 up to
      %p.font.dashboard-text.h1.numbers= presenter.max_award_amount
      %p.font.dashboard-text.h3= presenter.currency_name
      %button.button.wallet-add= button_label