- @offers.each do |offer|
  = render :partial => 'shared/offer_item', locals: {presenter: OfferItemPresenter.new(offer, virtual_currency: current_virtual_currency, view_context: self), button_label: button_label}



