#plink-video-modal.modal.sign-in-modal.reveal-modal{style: 'display: none;'}
  %iframe{src: "http://player.vimeo.com/video/69275624", width: "800", height: "450", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
