---
http_interactions:
- request:
    method: post
    uri: https://oauth.intuit.com/oauth/v1/get_access_token_by_saml
    body:
      encoding: US-ASCII
      string: saml_assertion=PHNhbWwyOkFzc2VydGlvbiB4bWxuczpzYW1sMj0idXJuOm9hc2lzOm5hbWVz%0AOnRjOlNBTUw6Mi4wOmFzc2VydGlvbiIgSUQ9Il8zMDllMzBkZTY5NTY0ZjA5%0AYjIwN2YxMzlhZjRmOGMyMiIgSXNzdWVJbnN0YW50PSIyMDE0LTAzLTEzVDE3%0AOjQ3OjI3LjE3NVoiIFZlcnNpb249IjIuMCI%2BPHNhbWwyOklzc3Vlcj5wbGlu%0Aa2RldmFuZHFhZW52aXJvbm1lbnQuMzA1OTkuY2MuZGV2LWludHVpdC5pcHAu%0AcHJvZDwvc2FtbDI6SXNzdWVyPjxkczpTaWduYXR1cmUgeG1sbnM6ZHM9Imh0%0AdHA6Ly93d3cudzMub3JnLzIwMDAvMDkveG1sZHNpZyMiPjxkczpTaWduZWRJ%0AbmZvPjxkczpDYW5vbmljYWxpemF0aW9uTWV0aG9kI[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="DfPNrxIvhC1FFj7J35Ws2MbBBGGhMKwsBYobX0W0s",
        oauth_signature="%2BkCHD7%2B92sYA3z9BI27Ncj5KGYk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1394732848", oauth_token="qyprdghTbS7ucUU5TbfoWKq5iEMbdgBziwH8iKkUoKXZCaCH",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Intuit-Tid:
      - gw-3c25c1e3-561a-46dc-93b6-eaa26e62fab4
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><InstitutionDetail
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/institution/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/common/v1\"><institutionId>100000</institutionId><institutionName>CC
        Bank</institutionName><homeUrl>http://www.intuit.com</homeUrl><address><ns2:country>USA</ns2:country></address><emailAddress>CustomerCentralBank@intuit.com</emailAddress><specialText>Welcome
        to  Bank of Intuit</specialText><currencyCode>USD</currencyCode><keys><key><name>Banking
        Userid</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>1</displayOrder><mask>false</mask><instructions>Enter
        banking userid (demo)</instructions><description>Banking Userid</description></key><key><name>Banking
        Password</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>2</displayOrder><mask>true</mask><instructions>Enter
        banking password (go)</instructions><description>Banking Password</description></key></keys></InstitutionDetail>"
  recorded_at: Thu, 13 Mar 2014 17:47:29 GMT
[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>anything</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>stuff2127774</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="s5YHkvnEGewMIhyGCYZXxq66mdY%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="DXAzSbTnss765w8ZJixGZdDRa2YQ8lQvgiFtm8U8", oauth_signature="1JgcHKwDdht79VW6rSl%2BB39kjJw%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1394732851", oauth_token="qyprdghTbS7ucUU5TbfoWKq5iEMbdgBziwH8iKkUoKXZCaCH",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Intuit-Tid:
      - gw-20b9b968-4ff2-40a1-a730-443a3aa36199
      Content-Type:
      - application/xml
      Location:
      - http://qynprdccoreap50.data.ie.intuit.net:8080/rest-war/v1/logins/269030165/accounts
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><ns8:AccountList
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/account/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/bankingaccount/v1\"
        xmlns:ns3=\"http://schema.intuit.com/platform/fdatafeed/creditaccount/v1\"
        xmlns:ns4=\"http://schema.intuit.com/platform/fdatafeed/loanaccount/v1\" xmlns:ns5=\"http://schema.intuit.com/platform/fdatafeed/investmentaccount/v1\"
        xmlns:ns6=\"http://schema.intuit.com/platform/fdatafeed/rewardsaccount/v1\"
        xmlns:ns7=\"http://schema.intuit.com/platform/fdatafeed/otheraccount/v1\"
        xmlns:ns8=\"http://schema.intuit.com/platform/fdatafeed/accountlist/v1\"><ns2:BankingAccount><accountId>400014542236</accountId><status>ACTIVE</status><accountNumber>2000005555</accountNumber><accountNickname>My
        CD</accountNickname><displayPosition>8</displayPosition><institutionId>100000</institutionId><balanceAmount>313.47</balanceAmount><balanceDate>2014-03-13T00:00:00-07:00</balanceDate><aggrSuccessDate>2014-03-13T10:47:32.302-07:00</aggrSuccessDate><aggrAttemptDate>2014-03-13T10:47:32.302-07:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>269030165</institutionLoginId><ns2:bankingAccountType>CD</ns2:bankingAccountType></ns2:BankingAccount><ns4:LoanAccount><accountId>400014542237</accountId><status>ACTIVE</status><accountNumber>8000008888</accountNumber><accountNickname>My
        Auto Loan</accountNickname><displayPosition>1</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>313.47</balanceAmount><balanceDate>2014-03-13T00:00:00-07:00</balanceDate><aggrSuccessDate>2014-03-13T10:47:32.302-07:00</aggrSuccessDate><aggrAttemptDate>2014-03-13T10:47:32.302-07:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>269030165</institutionLoginId><ns4:loanType>LOAN</ns4:loanType><ns4:nextPayment>313.47</ns4:nextPayment><ns4:nextPaymentDate>2020-04-01T00:00:00-07:00</ns4:nextPaymentDate><ns4:autopayEnrolled>true</ns4:autopayEnrolled><ns4:collateral>313.47</ns4:collateral><ns4:currentSchool>Cur
        School</ns4:currentSchool><ns4:firstPaymentDate>2020-04-01T00:00:00-07:00</ns4:firstPaymentDate><ns4:guarantor>Guarantor</ns4:guarantor><ns4:firstMortgage>false</ns4:firstMortgage><ns4:loanPaymentFreq>MONTHLY</ns4:loanPaymentFreq><ns4:paymentMinAmount>313.47</ns4:paymentMinAmount><ns4:originalSchool>Orig
        School</ns4:originalSchool><ns4:recurringPaymentAmount>313.47</ns4:recurringPaymentAmount><ns4:lender>Lender</ns4:lender></ns4:LoanAccount><ns4:LoanAccount><accountId>400014542238</accountId><status>ACTIVE</status><accountNumber>1000000001</accountNumber><accountNickname>My
        Mortgage</accountNickname><displayPosition>5</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>313.47</balanceAmount><balanceDate>2014-03-13T00:00:00-07:00</balanceDate><aggrSuccessDate>2014-03-13T10:47:32.302-07:00</aggrSuccessDate><aggrAttemptDate>2014-03-13T1[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/269030165/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="2uUGTw90rmLn2TyyMsgZkPxydcRJfhYGwHrNMSVn2Q",
        oauth_signature="dEll3LaeMxh4lsJlKSl6sRMx1uM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1394732856", oauth_token="qyprdghTbS7ucUU5TbfoWKq5[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/accounts/400014542236/transactions?txnStartDate=2014-02-27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="I3IQ2Hwym3wmknAkDtriGs8b7CM8buSshlvsWH8U",
        oauth_signature="irMYOFOE8VyEjiUrkk12ne3u1BA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1394732870", oauth_[...]
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="Bn6IR5d0wJxYZv3a86himYA5tYmBuy0bSdKDeHZUA",
        oauth_signature="nvBjLxP6MolRFejiQw9EIfphncc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1394732902", oauth_token="qyprdghTbS7ucUU5TbfoWKq5iEMbdgBziwH8iKkUoKXZCaCH",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Intuit-Tid:
      - gw-7482a5c9-f5cf-4734-a257-fcaae45c09a8
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 13 Mar 2014 17:48:24 GMT
recorded_with: VCR 2.8.0
