---
http_interactions:
- request:
    method: post
    uri: https://oauth.intuit.com/oauth/v1/get_access_token_by_saml
    body:
      encoding: US-ASCII
      string: saml_assertion=PHNhbWwyOkFzc2VydGlvbiB4bWxuczpzYW1sMj0idXJuOm9hc2lzOm5hbWVz%0AOnRjOlNBTUw6Mi4wOmFzc2VydGlvbiIgSUQ9Il9kODNjMjBkYTY1NTA0ZGY3%0AOWQ1M2FhMjNjZGQ1ZGQ4MSIgSXNzdWVJbnN0YW50PSIyMDE0LTAxLTI3VDE5%0AOjAxOjE5LjQzMloiIFZlcnNpb249IjIuMCI%2BPHNhbWwyOklzc3Vlcj5wbGlu%0Aa2RldmFuZHFhZW52aXJvbm1lbnQuMzA1OTkuY2MuZGV2LWludHVpdC5pcHAu%0AcHJvZDwvc2FtbDI6SXNzdWVyPjxkczpTaWduYXR1cmUgeG1sbnM6ZHM9Imh0%0AdHA6Ly93d3cudzMub3JnLzIwMDAvMDkveG1sZHNpZyMiPjxkczpTaWduZWRJ%0AbmZvPjxkczpDYW5vbmljYWxpemF0aW9uTWV0aG9kI[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="uHcqb6ORVPRDtbJ2JGdYH1FopEVrOKw2H95zldKabeQ",
        oauth_signature="asXJIh%2FKfI4NYaL7AA7DbbcZccs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849280", oauth_token="qyprdwhPSgRHNquVZxjYsvCSffpuYvLmIrKVfULlSwS8ahMs",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      intuit_tid:
      - gw-3b50a717-b8f9-4d03-9d19-f32e192454bd
      content-type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><InstitutionDetail
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/institution/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/common/v1\"><institutionId>100000</institutionId><institutionName>CC
        Bank</institutionName><homeUrl>http://www.intuit.com</homeUrl><address><ns2:country>USA</ns2:country></address><emailAddress>CustomerCentralBank@intuit.com</emailAddress><specialText>Welcome
        to  Bank of Intuit</specialText><currencyCode>USD</currencyCode><keys><key><name>Banking
        Userid</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>1</displayOrder><mask>false</mask><instructions>Enter
        banking userid (demo)</instructions><description>Banking Userid</description></key><key><name>Banking
        Password</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>2</displayOrder><mask>true</mask><instructions>Enter
        banking password (go)</instructions><description>Banking Password</description></key></keys></InstitutionDetail>"
  recorded_at: Mon, 27 Jan 2014 19:01:21 GMT
[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>bad</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>login_failures</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="PUVS3YqaIxHhuV29%2FsctWXukmfQ%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="xo7PwL9QS1EjT2AlsJ9XTPA9smg8rOOijhf3NJqBO4w", oauth_signature="ecIjUWrOB0Bl7d%2FrLyRDbhY8LSM%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849284", oauth_token="qyprdwhPSgRHNquVZxjYsvCSffpuYvLmIrKVfULlSwS8ahMs",
        oauth_version="1.0"
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      intuit_tid:
      - gw-0922df40-e669-48af-83d7-2d01fca06f01
      content-type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><Status
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/common/v1\"><errorInfo><errorType>WARNING</errorType><errorCode>103</errorCode><errorMessage>Login
        error. Error on logon</errorMessage><correlationId>gw-0922df40-e669-48af-83d7-2d01fca06f01</correlationId></errorInfo></Status>"
  recorded_at: Mon, 27 Jan 2014 19:01:27 GMT
[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>tfa_text</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>stuff9267369</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="ccDthOR5pE9L83HOE%2BzBvwWfnjk%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="oK3UQBwppCmYKy1j0T74cixyoJwUwg7tTM2IISJ1Q", oauth_signature="Awbte0pMt1Qt%2BZuh2AAq1aciet8%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849298", oauth_token="qyprdwhPSgRHNquVZxjYsvCSffpuYvLmIrKVfULlSwS8ahMs",
        oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/xml
      intuit_tid:
      - gw-75011212-dfb8-4a0b-9c8c-969f80592819
      challengenodeid:
      - 10.136.17.84
      challengesessionid:
      - e24af07b-a439-4596-b9c6-22fe52988a86
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><Challenges
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/challenge/v1\"><challenge><text>Enter
        your first pet's name:</text></challenge></Challenges>"
  recorded_at: Mon, 27 Jan 2014 19:01:41 GMT
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><challengeResponses><response
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/challenge/v1\">fail</response></challengeResponses></InstitutionLogin>"
    headers:
      challengesessionid:
      - e24af07b-a439-4596-b9c6-22fe52988a86
      challengenodeid:
      - 10.136.17.84
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="qIxNz6rRPDeRHcAFkinBOf3KthA%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="VZvOhwqnGo9KtnfgqiJdVSPARyZAYO9wvh53NooV3a4", oauth_signature="KLN3SXoz8LCFTtlamSMXbudBenA%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849305", oauth_token="qyprdwhPSgRHNquVZxjYsvCSffpuYvLmIrKVfULlSwS8ahMs",
        oauth_version="1.0"
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      intuit_tid:
      - gw-329d5dfa-e04b-469c-8cc9-3b983782ef6d
      content-type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><Status
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/common/v1\"><errorInfo><errorType>WARNING</errorType><errorCode>187</errorCode><errorMessage>Incorrect
        answer to multi-factor authentication challenge question. Incorrect answer
        to Challenge Question</errorMessage><correlationId>gw-329d5dfa-e04b-469c-8cc9-3b983782ef6d</correlationId></errorInfo></Status>"
  recorded_at: Mon, 27 Jan 2014 19:01:50 GMT
[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><challengeResponses><response
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/challenge/v1\">succeed</response></challengeResponses></InstitutionLogin>"
    headers:
      challengesessionid:
      - ee8e1143-e207-4c35-8450-5eada345c971
      challengenodeid:
      - 10.136.17.82
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="pOjO59RJ7ayQrR4kBLNf6yf3jg4%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="ZCI0uSH3bqmQlGyHytAG3awSadN9hvEnv0JdsU8X5OA", oauth_signature="BKUZGy6jKcU59GzaMVBjwsVBUoM%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849326", oauth_token="qyprdwhPSgRHNquVZxjYsvCSffpuYvLmIrKVfULlSwS8ahMs",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      intuit_tid:
      - gw-3c74c421-b0c1-4d5e-8b45-e21195660865
      content-type:
      - application/xml
      location:
      - http://10.136.17.82:8080/rest-war/v1/logins/193170157/accounts
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><ns8:AccountList
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/account/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/bankingaccount/v1\"
        xmlns:ns3=\"http://schema.intuit.com/platform/fdatafeed/creditaccount/v1\"
        xmlns:ns4=\"http://schema.intuit.com/platform/fdatafeed/loanaccount/v1\" xmlns:ns5=\"http://schema.intuit.com/platform/fdatafeed/investmentaccount/v1\"
        xmlns:ns6=\"http://schema.intuit.com/platform/fdatafeed/rewardsaccount/v1\"
        xmlns:ns7=\"http://schema.intuit.com/platform/fdatafeed/otheraccount/v1\"
        xmlns:ns8=\"http://schema.intuit.com/platform/fdatafeed/accountlist/v1\"><ns5:InvestmentAccount><accountId>400011492634</accountId><status>ACTIVE</status><accountNumber>0000000001</accountNumber><accountNickname>My
        Retirement</accountNickname><displayPosition>10</displayPosition><institutionId>100000</institutionId><balanceAmount>127.02</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:08.684-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:08.684-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>193170157</institutionLoginId><ns5:investmentAccountType>401K</ns5:investmentAccountType><ns5:currentBalance>127.02</ns5:currentBalance></ns5:InvestmentAccount><ns2:BankingAccount><accountId>400011492635</accountId><status>ACTIVE</status><accountNumber>1000001111</accountNumber><accountNickname>My
        Checking</accountNickname><displayPosition>6</displayPosition><institutionId>100000</institutionId><balanceAmount>127.02</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:08.684-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:08.684-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>BND</currencyCode><institutionLoginId>193170157</institutionLoginId><ns2:bankingAccountType>CHECKING</ns2:bankingAccountType></ns2:BankingAccount><ns5:InvestmentAccount><accountId>400011492636</accountId><status>ACTIVE</status><accountNumber>2000004444</accountNumber><accountNickname>My
        Roth IRA</accountNickname><displayPosition>3</displayPosition><institutionId>100000</institutionId><balanceAmount>127.02</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:08.684-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:08.684-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>193170157</institutionLoginId><ns5:investmentAccountType>TAXABLE</ns5:investmentAccountType><ns5:currentBalance>127.02</ns5:currentBalance></ns5:InvestmentAccount><ns3:CreditAccount><accountId>400011492637</accountId><status>ACTIVE</status><accountNumber>4100007777</accountNumber><accountNickname>My
        Visa</accountNickname><displayPosition>2</displayPosition><institutionId>100000</institutionId><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:08.684-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:08.684-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>193170157</institutionLoginId><ns3:creditAccountType>CREDITCARD</ns3:creditAccountType><ns3:currentBalance>-127.02</ns3:currentBalance><ns3:paymentMinAmount>15</ns3:paymentMinAmount><ns3:paymentDueDate>2020-04-01T00:00:00-07:00</ns3:paymentDueDate><ns3:statementEndDate>2020-03-01T00:00:00-08:00</ns3:statementEndDate><ns3:statementCloseBalance>-127.02</ns3:statementCloseBalance></ns3:CreditAccount><ns4:LoanAccount><accountId>400011492638</accountId><status>ACTIVE</status><accountNumber>1000000001</accountNumber><accountNickname>My
        Mortgage</accountNickname><displayPosition>5</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>127.02</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:08.684-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:08.684-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>BND</currencyCode><institutionLoginId>193170157</institutionLoginId><ns4:loanType>MORTGAGE</ns4:loanType><ns4:nextPayment>127.02</ns4:nextPayment><ns4:nextPaymentDate>2020-04-01T00:00:00-07:00</ns4:nextPaymentDate><ns4:autopayEnrolled>true</ns4:autopayEnrolled><ns4:collateral>127.02</ns4:collateral><ns4:currentSchool>Cur
        School</ns4:currentSchool><ns4:firstPaymentDate>2020-04-01T00:00:00-07:00</ns4:firstPaymentDate><ns4:guarantor>Guarantor</ns4:guarantor><ns4:firstMortgage>false</ns4:firstMortgage><ns4:loanPaymentFreq>MONTHLY</ns4:loanPaymentFreq><ns4:paymentMinAmount>127.02</ns4:paymentMinAmount><ns4:originalSchool>Orig
        School</ns4:originalSchool><ns4:recurringPaymentAmount>127.02</ns4:recurringPaymentAmount><ns4:lender>Lender</ns4:lender></ns4:LoanAccount><ns2:BankingAccount><accountId>400011492639</accountId><status>ACTIVE</status><accountNumber>1000002222</accountNumber><accountNickname>My
        Savings</accountNickname><displayPosition>7</displayPosition><institutionId>100000</institutionId><balanceAmount>127.02</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:08.684-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:08.684-08:00</aggrAttemptDate><[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/193170157/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="qinptpEhXTTVmU7zxKz20oEwLwrGZ4pT6HJ5v6s",
        oauth_signature="93xOaBqDGjFT6%2FpiXYnyhoQt1DI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849335", oauth_token="qyprdwhPSgRHNquVZxjYsvCSf[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/accounts/400011492635/transactions?txnStartDate=2014-01-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="sWgaBghgjmt8KiktJhBStIbl4JG4Rmg2H3tKsak7DM",
        oauth_signature="QcQRtIrjqWr9zbTtPrl2jAQeQ8A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849354", oaut[...]
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="TWbAE1VbLdDRP9cd2LdKFDf8TzwxnCJmE4D19pNSj0",
        oauth_signature="Nk3Cg5SFblqrP8kfB0ukefRbfhA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849365", oauth_token="qyprdwhPSgRHNquVZxjYsvCSffpuYvLmIrKVfULlSwS8ahMs",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      intuit_tid:
      - gw-874ca06d-f40e-44c3-8500-7e7c90d9f37b
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:02:47 GMT
[...]
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="ZbCKOjO4W2ythmvmCpOfA1wCShavu03sp7JRChEa0",
        oauth_signature="8RmRLVg7hPOmhpFhnHpahQrYAPo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849369", oauth_token="qyprdmEp67ZYIaDTblUrYknxPrzLaLWxeECitizmxEYeIDmt",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
      intuit_tid:
      - gw-6009ef98-f926-446c-80a4-b8d72682831c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:02:49 GMT
recorded_with: VCR 2.8.0
