---
http_interactions:
- request:
    method: post
    uri: https://oauth.intuit.com/oauth/v1/get_access_token_by_saml
    body:
      encoding: US-ASCII
      string: saml_assertion=PHNhbWwyOkFzc2VydGlvbiB4bWxuczpzYW1sMj0idXJuOm9hc2lzOm5hbWVz%0AOnRjOlNBTUw6Mi4wOmFzc2VydGlvbiIgSUQ9Il8yNDViZWI2MjE3M2Q0MmU0%0AYTIzMzNjM2RkMzliOWE3YSIgSXNzdWVJbnN0YW50PSIyMDE0LTAxLTI3VDE4%0AOjU5OjU1LjQ2NloiIFZlcnNpb249IjIuMCI%2BPHNhbWwyOklzc3Vlcj5wbGlu%0Aa2RldmFuZHFhZW52aXJvbm1lbnQuMzA1OTkuY2MuZGV2LWludHVpdC5pcHAu%0AcHJvZDwvc2FtbDI6SXNzdWVyPjxkczpTaWduYXR1cmUgeG1sbnM6ZHM9Imh0%0AdHA6Ly93d3cudzMub3JnLzIwMDAvMDkveG1sZHNpZyMiPjxkczpTaWduZWRJ%0AbmZvPjxkczpDYW5vbmljYWxpemF0aW9uTWV0aG9kI[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/300002
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="Imw8bGrEsgLm35ak8hvPrS2ooThBoohrPRuuh6vPaY",
        oauth_signature="7%2FZQ7sytNm67AMa3WX5%2FXlBanbc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849196", oauth_token="qyprdnts7SZ5lVAK40t9pNc747ghJGUh82nvylxq0PFqKXbY",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      intuit_tid:
      - gw-020496c5-94e3-49cd-907e-06dd3e25fb56
      content-type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><InstitutionDetail
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/institution/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/common/v1\"><institutionId>300002</institutionId><institutionName>Customer
        Central Bank Special</institutionName><homeUrl>http://www.intuit.com</homeUrl><phoneNumber>123-456-7890</phoneNumber><address><ns2:address1>Main
        St</ns2:address1><ns2:address2>Mountain View</ns2:address2><ns2:state>CA</ns2:state><ns2:country>USA</ns2:country></address><emailAddress>CustomerCentralBank001@intuit.com</emailAddress><specialText>Welcome
        to Customer Central Bank000</specialText><currencyCode>USD</currencyCode><keys><key><name>Banking
        Pin</name><status>Inactive</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>false</displayFlag><displayOrder>3</displayOrder><mask>true</mask><instructions>Enter
        banking password (go)</instructions><description>Banking Pin</description></key><key><name>Banking
        Password</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>2</displayOrder><mask>true</mask><instructions>Enter
        banking password (go)</instructions><description>Banking Password</description></key><key><name>TOWERWEBSITE</name><val>www.bankatlanticonlinebanking.com</val><status>Inactive</status><displayFlag>false</displayFlag><displayOrder>3</displayOrder><mask>false</mask></key><key><name>Banking
        Userid</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>1</displayOrder><mask>false</mask><instructions>Enter
        banking userid</instructions><description>Banking Userid</description></key></keys></InstitutionDetail>"
  recorded_at: Mon, 27 Jan 2014 18:59:57 GMT
[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/300002/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>other_account</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>go</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="Vdrn7enbos8mUU6V3wpSeFQZ3A0%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="HY21p752SHuz1AOjLvyDHGYOLg3PkQYrv8p40UKZk", oauth_signature="51wgbs0Npl5ROaSfyZNSgpiYsjw%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849199", oauth_token="qyprdnts7SZ5lVAK40t9pNc747ghJGUh82nvylxq0PFqKXbY",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/xml
      intuit_tid:
      - gw-f4ab77a6-ec22-45d7-9b3d-cafa492895f9
      location:
      - http://qynprdccoreap50.data.ie.intuit.net:8080/rest-war/v1/logins/194070101/accounts
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><ns8:AccountList
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/account/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/bankingaccount/v1\"
        xmlns:ns3=\"http://schema.intuit.com/platform/fdatafeed/creditaccount/v1\"
        xmlns:ns4=\"http://schema.intuit.com/platform/fdatafeed/loanaccount/v1\" xmlns:ns5=\"http://schema.intuit.com/platform/fdatafeed/investmentaccount/v1\"
        xmlns:ns6=\"http://schema.intuit.com/platform/fdatafeed/rewardsaccount/v1\"
        xmlns:ns7=\"http://schema.intuit.com/platform/fdatafeed/otheraccount/v1\"
        xmlns:ns8=\"http://schema.intuit.com/platform/fdatafeed/accountlist/v1\"><ns7:OtherAccount><accountId>400011447598</accountId><status>ACTIVE</status><accountNumber>1000001101</accountNumber><accountNickname>My
        Unknown</accountNickname><displayPosition>1</displayPosition><institutionId>300002</institutionId><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:00:00.996-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:00:00.996-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>194070101</institutionLoginId></ns7:OtherAccount></ns8:AccountList>"
  recorded_at: Mon, 27 Jan 2014 19:00:09 GMT
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/194070101/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="Aff1sgWKvEBK4QtU0R5ecXYOHnmUNfwFVEELYB88",
        oauth_signature="wrc4OWkul3Wjnnuaq04phRkAPmo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849209", oauth_token="qyprdnts7SZ5lVAK40t9pNc747[...]
- request:
    method: put
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/accounts/400011447598
    body:
      encoding: UTF-8
      string: "<ns4:CreditAccount xmlns:ns4=\"http://schema.intuit.com/platform/fdatafeed/creditaccount/v1\"><ns4:creditAccountType>CREDITCARD</ns4:creditAccountType></ns4:CreditAccount>"
    headers:
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="B8grWb2Tl%2BIGBCdxUaDrkuIsT5g%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="4ndlMOt5Rt19jaPl3Q6F7KbUQIZ7CJeqI48jzNscA", oauth_signature="XHBHoZWgaTHSlWvQl8uDldC16v4%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849219", oauth_token="qyprdnts7SZ5lVAK40t9pNc747ghJGUh82nvylxq0PFqKXbY",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      intuit_tid:
      - gw-af74c7a6-0c13-49d5-8a5a-d131baa85236
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:00:23 GMT
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/accounts/400011447598/transactions?txnStartDate=2014-01-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="ODeFBDN4zWCkEpT9AzEj9GWvg22y1WtRCcYHTsQvm4",
        oauth_signature="fMpGnfhhXSu%2FoK3BPlXmRACMvVE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849223", oa[...]
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="1ctQWMJxWLLXrsxZfpyhdGm8GkOfYFA5bWIO11OaRM",
        oauth_signature="Ddkga2mRBq68cDVqIoy3kBA7Sm4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849236", oauth_token="qyprdnts7SZ5lVAK40t9pNc747ghJGUh82nvylxq0PFqKXbY",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      intuit_tid:
      - gw-225046bf-8366-4c6e-ad7e-03f9ca4abe7b
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:00:40 GMT
recorded_with: VCR 2.8.0
