---
http_interactions:
- request:
    method: post
    uri: https://oauth.intuit.com/oauth/v1/get_access_token_by_saml
    body:
      encoding: US-ASCII
      string: saml_assertion=PHNhbWwyOkFzc2VydGlvbiB4bWxuczpzYW1sMj0idXJuOm9hc2lzOm5hbWVz%0AOnRjOlNBTUw6Mi4wOmFzc2VydGlvbiIgSUQ9Il8wNGU3ZWE5MDM0NWQ0ODFj%0AOTZkZGI1MGQwMWUwODY1MSIgSXNzdWVJbnN0YW50PSIyMDE0LTAzLTAzVDE3%0AOjQwOjUwLjQ4MFoiIFZlcnNpb249IjIuMCI%2BPHNhbWwyOklzc3Vlcj5wbGlu%0Aa2RldmFuZHFhZW52aXJvbm1lbnQuMzA1OTkuY2MuZGV2LWludHVpdC5pcHAu%0AcHJvZDwvc2FtbDI6SXNzdWVyPjxkczpTaWduYXR1cmUgeG1sbnM6ZHM9Imh0%0AdHA6Ly93d3cudzMub3JnLzIwMDAvMDkveG1sZHNpZyMiPjxkczpTaWduZWRJ%0AbmZvPjxkczpDYW5vbmljYWxpemF0aW9uTWV0aG9kI[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="lyfKEfIhrCH0jTfELyZSxR9nVRXaEooHPMTRzfD5U",
        oauth_signature="B72VC2%2F0QyZl%2Fbko2Jcws%2BuXXtk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393868451", oauth_token="qyprd7Zo5qvRhQfWE3wKvN034sFNniiCg6C9uijHaDMz3nWL",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Intuit-Tid:
      - gw-b98dd177-e178-438a-aa01-61469b89461f
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><InstitutionDetail
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/institution/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/common/v1\"><institutionId>100000</institutionId><institutionName>CC
        Bank</institutionName><homeUrl>http://www.intuit.com</homeUrl><address><ns2:country>USA</ns2:country></address><emailAddress>CustomerCentralBank@intuit.com</emailAddress><specialText>Welcome
        to  Bank of Intuit</specialText><currencyCode>USD</currencyCode><keys><key><name>Banking
        Password</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>2</displayOrder><mask>true</mask><instructions>Enter
        banking password (go)</instructions><description>Banking Password</description></key><key><name>Banking
        Userid</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>1</displayOrder><mask>false</mask><instructions>Enter
        banking userid (demo)</instructions><description>Banking Userid</description></key></keys></InstitutionDetail>"
  recorded_at: Mon, 03 Mar 2014 17:40:52 GMT
[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>anything</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>stuff3070297</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - OAuth oauth_body_hash="h3jd6iE9bHe1b2ybKOLQsE%2BaZhw%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="AmgNcmxeHe1RaZjUpVyvufH9coR1yOaPJ6llic5X3QU", oauth_signature="41PJ%2BwrzaSvwbiHmomIT6f0qF8s%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1393868453", oauth_token="qyprd7Zo5qvRhQfWE3wKvN034sFNniiCg6C9uijHaDMz3nWL",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/xml
      Intuit-Tid:
      - gw-1e70721b-68a1-4e7a-bac9-9f16d10bf695
      Location:
      - http://qynprdccoreap49.data.ie.intuit.net:8080/rest-war/v1/logins/247840145/accounts
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><ns8:AccountList
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/account/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/bankingaccount/v1\"
        xmlns:ns3=\"http://schema.intuit.com/platform/fdatafeed/creditaccount/v1\"
        xmlns:ns4=\"http://schema.intuit.com/platform/fdatafeed/loanaccount/v1\" xmlns:ns5=\"http://schema.intuit.com/platform/fdatafeed/investmentaccount/v1\"
        xmlns:ns6=\"http://schema.intuit.com/platform/fdatafeed/rewardsaccount/v1\"
        xmlns:ns7=\"http://schema.intuit.com/platform/fdatafeed/otheraccount/v1\"
        xmlns:ns8=\"http://schema.intuit.com/platform/fdatafeed/accountlist/v1\"><ns5:InvestmentAccount><accountId>400013432210</accountId><status>ACTIVE</status><accountNumber>0000000000</accountNumber><accountNickname>My
        Brokerage</accountNickname><displayPosition>9</displayPosition><institutionId>100000</institutionId><balanceAmount>303.4</balanceAmount><balanceDate>2014-03-03T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-03-03T09:40:54.204-08:00</aggrSuccessDate><aggrAttemptDate>2014-03-03T09:40:54.204-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>247840145</institutionLoginId><ns5:investmentAccountType>TAXABLE</ns5:investmentAccountType><ns5:currentBalance>303.4</ns5:currentBalance></ns5:InvestmentAccount><ns4:LoanAccount><accountId>400013432211</accountId><status>ACTIVE</status><accountNumber>8000008888</accountNumber><accountNickname>My
        Auto Loan</accountNickname><displayPosition>1</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>303.40</balanceAmount><balanceDate>2014-03-03T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-03-03T09:40:54.204-08:00</aggrSuccessDate><aggrAttemptDate>2014-03-03T09:40:54.204-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>247840145</institutionLoginId><ns4:loanType>LOAN</ns4:loanType><ns4:nextPayment>303.40</ns4:nextPayment><ns4:nextPaymentDate>2020-04-01T00:00:00-07:00</ns4:nextPaymentDate><ns4:autopayEnrolled>true</ns4:autopayEnrolled><ns4:collateral>303.40</ns4:collateral><ns4:currentSchool>Cur
        School</ns4:currentSchool><ns4:firstPaymentDate>2020-04-01T00:00:00-07:00</ns4:firstPaymentDate><ns4:guarantor>Guarantor</ns4:guarantor><ns4:firstMortgage>false</ns4:firstMortgage><ns4:loanPaymentFreq>MONTHLY</ns4:loanPaymentFreq><ns4:paymentMinAmount>303.40</ns4:paymentMinAmount><ns4:originalSchool>Orig
        School</ns4:originalSchool><ns4:recurringPaymentAmount>303.40</ns4:recurringPaymentAmount><ns4:lender>Lender</ns4:lender></ns4:LoanAccount><ns2:BankingAccount><accountId>400013432212</accountId><status>ACTIVE</status><accountNumber>2000005555</accountNumber><accountNickname>My
        CD</accountNickname><displayPosition>8</displayPosition><institutionId>100000</institutionId><balanceAmount>303.4</balanceAmount><balanceDate>2014-03-03T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-03-03T09:40:54.204-08:00</aggrSuccessDate><aggrAttemptDate>2014-03-03T09:40:54.204-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>247840145</institutionLoginId><ns2:bankingAccountType>CD</ns2:bankingAccountType></ns2:BankingAccount><ns4:LoanAccount><accountId>400013432213</accountId><status>ACTIVE</status><accountNumber>1000000001</accountNumber><accountNickname>My
        Mortgage</accountNickname><displayPosition>5</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>303.40</balanceAmount><balanceDate>2014-03-03T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-03-03T09:40:54.204-08:00</aggrSuccessDate><aggrAttemptDate>2[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/247840145/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="z4lqMil6zXkXijDL39N9Bal3YQfynBVxV5s3wMMEU",
        oauth_signature="Ur2DS29jQ07RSuJYbN21enREcrg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393868456", oauth_token="qyprd7Zo5qvRhQfWE3wKvN034[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/accounts/400013432212/transactions?txnStartDate=2014-02-17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="klfJzQzzsJKRe486aUf1B6PoIEjRMQcDknre5n4R30",
        oauth_signature="B7GUsuTZFA2MdLVTEnIuTnCz8S4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393868470", oauth_token="qyprd7Zo5qvRhQfWE3wKvN034sFNniiCg6C9uijHaDMz3nWL",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      Intuit-Tid:
      - gw-f8f16f6b-3f67-4f9b-b1fe-ef1fa5f7f435
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><ns9:TransactionList xmlns=\"http://schema.intuit.com/platform/fdatafeed/transaction/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/bnktransaction/v1\" xmlns:ns3=\"http://schema.intuit.com/platform/fdatafeed/cctransaction/v1\" xmlns:ns4=\"http://schema.intuit.com/platform/fdatafeed/ibnktransaction/v1\" xmlns:ns5=\"http://schema.intuit.com/platform/fdatafeed/loantransaction/v1\" xmlns:ns6=\"http://schema.intuit.com/platform/fdatafeed/invtransaction/v1\" xmlns:ns7=\"http://schema.intuit.com/platform/fdatafeed/securityinfo/v1\" xmlns:ns8=\"http://schema.intuit.com/platform/fdatafeed/rewardstransaction/v1\" xmlns:ns9=\"http://schema.intuit.com/platform/fdatafeed/transactionlist/v1\" notRefreshedReason=\"NOT_NECESSARY\"/>"
  recorded_at: Mon, 03 Mar 2014 17:41:13 GMT
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="COURaSKQizOa1gi9s5sCvCUQ7ZZw5HUYlqDLqwYRJM",
        oauth_signature="WnHf4p4Jw9dICpbUxUrzRmoYXxk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393868500", oauth_token="qyprd7Zo5qvRhQfWE3wKvN034sFNniiCg6C9uijHaDMz3nWL",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Intuit-Tid:
      - gw-24c1b3b6-8711-408a-9fbf-c3bc146ed804
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Mar 2014 17:41:42 GMT
recorded_with: VCR 2.8.0
