---
http_interactions:
- request:
    method: post
    uri: https://oauth.intuit.com/oauth/v1/get_access_token_by_saml
    body:
      encoding: US-ASCII
      string: saml_assertion=PHNhbWwyOkFzc2VydGlvbiB4bWxuczpzYW1sMj0idXJuOm9hc2lzOm5hbWVz%0AOnRjOlNBTUw6Mi4wOmFzc2VydGlvbiIgSUQ9Il85Y2FjOTlhMTVkMDY0ODhh%0AYTdkOWZlYjU1NGY2YTg1NiIgSXNzdWVJbnN0YW50PSIyMDE0LTAxLTI3VDE5%0AOjAzOjMxLjEwN1oiIFZlcnNpb249IjIuMCI%2BPHNhbWwyOklzc3Vlcj5wbGlu%0Aa2RldmFuZHFhZW52aXJvbm1lbnQuMzA1OTkuY2MuZGV2LWludHVpdC5pcHAu%0AcHJvZDwvc2FtbDI6SXNzdWVyPjxkczpTaWduYXR1cmUgeG1sbnM6ZHM9Imh0%0AdHA6Ly93d3cudzMub3JnLzIwMDAvMDkveG1sZHNpZyMiPjxkczpTaWduZWRJ%0AbmZvPjxkczpDYW5vbmljYWxpemF0aW9uTWV0aG9kI[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="6tZtUYPSzC3h8YBdEnTASCLORrpqWbu8vaDYsEy0",
        oauth_signature="tHQxl4KfT6Js1kb5uWXI308Ahpw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849412", oauth_token="qyprdqMJNjwTwYMLVCmtmgHyu3fPvePRC9noTYBLM3CbK6q4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
      intuit_tid:
      - gw-f5699a21-f908-48b4-bf40-3099359f108e
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><InstitutionDetail
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/institution/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/common/v1\"><institutionId>100000</institutionId><institutionName>CC
        Bank</institutionName><homeUrl>http://www.intuit.com</homeUrl><address><ns2:country>USA</ns2:country></address><emailAddress>CustomerCentralBank@intuit.com</emailAddress><specialText>Welcome
        to  Bank of Intuit</specialText><currencyCode>USD</currencyCode><keys><key><name>Banking
        Password</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>2</displayOrder><mask>true</mask><instructions>Enter
        banking password (go)</instructions><description>Banking Password</description></key><key><name>Banking
        Userid</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>1</displayOrder><mask>false</mask><instructions>Enter
        banking userid (demo)</instructions><description>Banking Userid</description></key></keys></InstitutionDetail>"
  recorded_at: Mon, 27 Jan 2014 19:03:33 GMT
[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>bobloblaw</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>nohablaespanol</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="pnYsDPXSSeKB3F2p1dgooyfgfGI%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="tQmj7INWpg30C5NYcFW4t18isfFQuNa3k3LvuVoLM", oauth_signature="tCV0hh57NuZpU4AhQoT6D%2Fhb094%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849414", oauth_token="qyprdqMJNjwTwYMLVCmtmgHyu3fPvePRC9noTYBLM3CbK6q4",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      intuit_tid:
      - gw-d8101cb9-acf1-4374-b8f6-4712a332520f
      content-type:
      - application/xml
      location:
      - http://qynprdccoreap49.data.ie.intuit.net:8080/rest-war/v1/logins/193170160/accounts
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><ns8:AccountList
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/account/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/bankingaccount/v1\"
        xmlns:ns3=\"http://schema.intuit.com/platform/fdatafeed/creditaccount/v1\"
        xmlns:ns4=\"http://schema.intuit.com/platform/fdatafeed/loanaccount/v1\" xmlns:ns5=\"http://schema.intuit.com/platform/fdatafeed/investmentaccount/v1\"
        xmlns:ns6=\"http://schema.intuit.com/platform/fdatafeed/rewardsaccount/v1\"
        xmlns:ns7=\"http://schema.intuit.com/platform/fdatafeed/otheraccount/v1\"
        xmlns:ns8=\"http://schema.intuit.com/platform/fdatafeed/accountlist/v1\"><ns3:CreditAccount><accountId>400011492650</accountId><status>ACTIVE</status><accountNumber>4100007777</accountNumber><accountNickname>My
        Visa</accountNickname><displayPosition>2</displayPosition><institutionId>100000</institutionId><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:03:35.811-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:03:35.811-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>193170160</institutionLoginId><ns3:creditAccountType>CREDITCARD</ns3:creditAccountType><ns3:currentBalance>-127.03</ns3:currentBalance><ns3:paymentMinAmount>15</ns3:paymentMinAmount><ns3:paymentDueDate>2020-04-01T00:00:00-07:00</ns3:paymentDueDate><ns3:statementEndDate>2020-03-01T00:00:00-08:00</ns3:statementEndDate><ns3:statementCloseBalance>-127.03</ns3:statementCloseBalance></ns3:CreditAccount><ns5:InvestmentAccount><accountId>400011492651</accountId><status>ACTIVE</status><accountNumber>0000000001</accountNumber><accountNickname>My
        Retirement</accountNickname><displayPosition>10</displayPosition><institutionId>100000</institutionId><balanceAmount>127.03</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:03:35.811-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:03:35.811-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>193170160</institutionLoginId><ns5:investmentAccountType>401K</ns5:investmentAccountType><ns5:currentBalance>127.03</ns5:currentBalance></ns5:InvestmentAccount><ns2:BankingAccount><accountId>400011492652</accountId><status>ACTIVE</status><accountNumber>1000001111</accountNumber><accountNickname>My
        Checking</accountNickname><displayPosition>6</displayPosition><institutionId>100000</institutionId><balanceAmount>127.03</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:03:35.811-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:03:35.811-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>BND</currencyCode><institutionLoginId>193170160</institutionLoginId><ns2:bankingAccountType>CHECKING</ns2:bankingAccountType></ns2:BankingAccount><ns2:BankingAccount><accountId>400011492653</accountId><status>ACTIVE</status><accountNumber>2000005555</accountNumber><accountNickname>My
        CD</accountNickname><displayPosition>8</displayPosition><institutionId>100000</institutionId><balanceAmount>127.03</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:03:35.811-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:03:35.811-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>193170160</institutionLoginId><ns2:bankingAccountType>CD</ns2:bankingAccountType></ns2:BankingAccount><ns4:LoanAccount><accountId>400011492654</accountId><status>ACTIVE</status><accountNumber>1000000001</accountNumber><accountNickname>My
        Mortgage</accountNickname><displayPosition>5</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>127.03</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:03:35.811-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:03:35.811-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>BND</currencyCode><institutionLoginId>193170160</institutionLoginId><ns4:loanType>MORTGAGE</ns4:loanType><ns4:nextPayment>127.03</ns4:nextPayment><ns4:nextPaymentDate>2020-04-01T00:00:00-07:00</ns4:nextPaymentDate><ns4:autopayEnrolled>true</ns4:autopayEnrolled><ns4:collateral>127.03</ns4:collateral><ns4:currentSchool>Cur
        School</ns4:currentSchool><ns4:firstPaymentDate>2020-04-01T00:00:00-07:00</ns4:firstPaymentDate><ns4:guarantor>Guarantor</ns4:guarantor><ns4:firstMortgage>false</ns4:firstMortgage><ns4:loanPaymentFreq>MONTHLY</ns4:loanPaymentFreq><ns4:paymentMinAmount>127.03</ns4:paymentMinAmount><ns4:originalSchool>Orig
        School</ns4:originalSchool><ns4:recurringPaymentAmount>127.03</ns4:recurringPaymentAmount><ns4:lender>Lender</ns4:lender></ns4:LoanAccount><ns5:InvestmentAccount><accountId>400011492655</accountId><status>ACTIVE</status><accountNumber>2000004444</accountNumber><accountNickname>My
        Roth IRA</accountNickname><displayPosition>3</displayPosition><institutionId>100000</institutionId><balanceAmount>127.03</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:03:35.811-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:03:35.811-08:00</aggrAttemptDa[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/193170160/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="C5IBBOyawFnpniSp6KSbJdfAyteyMuoJ3Bo36AwUM",
        oauth_signature="roVBChvNYzf9ud9DLXSzRySrDK8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849417", oauth_token="qyprdqMJNjwTwYMLVCmtmgHyu[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/accounts/400011492650/transactions?txnStartDate=2014-01-13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="cFsUfcQCdBZ2ns2fpKUSy4ZVOKCCft0tmmTLwXjc",
        oauth_signature="Osq7%2BGpNyx%2B3NknVAMdmz5WYE7s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849430", oa[...]
[...]
- request:
    method: put
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/193170160?refresh=true
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>tfa_text</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>mmmmbacon</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="94hPH21Qu1rgx8T34ZiEGxKph0M%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="jxIiyee6YZlOV1TAFcymoCnXqAKhcDdZtxiwHQBbRU", oauth_signature="BxQfB4obNj%2Bt3oZ%2FmCMJ2PM0SzA%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849441", oauth_token="qyprdqMJNjwTwYMLVCmtmgHyu3fPvePRC9noTYBLM3CbK6q4",
        oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/xml
      intuit_tid:
      - gw-2fb54008-2326-4fcc-bb08-14022f9847c9
      challengenodeid:
      - 10.136.17.85
      challengesessionid:
      - f8706fd1-8fbd-4888-ba27-c3d559e63be3
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><Challenges
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/challenge/v1\"><challenge><text>Enter
        your first pet's name:</text></challenge></Challenges>"
  recorded_at: Mon, 27 Jan 2014 19:04:05 GMT
- request:
    method: put
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/193170160?refresh=true
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><challengeResponses><response
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/challenge/v1\">succeed</response></challengeResponses></InstitutionLogin>"
    headers:
      challengesessionid:
      - f8706fd1-8fbd-4888-ba27-c3d559e63be3
      challengenodeid:
      - 10.136.17.85
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="pOjO59RJ7ayQrR4kBLNf6yf3jg4%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="tcnustHJEONOyFfjWngmPeJIlyjxe1B5iM6NcKIAw", oauth_signature="0gqYWT0gfK2VfbmmGVDD%2BY0hgzI%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849448", oauth_token="qyprdqMJNjwTwYMLVCmtmgHyu3fPvePRC9noTYBLM3CbK6q4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      intuit_tid:
      - gw-bfd75ec2-4b3e-4633-8dea-256b8fb7bb5e
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:04:13 GMT
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="aCutJPw9O0ENO2ZiFspWYayPmG1dC55fMkIf1cuGuKI",
        oauth_signature="cKVd08hPMKdR%2FRm41ZW%2BwGeIWpE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849458", oauth_token="qyprdqMJNjwTwYMLVCmtmgHyu3fPvePRC9noTYBLM3CbK6q4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      intuit_tid:
      - gw-e6dc3175-3cd3-49bf-9bd5-37ad10ff9a07
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:04:19 GMT
[...]
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="aSLqBma7FN4qbdMxizXJAp7tlpIgRZHgrJTp9oEQ",
        oauth_signature="0ldY7WXxA96S5kWTSkDOqYSVfMQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849461", oauth_token="qyprdVERkg47AflrLUKU21F3XM8Y9OfOm4wFtN5NXesPNOgQ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
      intuit_tid:
      - gw-ae079931-fe1c-4cd0-9428-770c27f72fa6
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:04:22 GMT
recorded_with: VCR 2.8.0
