---
http_interactions:
- request:
    method: post
    uri: https://oauth.intuit.com/oauth/v1/get_access_token_by_saml
    body:
      encoding: US-ASCII
      string: saml_assertion=PHNhbWwyOkFzc2VydGlvbiB4bWxuczpzYW1sMj0idXJuOm9hc2lzOm5hbWVz%0AOnRjOlNBTUw6Mi4wOmFzc2VydGlvbiIgSUQ9Il84NGYzMjk2MTRkYjk0YTdl%0AOGQ3NjE3ZDZlYmJkZWQ5ZCIgSXNzdWVJbnN0YW50PSIyMDE0LTAxLTI3VDE5%0AOjAwOjQ1LjcwNVoiIFZlcnNpb249IjIuMCI%2BPHNhbWwyOklzc3Vlcj5wbGlu%0Aa2RldmFuZHFhZW52aXJvbm1lbnQuMzA1OTkuY2MuZGV2LWludHVpdC5pcHAu%0AcHJvZDwvc2FtbDI6SXNzdWVyPjxkczpTaWduYXR1cmUgeG1sbnM6ZHM9Imh0%0AdHA6Ly93d3cudzMub3JnLzIwMDAvMDkveG1sZHNpZyMiPjxkczpTaWduZWRJ%0AbmZvPjxkczpDYW5vbmljYWxpemF0aW9uTWV0aG9kI[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="CNW9qeR5mIGpZ0Y1qbqiBRX1RKPIq8wAF6uSjds7xsA",
        oauth_signature="NRpQ2ouE8UPA%2Fczcm%2B90WdlRdK0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849246", oauth_token="qyprdHxNApQfb6V26L8jcry8aESebfdrPMX6EIb38qg5SjEJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
      intuit_tid:
      - gw-2e1a3151-9ed1-41ed-a7c2-f8d6d133b153
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><InstitutionDetail
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/institution/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/common/v1\"><institutionId>100000</institutionId><institutionName>CC
        Bank</institutionName><homeUrl>http://www.intuit.com</homeUrl><address><ns2:country>USA</ns2:country></address><emailAddress>CustomerCentralBank@intuit.com</emailAddress><specialText>Welcome
        to  Bank of Intuit</specialText><currencyCode>USD</currencyCode><keys><key><name>Banking
        Password</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>2</displayOrder><mask>true</mask><instructions>Enter
        banking password (go)</instructions><description>Banking Password</description></key><key><name>Banking
        Userid</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>1</displayOrder><mask>false</mask><instructions>Enter
        banking userid (demo)</instructions><description>Banking Userid</description></key></keys></InstitutionDetail>"
  recorded_at: Mon, 27 Jan 2014 19:00:47 GMT
[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>tfa_image</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>stuff1202532</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="%2FiVuWR7fBzOtUuONg3LApJGZnoo%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="fVpqWvkEzFpoUvWuaUYGmWUNCDE3tADTXf33ADpk", oauth_signature="B1RQdXIbOCRERfTJ8hkw84dONuE%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849249", oauth_token="qyprdHxNApQfb6V26L8jcry8aESebfdrPMX6EIb38qg5SjEJ",
        oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/xml
      intuit_tid:
      - gw-635936fc-7aeb-4511-8db3-09a2e62365a2
      challengenodeid:
      - 10.136.17.82
      challengesessionid:
      - ee53b979-da5c-4182-9c17-8af46ebe8381
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><Challenges
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/challenge/v1\"><challenge><text>Enter
        the word in the image below</text><image>/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAA8AF8DASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><challengeResponses><response
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/challenge/v1\">dog</response></challengeResponses></InstitutionLogin>"
    headers:
      challengesessionid:
      - ee53b979-da5c-4182-9c17-8af46ebe8381
      challengenodeid:
      - 10.136.17.82
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="boqWArPiW8y2srHhPTF5%2FgktyWQ%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="8XGd4wnWXBLykszrJYjEFFGkLNogED2qhIfP9oPmQQ", oauth_signature="%2FVybX%2BnWtpqFMZOvTm9fZfIOv6I%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849253", oauth_token="qyprdHxNApQfb6V26L8jcry8aESebfdrPMX6EIb38qg5SjEJ",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      intuit_tid:
      - gw-0e191eb5-7c35-43fb-ac39-cee089ba399a
      content-type:
      - application/xml
      location:
      - http://10.136.17.82:8080/rest-war/v1/logins/193170156/accounts
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><ns8:AccountList
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/account/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/bankingaccount/v1\"
        xmlns:ns3=\"http://schema.intuit.com/platform/fdatafeed/creditaccount/v1\"
        xmlns:ns4=\"http://schema.intuit.com/platform/fdatafeed/loanaccount/v1\" xmlns:ns5=\"http://schema.intuit.com/platform/fdatafeed/investmentaccount/v1\"
        xmlns:ns6=\"http://schema.intuit.com/platform/fdatafeed/rewardsaccount/v1\"
        xmlns:ns7=\"http://schema.intuit.com/platform/fdatafeed/otheraccount/v1\"
        xmlns:ns8=\"http://schema.intuit.com/platform/fdatafeed/accountlist/v1\"><ns3:CreditAccount><accountId>400011492624</accountId><status>ACTIVE</status><accountNumber>8000006666</accountNumber><accountNickname>My
        Line of Credit</accountNickname><displayPosition>4</displayPosition><institutionId>100000</institutionId><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:00:54.258-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:00:54.258-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>193170156</institutionLoginId><ns3:creditAccountType>LINEOFCREDIT</ns3:creditAccountType><ns3:currentBalance>-127</ns3:currentBalance></ns3:CreditAccount><ns4:LoanAccount><accountId>400011492625</accountId><status>ACTIVE</status><accountNumber>8000008888</accountNumber><accountNickname>My
        Auto Loan</accountNickname><displayPosition>1</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>127.00</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:00:54.258-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:00:54.258-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>193170156</institutionLoginId><ns4:loanType>LOAN</ns4:loanType><ns4:nextPayment>127.00</ns4:nextPayment><ns4:nextPaymentDate>2020-04-01T00:00:00-07:00</ns4:nextPaymentDate><ns4:autopayEnrolled>true</ns4:autopayEnrolled><ns4:collateral>127.00</ns4:collateral><ns4:currentSchool>Cur
        School</ns4:currentSchool><ns4:firstPaymentDate>2020-04-01T00:00:00-07:00</ns4:firstPaymentDate><ns4:guarantor>Guarantor</ns4:guarantor><ns4:firstMortgage>false</ns4:firstMortgage><ns4:loanPaymentFreq>MONTHLY</ns4:loanPaymentFreq><ns4:paymentMinAmount>127.00</ns4:paymentMinAmount><ns4:originalSchool>Orig
        School</ns4:originalSchool><ns4:recurringPaymentAmount>127.00</ns4:recurringPaymentAmount><ns4:lender>Lender</ns4:lender></ns4:LoanAccount><ns5:InvestmentAccount><accountId>400011492626</accountId><status>ACTIVE</status><accountNumber>2000004444</accountNumber><accountNickname>My
        Roth IRA</accountNickname><displayPosition>3</displayPosition><institutionId>100000</institutionId><balanceAmount>127</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:00:54.258-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:00:54.258-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>193170156</institutionLoginId><ns5:investmentAccountType>TAXABLE</ns5:investmentAccountType><ns5:currentBalance>127</ns5:currentBalance></ns5:InvestmentAccount><ns5:InvestmentAccount><accountId>400011492627</accountId><status>ACTIVE</status><accountNumber>0000000001</accountNumber><accountNickname>My
        Retirement</accountNickname><displayPosition>10</displayPosition><institutionId>100000</institutionId><balanceAmount>127</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:00:54.258-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:00:54.258-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>193170156</institutionLoginId><ns5:investmentAccountType>401K</ns5:investmentAccountType><ns5:currentBalance>127</ns5:currentBalance></ns5:InvestmentAccount><ns3:CreditAccount><accountId>400011492628</accountId><status>ACTIVE</status><accountNumber>4100007777</accountNumber><accountNickname>My
        Visa</accountNickname><displayPosition>2</displayPosition><institutionId>100000</institutionId><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:00:54.258-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:00:54.258-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>193170156</institutionLoginId><ns3:creditAccountType>CREDITCARD</ns3:creditAccountType><ns3:currentBalance>-127</ns3:currentBalance><ns3:paymentMinAmount>15</ns3:paymentMinAmount><ns3:paymentDueDate>2020-04-01T00:00:00-07:00</ns3:paymentDueDate><ns3:statementEndDate>2020-03-01T00:00:00-08:00</ns3:statementEndDate><ns3:statementCloseBalance>-127</ns3:statementCloseBalance></ns3:CreditAccount><ns4:LoanAccount><accountId>400011492629</accountId><status>ACTIVE</status><accountNumber>1000000001</accountNumber><accountNickname>My
        Mortgage</accountNickname><displayPosition>5</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>127.00</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:00:54.258-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:00:54.258-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>BND</currencyCode><institutionLoginId>193170156</institutionLoginId><ns4:loanType>MORTGAGE</ns4:loanType><ns4:nextPayment>127.00</ns4:nextPayment><ns4:nextPaymentDate>2020-04-01T00:00:00-07:00</ns4:nextPaymentDate><ns4:autopayEnrolled>true</ns4:autopayEnrolled><ns4:collateral>127.00</ns4:collateral><ns4:currentSchool>Cur
        School</ns4:currentSchool><ns4:firstPaymentDate>2020-04-01T00:00:00-07:00</ns4:firstPaymentDate><ns4:guarantor>Guarantor</ns4:guarantor><ns4:firstMortgage>false</ns4:firstMortgage><ns4:loanPaymentFreq>MONTHLY</ns4:loanPaymentFreq><ns4:paymentMinAmount>127.00</ns4:paymentMinAmount><ns4:originalSchool>Orig
        School</ns4:originalSchool><ns4:recurringPaymentAmount>127.00</ns4:recurringPaymentAmount><ns4:lender>Lender</ns4:lender></ns4:LoanAccount><ns2:BankingAccount><accountId>400011492630</accountId><status>ACTIVE</status><accountNumber>2000005555</accountNumber><accountNickname>My
        CD</accountNickname><displayPosition>8</displayPosition><institutionId>100000</institutionId><balanceAmount>127</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:00:54.258-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:00:54.258-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>193170156</institutionLoginId><ns2:bankingAccountType>CD</ns2:bankingAccountType></ns2:BankingAccount><ns5:InvestmentAccount><accountId>400011492631</accountId><status>ACTIVE</status><accountNumber>0000000000</accountNumber><accountNickname>My
        Brokerage</accountNickname><displayPosition>9</displayPosition><institutionId>100000</institutionId><balanceAmount>127</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:00:54.258-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:00:54.258-08:00</aggr[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/193170156/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="0ZtXR9DF7xn3GaWYS3gC8Hy0dE92l4R0Y25iRgVXC4",
        oauth_signature="U3%2FUEVx8izOBCNdc5uK2OEn%2BZdo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849260", oauth_token="qyprdHxNApQfb6V26L8j[...]
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="tiGjgxTrvpXvSmVSvwB8ph9gvfglT2DZqnpphUXw4Q",
        oauth_signature="nr88n4W9g0rD2GZwByR3fD1mHdM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849270", oauth_token="qyprdHxNApQfb6V26L8jcry8aESebfdrPMX6EIb38qg5SjEJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      intuit_tid:
      - gw-3afe5059-0ad7-4f03-b9b6-26dd30eded6b
      content-type:
      - text/plain
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:01:13 GMT
recorded_with: VCR 2.8.0
