---
http_interactions:
- request:
    method: post
    uri: https://oauth.intuit.com/oauth/v1/get_access_token_by_saml
    body:
      encoding: US-ASCII
      string: saml_assertion=PHNhbWwyOkFzc2VydGlvbiB4bWxuczpzYW1sMj0idXJuOm9hc2lzOm5hbWVz%0AOnRjOlNBTUw6Mi4wOmFzc2VydGlvbiIgSUQ9Il9kN2Q1ZDM1N2JhMjk0Mzhi%0AOTRmZDNhYWJkYWI1ODg1ZSIgSXNzdWVJbnN0YW50PSIyMDE0LTAxLTI3VDE5%0AOjAyOjU0LjEzMFoiIFZlcnNpb249IjIuMCI%2BPHNhbWwyOklzc3Vlcj5wbGlu%0Aa2RldmFuZHFhZW52aXJvbm1lbnQuMzA1OTkuY2MuZGV2LWludHVpdC5pcHAu%0AcHJvZDwvc2FtbDI6SXNzdWVyPjxkczpTaWduYXR1cmUgeG1sbnM6ZHM9Imh0%0AdHA6Ly93d3cudzMub3JnLzIwMDAvMDkveG1sZHNpZyMiPjxkczpTaWduZWRJ%0AbmZvPjxkczpDYW5vbmljYWxpemF0aW9uTWV0aG9kI[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="WWgaRUhS184ygFNV1wOIGCHzCAg9LognWlFpHo1Juc",
        oauth_signature="rYjyLyvm8aX%2Fd2T2lR8vq3s6yeU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849375", oauth_token="qyprd8a3KLEJNHW75IsE0qd33MO4shh8mhhCATtTl5x4ZC6O",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      intuit_tid:
      - gw-07159131-8b1e-418b-92bc-c2ca9fd1ec82
      content-type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><InstitutionDetail
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/institution/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/common/v1\"><institutionId>100000</institutionId><institutionName>CC
        Bank</institutionName><homeUrl>http://www.intuit.com</homeUrl><address><ns2:country>USA</ns2:country></address><emailAddress>CustomerCentralBank@intuit.com</emailAddress><specialText>Welcome
        to  Bank of Intuit</specialText><currencyCode>USD</currencyCode><keys><key><name>Banking
        Password</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>2</displayOrder><mask>true</mask><instructions>Enter
        banking password (go)</instructions><description>Banking Password</description></key><key><name>Banking
        Userid</name><status>Active</status><valueLengthMin>1</valueLengthMin><valueLengthMax>20</valueLengthMax><displayFlag>true</displayFlag><displayOrder>1</displayOrder><mask>false</mask><instructions>Enter
        banking userid (demo)</instructions><description>Banking Userid</description></key></keys></InstitutionDetail>"
  recorded_at: Mon, 27 Jan 2014 19:02:56 GMT
[...]
- request:
    method: post
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/institutions/100000/logins
    body:
      encoding: UTF-8
      string: "<InstitutionLogin xmlns=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><credentials
        xmlns:ns1=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Userid</ns2:name><ns2:value>bobloblaw</ns2:value></ns1:credential><ns1:credential
        xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/institutionlogin/v1\"><ns2:name>Banking
        Password</ns2:name><ns2:value>nohablaespanol</ns2:value></ns1:credential></credentials></InstitutionLogin>"
    headers:
      content-type:
      - application/xml
      authorization:
      - OAuth oauth_body_hash="pnYsDPXSSeKB3F2p1dgooyfgfGI%3D", oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7",
        oauth_nonce="Xuf9xTSlPvT1iJ1t1uYrgd0H1c1cUGSMlRF0kQaPI", oauth_signature="IpsJab8QeNgGlVK4541Q7vnA1mM%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1390849379", oauth_token="qyprd8a3KLEJNHW75IsE0qd33MO4shh8mhhCATtTl5x4ZC6O",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      intuit_tid:
      - gw-d75addf6-aff3-4d21-a94d-a3ded07844ed
      content-type:
      - application/xml
      location:
      - http://qynprdccoreap51.data.ie.intuit.net:8080/rest-war/v1/logins/193180120/accounts
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><ns8:AccountList
        xmlns=\"http://schema.intuit.com/platform/fdatafeed/account/v1\" xmlns:ns2=\"http://schema.intuit.com/platform/fdatafeed/bankingaccount/v1\"
        xmlns:ns3=\"http://schema.intuit.com/platform/fdatafeed/creditaccount/v1\"
        xmlns:ns4=\"http://schema.intuit.com/platform/fdatafeed/loanaccount/v1\" xmlns:ns5=\"http://schema.intuit.com/platform/fdatafeed/investmentaccount/v1\"
        xmlns:ns6=\"http://schema.intuit.com/platform/fdatafeed/rewardsaccount/v1\"
        xmlns:ns7=\"http://schema.intuit.com/platform/fdatafeed/otheraccount/v1\"
        xmlns:ns8=\"http://schema.intuit.com/platform/fdatafeed/accountlist/v1\"><ns5:InvestmentAccount><accountId>400011378701</accountId><status>ACTIVE</status><accountNumber>0000000001</accountNumber><accountNickname>My
        Retirement</accountNickname><displayPosition>10</displayPosition><institutionId>100000</institutionId><balanceAmount>127.02</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:59.492-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:59.492-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>193180120</institutionLoginId><ns5:investmentAccountType>401K</ns5:investmentAccountType><ns5:currentBalance>127.02</ns5:currentBalance></ns5:InvestmentAccount><ns2:BankingAccount><accountId>400011378702</accountId><status>ACTIVE</status><accountNumber>1000002222</accountNumber><accountNickname>My
        Savings</accountNickname><displayPosition>7</displayPosition><institutionId>100000</institutionId><balanceAmount>127.02</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:59.492-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:59.492-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>193180120</institutionLoginId><ns2:bankingAccountType>SAVINGS</ns2:bankingAccountType></ns2:BankingAccount><ns5:InvestmentAccount><accountId>400011378703</accountId><status>ACTIVE</status><accountNumber>2000004444</accountNumber><accountNickname>My
        Roth IRA</accountNickname><displayPosition>3</displayPosition><institutionId>100000</institutionId><balanceAmount>127.02</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:59.492-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:59.492-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>193180120</institutionLoginId><ns5:investmentAccountType>TAXABLE</ns5:investmentAccountType><ns5:currentBalance>127.02</ns5:currentBalance></ns5:InvestmentAccount><ns3:CreditAccount><accountId>400011378704</accountId><status>ACTIVE</status><accountNumber>8000006666</accountNumber><accountNickname>My
        Line of Credit</accountNickname><displayPosition>4</displayPosition><institutionId>100000</institutionId><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:59.492-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:59.492-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>INR</currencyCode><institutionLoginId>193180120</institutionLoginId><ns3:creditAccountType>LINEOFCREDIT</ns3:creditAccountType><ns3:currentBalance>-127.02</ns3:currentBalance></ns3:CreditAccount><ns4:LoanAccount><accountId>400011378705</accountId><status>ACTIVE</status><accountNumber>1000000001</accountNumber><accountNickname>My
        Mortgage</accountNickname><displayPosition>5</displayPosition><institutionId>100000</institutionId><description>Description</description><balanceAmount>127.02</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:59.492-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:59.492-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>BND</currencyCode><institutionLoginId>193180120</institutionLoginId><ns4:loanType>MORTGAGE</ns4:loanType><ns4:nextPayment>127.02</ns4:nextPayment><ns4:nextPaymentDate>2020-04-01T00:00:00-07:00</ns4:nextPaymentDate><ns4:autopayEnrolled>true</ns4:autopayEnrolled><ns4:collateral>127.02</ns4:collateral><ns4:currentSchool>Cur
        School</ns4:currentSchool><ns4:firstPaymentDate>2020-04-01T00:00:00-07:00</ns4:firstPaymentDate><ns4:guarantor>Guarantor</ns4:guarantor><ns4:firstMortgage>false</ns4:firstMortgage><ns4:loanPaymentFreq>MONTHLY</ns4:loanPaymentFreq><ns4:paymentMinAmount>127.02</ns4:paymentMinAmount><ns4:originalSchool>Orig
        School</ns4:originalSchool><ns4:recurringPaymentAmount>127.02</ns4:recurringPaymentAmount><ns4:lender>Lender</ns4:lender></ns4:LoanAccount><ns3:CreditAccount><accountId>400011378706</accountId><status>ACTIVE</status><accountNumber>4100007777</accountNumber><accountNickname>My
        Visa</accountNickname><displayPosition>2</displayPosition><institutionId>100000</institutionId><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:59.492-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:59.492-08:00</aggrAttemptDate><aggrStatusCode>0</aggrStatusCode><currencyCode>USD</currencyCode><institutionLoginId>193180120</institutionLoginId><ns3:creditAccountType>CREDITCARD</ns3:creditAccountType><ns3:currentBalance>-127.02</ns3:currentBalance><ns3:paymentMinAmount>15</ns3:paymentMinAmount><ns3:paymentDueDate>2020-04-01T00:00:00-07:00</ns3:paymentDueDate><ns3:statementEndDate>2020-03-01T00:00:00-08:00</ns3:statementEndDate><ns3:statementCloseBalance>-127.02</ns3:statementCloseBalance></ns3:CreditAccount><ns5:InvestmentAccount><accountId>400011378707</accountId><status>ACTIVE</status><accountNumber>0000000000</accountNumber><accountNickname>My
        Brokerage</accountNickname><displayPosition>9</displayPosition><institutionId>100000</institutionId><balanceAmount>127.02</balanceAmount><balanceDate>2014-01-27T00:00:00-08:00</balanceDate><aggrSuccessDate>2014-01-27T11:02:59.492-08:00</aggrSuccessDate><aggrAttemptDate>2014-01-27T11:02:59.492-0[...]
- request:
    method: get
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/logins/193180120/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="6svyIq5PoGgPjLMX0BLKNd6NJPnfYR2j269GB1tgks",
        oauth_signature="d3P5gw7uRg6w%2FUc6RhE9lMOk2Pc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849383", oauth_token="qyprd8a3KLEJNHW75IsE0q[...]
[...]
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="5oFnotCUqgacAuiJ9bliY7f2cFlKhCLwrIsbTXyE7Gs",
        oauth_signature="dloBadLy0GfRKdNDQrHrrl7da4M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849403", oauth_token="qyprdWpuNbONcvwtiS92hqcRAAN1fvdCKE2oauTmFfrRXIbb",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
      intuit_tid:
      - gw-02a8b353-b769-4cd5-9cc6-64834fd7ed90
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:03:24 GMT
[...]
- request:
    method: delete
    uri: https://financialdatafeed.platform.intuit.com/rest-war/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="qyprd9826q2GbgHDWGtG6mU0agp9S7", oauth_nonce="6di52K6R6qPzW2S7wEQenwlh5oJKbstqEUGMvGN4I",
        oauth_signature="LgG9gIqz1GUiv1fjbFM47QBNKsQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1390849405", oauth_token="qyprdMuPFa08ZAWiL4jcLhxockJanuZ2ZDhQJkaw5iaCg2nn",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
      intuit_tid:
      - gw-81820d41-cead-4edb-af3d-f171ac56042f
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 27 Jan 2014 19:03:25 GMT
recorded_with: VCR 2.8.0
