---
http_interactions:
- request:
    method: get
    uri: http://www.telize.com/geoip/209.120.212.22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        {"timezone":"America\/Denver","isp":"E Street","region_code":"CO","country":"United States","dma_code":"0","area_code":"0","region":"Colorado","ip":"209.120.212.22","asn":"AS23029","continent_code":"NA","city":"Denver","postal_code":"80222","longitude":-104.9271,"latitude":39.6717,"country_code":"US","country_code3":"USA"}
  recorded_at: Mon, 27 Jan 2014 20:05:06 GMT
recorded_with: VCR 2.8.0
