.slot.locked{data: {'reveal-id' => "locked-slot-modal"}}
  %img{src: wallet_item.icon_url, class:'img', alt: wallet_item.icon_description}
  .text
    %h3.bold= wallet_item.title
    %h3= wallet_item.description

#locked-slot-modal.reveal-modal.modal
  = image_tag 'btn_close.png', alt: 'Close', class: 'close-btn close-reveal-modal'

  %h1 This slot will unlock after your first qualified partner purchase* OR the first time you refer a friend** to Plink.

  %p * A purchase is considered 'qualified' when it meets or exceeds the minimum spend requirement and is in your Plink Wallet at the time of the purchase.

  %p ** A friend is considered 'referred' when he or she joins Plink and links a card.