.slot.locked{data: {'reveal-id' => "locked-slot-modal"}}
  %img{src: wallet_item.icon_url, class:'img', alt: wallet_item.icon_description}
  .text
    %h3.bold= wallet_item.title
    %h3= wallet_item.description

#locked-slot-modal.reveal-modal.modal
  = image_tag 'btn_close.png', alt: 'Close', class: 'close-btn close-reveal-modal'

  %h1 One wallet slot will unlock after your first qualified purchase* and one slot will open with your first friend referral**.

  %p * A purchase is considered qualified when it meets or exceeds the minimum spend requirement and is in your Plink wallet at the time of purchase.

  %p ** A friend is considered successfully referred when he or she joins Plink through your personal referral link and registers a card.
