.slot
  .slot-inner
    .brand
      = image_tag presenter.icon_path, alt: presenter.icon_description
    .info
      %h3 up to
      %h1.numbers= presenter.max_currency_award_amount
      %h3= presenter.currency_name
      = button_to 'REMOVE', wallet_offer_path(presenter.offer_id), class: 'button wallet-remove', method: :delete