.slot.filled{data: {'reveal-id' => wallet_item.modal_dom_id, 'template-name' => wallet_item.template_name}}
  .slot-inner
    .brand
      .ribbon{class: wallet_item.special_offer_type}= wallet_item.special_offer_type_text
      %img{src: wallet_item.icon_url, class: 'offer-logo', alt: wallet_item.icon_description}
    .info
      %h3 up to
      %h1.numbers= wallet_item.max_currency_award_amount
      %h3= wallet_item.currency_name
      = link_to 'Remove', wallet_item.wallet_offer_url, class: 'button wallet-remove'
