.slot.locked.promotional{data: {'reveal-id' => "locked-promotional-slot-modal"}}
  =image_tag 'icon_lockedslot.png', class:'img'
  .text
    %h3.bold This slot is locked.
    %h3
      Make a
      %u qualifying
      purchase at any Plink location by 10/27/13
#locked-promotional-slot-modal.reveal-modal.modal
  = image_tag 'btn_close.png', alt: 'Close', class: 'close-btn close-reveal-modal'
  %h1 This wallet slot will unlock after you make a qualified purchase* at any Plink location by Sunday 10/27/13.
  %p * A purchase is considered qualified when it meets or exceeds the minimum spend requirement and is in your Plink wallet at the time of purchase.
