.slot.locked.promotional{data: {'reveal-id' => "locked-promotional-slot-modal"}}
  =image_tag 'icon_lockedslot.png', class:'img'
  .text
    %h3.bold This slot is locked.
    %h3
      Download our app on iOS or android by 11/24 to unlock this slot.
#locked-promotional-slot-modal.reveal-modal.modal
  = image_tag 'btn_close.png', alt: 'Close', class: 'close-btn close-reveal-modal'
  %h1 Manage your Plink account on the go and download our mobile app by 11/24 to unlock this slot!
  %p
    %span
      iOS -
      =link_to 'Download', 'http://hastrk1.com/serve?action=click&publisher_id=34596&site_id=30142&offer_id=256246&sub2=PromotionalSlot', target: 'ios'
  %p
    %span
      Android -
      =link_to 'Download', 'http://hastrk1.com/serve?action=click&publisher_id=34596&site_id=36714&offer_id=268162&sub2=PromotionalSlot', target: 'android'
