= render :partial => 'shared/hero_gallery', locals: {promotions: @hero_promotions}

.layout-inner
  .left-column
    %h1 My Wallet

    .wallet
      - @wallet_items.each do |wallet_item|
        = render partial: "#{wallet_item.partial}", locals: { wallet_item: wallet_item }

  .wallet
    %h2 Select From These Offers
    = render :partial => 'shared/offers', locals: {offers: @offers, button_label: 'Add to wallet'}
