.content
  - if answer_and_anchor_name[:anchor_name].present?
    %a{name: answer_and_anchor_name[:anchor_name]}
  %h2.font-1p5em.font-cyan.font-w300.mtl.mbs= title
  %h4.font-w300.font-midgray.font-height1p5.mtm= answer_and_anchor_name[:answer].html_safe
%hr
