.static.container
  .left-column
    .headline
      %h1 FAQ
      %h2 We've got answers.
    .headline
      %h3 Fi is an agency made up of smart people who believe in each other. It’s as simple as that. What you might not get as quickly is our “no shoes, please” policy.
    %h3
      For more information, contact
      %a.span.text-link support@plink.com

  .right-column
    - faq_items.each do |question, answer|
      = render 'faq_item', question: question, answer: answer

  .clear