.static.container
  .left-column
    .headline
      %h1 FAQ
      %h2 We've got answers.
    .headline
      %h3 Maybe not to all of life's questions, but we can tell you how Plink works and why it's awesome.
    %h3= contact_us_message

  .right-column
    - faq_items.each do |question, answer|
      = render 'faq_item', question: question, answer: answer

  .clear