.static.container
  .left-column
    %h1.font-3p2em.font-w900 FAQ
    %h2.font-1p6em.font-w300.mbl We've got answers.
    %h3.font-1em.font-w300.mbl Maybe not to all of life's questions, but we can tell you how Plink works and why it's awesome.
    %h3.font-1p1em.font-w300.mbl= contact_us_message

  .right-column
    - faq_items.each do |question, answer_and_anchor_name|
      = render 'faq_description_block', title: question, answer_and_anchor_name: answer_and_anchor_name

  .clear
