<p>We regret to inform you that as of Sunday June 1st, 2014, <a href="http://www.goodsearch.com">Goodsearch.com</a> will no longer be offering the Goodswipe program.
<p/>

<p>Our Goodswipe partner, Plink, is no longer able to support 3rd party programs like ours. So after June 1, your cause will no longer earn donations for your offline purchases through Goodswipe.  All donations earned for your cause through May 31, 2014 will be awarded to your account as usual.  
<p/>

<p>Please note the following important actions that will take place on June 1:
<p/>

<ol>
  <li>Plink will delete your Goodswipe account, along with 100% of your personal information including your name, email address, and banking credentials. <strong>This will not affect your Goodsearch account in any way.</strong>

<li>Plink will delete all transaction data and not keep any records of your bank account or transaction information.  Goodsearch will keep transaction data solely for the purposes of calculating the amount you have raised for your cause as we do with all other Goodsearch products.
</ol>

<p>We&apos;re looking forward to helping you raise more for your cause with Goodsearch and Goodshop&mdash;now with over 5,000 top stores and 100,000 coupons.<p/>

<p>Thanks for your support,<p/>

<p>The Goodsearch Team<p/>
