.static.container
  .left-column.static
    .headline
      %h1 Service Terms
      %h2 Super-fun legal stuff.
    .headline
      %h3 These Terms of Service ("Terms") govern your access to and use of Plink's websites and the services provided through such websites (the "Services"), and any information, text, graphics, or other materials downloaded or appearing on the Services (collectively referred to as "Content"). Your access to and use of the Services is conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms, The term "you" or "User" refers to a user who browses the Plink Website or registers for Plink's service. The term "we" refers to Plink.
    %h3= contact_us_message

  .right-column
    .content
      %h2.cyan Privacy and Your Personal Information
      %h4 For information about Plink's data protection practices, please read Plink's Privacy and Security Policy, which is hereby incorporated into these Terms. This policy explains how Plink treats your personal information when you access and use the Services. The policy may be updated from time to time at our discretion. Changes will be effective upon posting to the Services.
    %hr
    .content
      %h2.cyan Basic Terms
      %p
        You are responsible for your use of the Services. You may use the Services only if you can form a binding contract with Plink and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations.
      %p
        The Services that Plink provides are always evolving and the form and nature of the Services that Plink provides may change from time to time without prior notice to you. In addition, Plink may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to Users generally and may not be able to provide you with prior notice.
      %p
        The Services may include advertisements and offers, which may be targeted to the Content or information on the Services, queries made through the Services, or other information about you and other Users. The types and extent of advertising and offers on the Services are subject to change. In consideration for Plink granting you access to and use of the Services, you agree that Plink and its third party providers and partners may place such advertising and offers on the Services.
      %p
        In creating an account to use the Services, you must provide true and accurate registration information, including, without limitation, full name, address, phone number, registered credit card data, and email address. You also agree to update your registration information promptly upon any changes to such information. An individual may only have one account at Plink (multiple accounts for the same individual are prohibited). Only you may access and use your account and you may not share your account with others. Your registered credit card may not be associated with multiple accounts. Any violation of these Terms will result in termination of your account(s) and loss of any accrued points or rewards.
      %p
        All points earned by you are subject to review and adjustment by Plink in its sole discretion. If you earn 1,000 or more points in one transaction, Plink reserves the right to hold any rewards redeemed from that transaction for up to 90 days until we are able to verify that no violation of these Terms or other fraudulent, improper or unlawful conduct occurred with respect to such transaction.
      %p
        We may also adopt and post to the Services from time to time rules, policies, frequently asked questions, and other terms and conditions regarding the Services, all of which are hereby incorporated into these Terms upon posting.
    %hr
    .content
      %h2.cyan Plink Rights
      %h4 All rights, title, and interest in and to the Services are and will remain the exclusive property of Plink and its licensors. The Services are protected by copyright, trademark, and other laws of both the United States and foreign countries. Nothing in the Terms gives you a right to use the Plink name or any of the Plink trademarks, logos, domain names, and other distinctive brand features.
    %hr
    .content
      %h2.cyan Restrictions on Use of the Services
      %p
        Plink gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software that is provided to you by Plink as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by Plink, in the manner permitted by these Terms.
      %p
        We reserve the right to access, read, preserve, and disclose any information or account data as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to User support requests, or (v) protect the rights, property or safety of Plink, its Users and the public.
      %p
        You may not do any of the following while accessing or using the Services: (i) access, tamper with, or use non-public areas of the Services, Plink's computer systems, or the technical delivery systems of Plink's providers; (ii) probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; (iii) access or search or attempt to access or search the Services by any means (automated or otherwise) other than through our currently available, published interfaces that are provided by Plink (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with Plink; (iv) forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Services to send altered, deceptive or false source-identifying information; (v) interfere with, or disrupt, (or attempt to do so), the access of any User, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Services; (vi) use any robot, spider, scraper, deep link or other similar automated data gathering or extraction tools, program, algorithm or methodology to access, acquire, copy or monitor the Services or any portion of the Services, without Plink's express written consent, which may be withheld in Plink's sole discretion; (vii) use or attempt to use any engine, software, tool, agent, or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search the Services, other than the search engines and search agents available through the Services and other than generally available third-party web browsers (such as Microsoft Explorer); (viii) commercially exploit any Content on the Services, (ix) attempt to decipher, decompile, disassemble, or reverse-engineer any of the software comprising or in any way making up a part of the Services.
    %hr
    .content
      %h2.cyan Account Information and Third Party Sites
      %p
        With the Services, Users may direct Plink to retrieve their own information maintained online by third-party financial institutions with which they have customer relationships, maintain accounts or engage in financial transactions ("Account Information"). Plink works with one or more service providers under contract to access this Account Information. Plink makes no effort to review the Account Information for accuracy, legality or non-infringement.
      %p
        By using the Services, you expressly authorize Plink and its partners to access your Account Information maintained by identified third parties, on your behalf as your agent. When you use the "Add Account" feature of the Services, you will be directly connected to the website for the third party you have identified. Plink will, itself or through its partners, submit information including usernames and passwords that you provide to log you into the site. You hereby authorize and permit Plink to use and store information submitted by you to the Services (such as account passwords and user names) to accomplish the foregoing and to configure the Services so that it is compatible with the third party sites for which you submit your information. For purposes of these Terms and solely to provide the Account Information to you as part of the Services, you grant Plink a limited power of attorney, and appoint Plink as your attorney-in-fact and agent, to access third party sites, retrieve and use your information with the full power and authority to do and perform each thing necessary in connection with such activities, as you could do in person. YOU ACKNOWLEDGE AND AGREE THAT WHEN PLINK IS ACCESSING AND RETRIEVING ACCOUNT INFORMATION FROM THIRD PARTY SITES, PLINK IS ACTING AS YOUR AGENT, AND NOT AS THE AGENT OF OR ON BEHALF OF THE THIRD PARTY. You understand and agree that the Services is not sponsored or endorsed by any third parties accessible through the Services.
      %p
        Plink cannot always foresee or anticipate technical or other difficulties which may result in failure to obtain data or loss of data, personalization settings or other service interruptions. Plink cannot assume responsibility for the timeliness, accuracy, deletion, non-delivery or failure to store any User data, communications or personalization settings. For example, when displayed through the Services, Account Information is only as fresh as the time shown, which reflects when the information is obtained from such sites. Such information may be more up-to-date when obtained directly from the relevant sites. You can refresh your Account Information through the Services, in the manner prescribed in the associated instructions.
    %hr
  .clear