.home
  .how
    %h2.thin How Plink Works
    .icon-wrapper
      .icon
        %img{ :src => "/assets/home_how1.png"}
        %h4
          Link your credit or
          %br
          debit card
      .icon
        %img{ :src => "/assets/home_how2.png"}
        %h4
          Earn Plink Points when
          %br
          you make purchases at
          %br
          our partner locations
      .icon
        %img{ :src => "/assets/home_how3.png"}
        %h4
          Redeem points for
          %br
          cash and gift cards
    .video-btn
      %button.button.home-video Hide video
    .video
      %iframe{ :src => "http://player.vimeo.com/video/69275624", :width => "800", :height => "450" }  