.email
  .container
    %img{ :class => "logo", :src => "/assets/header_logo.png", :alt => "Plink" }
    .headline
      %h1 Thank you for your thoughts!
    %h2 Your bonus points will be awarded within 7 days.
    .login
      .btn
        %button.button.primary-action Link My Card For A Free $5 eGift Card
    %h3= contact_us_message