.slimbox-wrapper.error-page
  .slimbox
    %h1 Whoops! Something broke.
    %h3 There was an internal server error (Error 500). We're sorry!
    %ul
      %li= link_to "Go to My Wallet", wallet_path
      %li= link_to "Go to My Account", account_path
      %li= link_to "Contact Support", contact_path