.slimbox-wrapper.error-page
  .slimbox
    %h1 Whoops! Something broke.
    %h3 The page you're looking for does not exist (Error 404). We're sorry!
    %ul
      %li= link_to "Go to My Wallet", wallet_path
      %li= link_to "Go to My Account", account_path
      %li= link_to "Contact Support", contact_path