@import "app/colors.css.scss";
@import "app/mixins.css.scss";

.account{
  color:$slate;

  h1 {
  	font-size: 2.9em;
  	font-weight:900;
    margin-bottom:5px;

  	&.cyan {
  	  color: $cyan;
  	}

    &.chart {
      color: $chart;
    }

    &.gray {
      color: $lightgray
    }
  }

  h2 {
  	font-size: 1.4em;
  	font-weight:500;
  	line-height:1.1em;

  	&.cyan {
  		color:$cyan;
  		font-weight:700;
  	}

  	&.white {
  		color:#FFFFFF;
  		letter-spacing:2px;
  		font-weight:300;
  	}

  	&.bold {
      font-size:1.6em;
  		font-weight:700;
      text-transform: uppercase;
  	}
  }

  h3 {
  	font-size:1em;
  	font-weight:100;
  	letter-spacing: 1px;

  	&.bold {
  		font-weight:300;
  	}

    &.account-status{
      display:inline;
    }

  	&.green {
  	  color:$green;
      font-weight:500;
  		/*margin-top:13px;*/
  	}

  	&.cyan {
  		color:$cyan;
      font-weight:500;
  	}

  	&.chart {
  		color:$chart;
      font-weight:500;
  	}

  	&.pink {
  		color:$pink;
      font-weight:500;
  	}
  }

  h4 {
  	color:#808080;
    font-size:.8em;
    font-weight:100;
    letter-spacing: 1px;
    margin:0px 0px 5px 0px;
    text-transform: uppercase;
  }

  .redeem-link {
    color: $chart;
    font-weight: bold;
    text-decoration: none;
    background: image-url('history/icon_redeem.png') no-repeat left center;
    padding-left: 24px;
    line-height: 36px;
  }

  hr {
    background-color: #f6f6f6;
    color: #f6f6f6;
    height: 1px;
    margin:10px 0px;
  }

  .change {

    h1 {
      font-size: 1.1em;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    h2 {
      font-size: .9em;
      font-weight: 300;
      margin-bottom: 5px;
    }

    .field {
      margin: 15px 0;
    }

    .cancel-btn {
      display:inline-block;
      margin-right:5px;
      width:70px;
    }

    .submit-btn {
      display:inline-block;
      width:205px;
    }
  }
}