@import "app/colors.css.scss";
@import "app/mixins.css.scss";

/* LEFT COLUMN STYLES */

.left-column {
  display:inline-block;
  width: 340px;
  vertical-align: top;
  float: left;

  &.no-float {
    float:none;
  }

  &.static {
    background-color:#FFFFFF;
  }

  .profile-img {
    float:left;
    height:96px;
    margin: 0px 10px 0px 0px;
    width:96px;
  }

  .flag {
   	background-color:#666666;
    height:54px;
    margin: 0px 0px 15px 0px;
    padding: 15px 28px;


    &.profile {
      color:#FFFFFF;
      margin: 35px 0 0px 0;
      padding:20px 28px 0px 28px;
    }

    &.feature {
      background:$cyan;
      color:#FFFFFF;
      margin: 0 0 20px 0;
      text-align: center;
      position: relative;
    }
  }

  .gig-btn {
    margin: -54px 5px 0 238px;
    float:left;
    width:30px;
  }

  .refer-btn {
    margin:10px 0 10px 0;
  }

  .content {
    padding: 10px 28px;
    width:340px;

    &.last {
      padding-bottom:20px;
    }
  }

  a {
  	color:$cyan;
    font-size:.9em;
    font-weight:300;

  	&.hover, &:hover{
      color: #1073b9;
    }

    &.active, &:active{
      color: #1dafec;
    }

    &.disabled, &:disabled{
      color: $disabled;
    }
  }

  .status-img {
    float:left;
    margin:0 5px;
  }

  .collapsed .change {
    display: none;
  }

  .expanded .change {
    display: block;
  }
}

/* RIGHT COLUMN STYLES */

.right-column {
  background:#FFFFFF;
  display: inline-block;
  height:100%;
  width:664px;
  padding:30px 0 0 20px;
  vertical-align: top;

  &.pad-left-86 {
    padding-left:86px;
  }

  .headline{
    margin-bottom:30px;
  }

  .subhead {
    margin-bottom:15px;
    text-transform:uppercase;
  }

  .stats-section {
    margin:40px 0;
    /*width:640px;*/

    .event {
      clear: both;
      min-height: 36px;
      padding: 10px 0px;
      width: 100%;

      div {
        display: inline-block;
        line-height: 1.2em;
        vertical-align:text-top;
      }

      &.alt {
        background:#fafafa;
      }

      .date {
        padding-left: 10px;
        width: 65px;
      }

      .description {
        padding-right:10px;
        width: 368px;
      }

      .amount {
        width:165px;
      }

      .icon {
        padding: 0px 6px;
        width:24px;

        &.title {
          text-indent: -99999px;
        }
      }
    }
  }

  .lifetime {
    margin:40px 0;

    .stat{
      display:inline-block;
      margin:0 10% 20px 0;
    }
  }
}

.column-container {
  background: url('/assets/bg.png');
  background-repeat: repeat-y;
  background-position: center;
  height:100%;
  padding-bottom: 30px;
}

.no-column-container {
  padding-bottom: 30px;
}
