@import "app/colors.css.scss";
@import "app/mixins.css.scss";

.contests {
  color: $slate;
  padding-top: 40px;

  h1 {
    font-size:2em;
    font-weight:100;
    margin-bottom:5px;
    text-transform:uppercase;

    &.cyan {
      color:$cyan;
      font-size:4em;
      font-weight:900;
      line-height:.9em;
      margin-bottom:0px;
    }
  }

  h2 {
  	font-size:1.4em;
  	font-weight:300;

  	&.cyan {
  	  color:$cyan;
  	  font-weight:500;
  	  text-transform:uppercase;
  	}

    &.margin_bottom {
      margin-bottom:20px;
    }
  }

  h3 {
  	font-size:1em;
    font-weight:300;

  	&.gray {
  	  color:#b3b3b3;
  	}

    &.cyan {
      color:$cyan;
      margin-bottom:4px;
    }

  	&.strong {
  	  font-weight:500;
      text-transform: uppercase;
    }
  }

  h4 {
  	font-size:.9em;
  	font-weight:300;
    line-height:1.4em;

    &.bonus {
      color:$orange;
      font-size:1em;
      line-height:1.2em;
      margin-top:25px;
      padding:0;

      &.nonlinked {
        color:$slate;
      }
    }

    &.strong {
      font-weight:500;
      margin-top:10px;
    }

    &.legal {
      color:#C4C4C4;
      font-size:.8em;
      margin-top:15px;
    }
  }

  a {
    color:$cyan;
    font-weight:300;
    text-decoration: none;

    &.hover, &:hover {
      text-decoration:underline;
    }

    &.disabled {
      text-decoration: none;
      cursor: default;
    }

    &.active, &:active {
      color:#2289b5;
    }

    &.footnote {
      vertical-align: text-top;

      &.hover, &:hover {
        font-weight:500;
        text-decoration: underline;
      }

      &.active, &:active {
        color:#2289b5;
      }
    }
  }

  p {
    font-size:1em;
    font-weight:300;
    line-height:1.4em;
    margin-bottom:15px;
  }

  .page-title {
    float:left;
    margin-right:80px;
    width:600px;
  }

  .nonlinked-message{
    /*background:$disabled;
    border:1px solid $slate;*/
    display:inline-block;
    /*padding:10px;*/
    width:280px;
    text-align: center;

    @include round-corners(8px);
  }

  .btn {
    margin:10px 0 5px 0;

    a {
      text-transform: uppercase;
    }
  }

  .contest {
  	display:inline-block;
  	margin:30px 0;
  	width:1024px;

  	.info {
      float:left;
    	margin-right:80px;
  	  width:600px;

  	  .title {
  		  margin:0 0 5px 0;
  	  }

      .image {
        background:#444444;
  	    height:253px;
  		  margin:0 0 15px 0;
        position:relative;

        @include round-corners(12px);

        .overlay-message {
          color:#FFFFFF;
          position:absolute;
          text-align: center;
          top:42%;
          width:100%;
        }

        .disabled {
          opacity:.2;
          filter:alpha(opacity=20); /* For IE8 and earlier */
          -webkit-filter: grayscale(60%);
        }
  	  }

  	  .details {
  		  margin:0 0 10px 0;
  	  }
  	}

  	.enter {
      display:inline-block;
  	  margin-top:12px;
  	  text-align:center;
  	  width:280px;

  	  .entries {
  	    padding:20px 0;
  	  }

  	  

  	  .details {
        color:#b3b3b3;
        padding:0 35px;
  	  }

      .results {
        line-height: 1.5em;
        padding:20px 0 10px 0;
      }
  	}

    footer{
      background:#e6e6e6;
      display:inline-block;
      height:30px;
      margin-top:15px;
      padding:5px 10px 0 10px;
      position:relative;
      width:100%;

      @include round-corners(5px);

      .strong {
        a {
          color: #000;
        }

        a:link {
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      .without-text {
        margin-top: 2px;
      }

      .with-text {
        margin-top:-19px;
      }

      .refer {
        color:$slate;
        display:inline-block;
        font-size:.9em;
        font-weight:300;
        float:right;
        margin-right:55px;

        .cyan {
          color:$cyan;
          font-weight:500;
        }

        .btn {
          position:absolute;
          float:right;
          margin-left:10px;
          right:10px;
          top:-7px;
          width:50px;
        }
      }
    }
  }

  .winners-list {
    padding:25px;

    .prize {
      margin-bottom:30px;
      /*width:380px;*/

      .group {
        display:inline-block;
        margin:0;
        padding:0;
        vertical-align: text-top;
        width:90px;
      }
    }
  }
}
