@import "app/colors.css.scss";
@import "app/mixins.css.scss";

.email {
  background:$grayblue;
  padding:4%;

  &.error {
    background: url('/assets/error_bg.jpg');
    background-color: $grayblue;
    background-position: left top;
    background-repeat: no-repeat;
    height:600px;
    padding:4% 0;
  }


  h1 {
  	font-size:2em;
  	font-weight:300;
    line-height: 1.1em;
  }

  h2 {
  	font-size:1.2em;
  	font-weight:300;
    line-height: 1.2em;
  }

  h3 {
    color:$lightgray;
    font-size:.9em;
    font-weight:300;
    line-height:1.2em;

  }

  .container {
  	background:#FFFFFF;
    border: 1px solid #d5d5d6;
    /*box-shadow: 1px 2px 3px #888888;*/
    margin:0 auto;
  	min-width:320px;
    max-width:600px;
    padding:3%;
  	width:48%;
    @include round-corners(5px);

    &.narrow {
      max-width:450px;
      width:35%;
    }
  }

  .logo {
    margin:-3% 0 18px 0;
  }

  .login {
    margin:5% 0 0 0;

    .btn {
      margin:3% 0;
    }
  }

  .headline {
    margin-bottom:15px;
  }

  .subtext {
    margin:5% 0 0 0;
  }
}
