@import "app/colors.css.scss";
@import "app/mixins.css.scss";

.form-field {
  width:100%;
  outline:none;
  &.input{
    border: 1px solid #d9d9d9;
    height:34px;
    @include round-corners(5px);
    font-weight: 200;
    font-size: .9em;
    letter-spacing: .1em;
    padding: 0 10px;
    color:#a2a2a2;

    &.focus, &:focus{
      border: 1px solid $cyan;
      font-weight: 400;
      color: $slate;
    }

    &.error{
       border: 1px solid $red;
       color: $red;
       font-weight: 700;

       &.focus,&:focus{
         font-weight: 400;
         color: $slate;
       }
    }
  }
}

.field_with_errors {
  display: inline;
}

.checkbox{
  float:left;
  margin:4px 7px 32px 0;
}

.label{
  display:block;
  font-size:1em;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2em;
}

.error-messages {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;

  .error {
    margin-left:28px;
    margin-top:5px;
  }
  .status-img{
    float:left;
    margin: 0px 5px 0px 0px;
  }
}
