@import "app/colors.css.scss";
@import "app/mixins.css.scss";


.hero-gallery{
  width:100%;
  background-color:$slate;
  position:relative;
  min-width:1024px;
}

.hero-gallery-inner {
  margin: 0 auto;
  max-width: 1800px;
  position:relative;
}

.hero-gallery-inner .gallery {
  position:relative;
  height:380px;

  .slide {
    display:none;
    position:absolute;
    text-align:center;

    &:first-child{
      display:inline-block;
    }

    img{
      height:100%;
      width:100%;
      vertical-align: middle;
    }

    .caption{
      display:block;
      width:100%;
      margin:0;
      padding:2%;
      position:absolute;
      bottom:40%;
      text-align:center;
      font-size:3.3em;
      color:#FFFFFF;
      font-weight:900;
      -moz-text-shadow: 1px 1px 4px #000000;
        -webkit-text-shadow: 1px 1px 4px #000000;
        text-shadow: 1px 1px 4px #000000;
        /* For IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    }

  }
}
.markers{list-style: none; padding: 0; margin: 0; width:100%;position:absolute;text-align: center;bottom:35px;}
.marker {
  display:inline-block;
  width: 12px;
  height: 12px;
  background: white;
  margin:0 6px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  cursor:pointer;

  &.active-marker {
    background:$cyan;
  }
}


