@import "app/colors.css.scss";
@import "app/mixins.css.scss";

.home {

  text-align:center;

  h1 {
    color:#FFFFFF;
    font-size: 4.2em;
    font-weight:900;
    margin-bottom:8px;
  }

  h2 {
    color:#FFFFFF;
    font-size:1.9em;
    line-height:1.3em;
    letter-spacing:3px;

    &.light{
      font-weight:300;
    }

    &.thin{
      font-weight:100;
    }

    &.cyan{
      color:$cyan;
    }
  }

  h3 {
    font-size:1.2em;
    font-weight:300;
    letter-spacing:1px;
    line-height:1.4em;
  }

  h4 {
    color:#FFFFFF;
    font-size:1em;
    font-weight:100;
    letter-spacing: 2px;
    line-height: 1.3em;
    margin-top:20px;
  }

  .join-btn {
    margin-right:auto;
    margin-left:auto;
    padding:20px;
    width:340px;

    &.bottom{
      margin-bottom:-72px;
    }
  }

  .feature {
    background-image: url('/assets/home_feature_bg.jpg');
    background-position:center;
    background-repeat:no-repeat;
    height:380px;
    padding:38px;
    width:100%;

  }

  .how {
    background:$slate;
    padding:30px;

    .icon-wrapper {

      margin-left:auto;
      margin-right:auto;
      width:100%;

      .step {
        display:inline-block;
        margin:30px 5%;
        vertical-align: top;

        .icon {
          background: url('/assets/home_sprite_how_press.png');
          background-repeat: none;
          display:block;
          height:122px;
          margin:0 auto;
          width:122px;

          &.one {
            background-position: 0px 0px;
          }

          &.two {
            background-position: 122px 0px;
          }

          &.three {
            background-position: 244px 0px;
          }
        }
      }
    }

    .video-btn {
     margin:10px auto;
     width:380px;
    }

    .video {
      margin:50px;
    }
  }

  .partners {
    background:#e9eef1;
    padding:30px;

    .brand-wrapper {
      margin:30px auto;
      width:900px;

      .brand {
        background: url('/assets/home_sprite_logos.jpg');
        background-repeat: none;
        border: 1px solid #CAD5DA;
        display:inline-block;
        height:120px;
        margin:-2px -3px 0px -2px;
        width:200px;

        &.seveneleven {
          @include offset(0);
        }
        &.eastbay {
          @include offset(1);
        }
        &.flowers {
          @include offset(2);
        }
        &.dunkindonuts {
          @include offset(3);
        }
        &.gap {
          @include offset(4);
        }
        &.footaction {
          @include offset(5);
        }
        &.burgerking {
          @include offset(6);
        }
        &.quiznos {
          @include offset(7);
        }
        &.redrobin {
          @include offset(8);
        }
        &.kmart {
          @include offset(9);
        }
        &.footlocker {
          @include offset(10);
        }
        &.champs {
          @include offset(11);
        }
        &.puritanspride {
          @include offset(12);
        }
        &.vitaminworld {
          @include offset(13);
        }
        &.unitedartists {
          @include offset(14);
        }
        &.edwards {
          @include offset(15);
        }
        &.dollargeneral {
          @include offset(16);
        }
        &.sears {
          @include offset(17);
        }
        &.outback {
          @include offset(18);
        }
        &.regal {
          @include offset(19);
        }
        &.oldnavy {
          @include offset(20);
        }
        &.ftd {
          @include offset(21);
        }
        &.advanceautoparts {
          @include offset(22);
        }
        &.staples {
          @include offset(23);
        }
        &.pandaexpress {
          @include offset(24);
        }
      }
    }

    .partners-btn{
      display: inline-block;
      margin:10px 10px;
      width:280px;
    }
  }

  .security {
    background-color: $cyan;
    background-image: url('/assets/home_security_bg.jpg');
    background-position:center;
    background-repeat:no-repeat;
    padding:30px;

    .text {
      color:#FFFFFF;
      margin: 10px auto;
      /*max-width:660px;
      width:45%;*/
      width:660px;
    }

    .logos {
      background:#FFFFFF;
      margin:20px auto;
      padding:10px 0px;
      width:670px;

      opacity:0.95;
      filter:alpha(opacity=95); /* For IE8 and earlier */
      @include round-corners(10px);

      .logo {
        display:inline-block;
        margin:0px 1%;
      }
    }
  }

  .press {
    background:$slate;
    color:#FFFFFF;
    padding:50px 30px 10px 30px;

    .logo-wrapper {
      height:54px;
      margin:0px auto;
      max-width:1024px;
    }

    .logo {
      background: url('/assets/home_sprite_how_press.png');
      background-repeat: none;
      height:54px;
      margin:0px 23px;

      &.text {
        background:none;
        display:inline-block;
        font-weight:300;
        font-size:1em;
        height:40px;
        width:80px;
      }

      &.washpo {
        background-position: 0px 108px;
        display:inline-block;
        width:184px;
      }
      &.forbes {
        background-position: 181px 108px;
        display:inline-block;
        width:86px;
      }
      &.techcrunch {
        background-position: 94px 108px;
        display:inline-block;
        width:69px;
      }
      &.bloomberg {
        background-position: 0px 54px;
        display:inline-block;
        width:173px;
      }
      &.gigaom {
        background-position: 190px 54px;
        display:inline-block;
        width:117px;
      }
    }

    hr {
      border: 1px solid #a0a0a0;
      display: block;
      margin:30px auto 0 auto;
      max-width:1024px;
      width:90%;
    }
  }
}

.flash-msg {
  background:#e9eef1;
  color:$slate;
  font-weight:300;
  line-height: 1.2em;
  padding:10px;
  text-align: center;
}
