@import 'app/colors.css.scss';

body {
  background:$slate;
}

.layout-wrapper {
  width:100%;
  min-width: 1024px;

  &.main-content {
    background-color: #fff;
  }

  .layout-inner {
    margin:0 auto;
    width:1024px;
  }

  .height-min-550 {
    min-height: 550px;
  }
}

.width-80 {
  width:80%;
}

.width-70 {
  width:70%;
}

.width-40 {
  width:40%;
}

.width-30 {
  width:30%;
}

.width-500 {
  width:500px;
}

.width-400 {
  width:400px;
}

.width-250 {
  width:250px;
}

.width-100 {
  width:100px;
}

.width-80px {
  width:80px;
}

