@import 'app/colors.css.scss';

body {
  background:$slate;
}

.layout-wrapper {
  width:100%;
  min-width: 1024px;

  &.main-content {
    background-color: #fff;
  }

  .layout-inner {
    margin:0 auto;
    width:1024px;
  }

  .height-min-550 {
    min-height: 550px;
  }
}

.width-80 {
  width:80%;
}

.width-70 {
  width:70%;
}

.width-40 {
  width:40%;
}

.width-30 {
  width:30%;
}

.width-500 {
  width:500px;
}

.width-400 {
  width:400px;
}

.width-250 {
  width:250px;
}

.width-100 {
  width:100px;
}

.width-80px {
  width:80px;
}


.ptn,.pvn,.pan{padding-top:0px}
.pts,.pvs,.pas{padding-top:5px}
.ptm,.pvm,.pam{padding-top:10px}
.ptl,.pvl,.pal{padding-top:20px}
.ptxl,.pvxl,.paxl{padding-top:40px}
.prn,.phn,.pan{padding-right:0px}
.prs,.phs,.pas{padding-right:5px}
.prm,.phm,.pam{padding-right:10px}
.prl,.phl,.pal{padding-right:20px}
.prxl,.phxl,.paxl{padding-right:40px}
.pbn,.pvn,.pan{padding-bottom:0px}
.pbs,.pvs,.pas{padding-bottom:5px}
.pbm,.pvm,.pam{padding-bottom:10px}
.pbl,.pvl,.pal{padding-bottom:20px}
.pbxl,.pvxl,.paxl{padding-bottom:40px}
.pln,.phn,.pan{padding-left:0px}
.pls,.phs,.pas{padding-left:5px}
.plm,.phm,.pam{padding-left:10px}
.pll,.phl,.pal{padding-left:20px}
.plxl,.phxl,.paxl{padding-left:40px}
.mtn,.mvn,.man{margin-top:0px}
.mts,.mvs,.mas{margin-top:5px}
.mtm,.mvm,.mam{margin-top:10px}
.mtl,.mvl,.mal{margin-top:20px}
.mtxl,.mvxl,.maxl{margin-top:40px}
.mrn,.mhn,.man{margin-right:0px}
.mrs,.mhs,.mas{margin-right:5px}
.mrm,.mhm,.mam{margin-right:10px}
.mrl,.mhl,.mal{margin-right:20px}
.mrxl,.mhxl,.maxl{margin-right:40px}
.mbn,.mvn,.man{margin-bottom:0px}
.mbs,.mvs,.mas{margin-bottom:5px}
.mbm,.mvm,.mam{margin-bottom:10px}
.mbl,.mvl,.mal{margin-bottom:20px}
.mbxl,.mvxl,.maxl{margin-bottom:40px}
.mln,.mhn,.man{margin-left:0px}
.mls,.mhs,.mas{margin-left:5px}
.mlm,.mhm,.mam{margin-left:10px}
.mll,.mhl,.mal{margin-left:20px}
.mlxl,.mhxl,.maxl{margin-left:40px}

.npts,.npvs,.npas{padding-top:-5px}
.nptm,.npvm,.npam{padding-top:-10px}
.nptl,.npvl,.npal{padding-top:-20px}
.nptxl,.npvxl,.npaxl{padding-top:-50px}
.nprs,.nphs,.npas{padding-right:-5px}
.nprm,.nphm,.npam{padding-right:-10px}
.nprl,.nphl,.npal{padding-right:-20px}
.nprxl,.nphxl,.npaxl{padding-right:-50px}
.npbs,.npvs,.npas{padding-bottom:-5px}
.npbm,.npvm,.npam{padding-bottom:-10px}
.npbl,.npvl,.npal{padding-bottom:-20px}
.npbxl,.npvxl,.npaxl{padding-bottom:-50px}
.npls,.nphs,.npas{padding-left:-5px}
.nplm,.nphm,.npam{padding-left:-10px}
.npll,.nphl,.npal{padding-left:-20px}
.nplxl,.nphxl,.npaxl{padding-left:-50px}
.nmts,.nmvs,.nmas{margin-top:-5px}
.nmtm,.nmvm,.nmam{margin-top:-10px}
.nmtl,.nmvl,.nmal{margin-top:-20px}
.nmtxl,.nmvxl,.nmaxl{margin-top:-50px}
.nmrs,.nmhs,.nmas{margin-right:-5px}
.nmrm,.nmhm,.nmam{margin-right:-10px}
.nmrl,.nmhl,.nmal{margin-right:-20px}
.nmrxl,.nmhxl,.nmaxl{margin-right:-50px}
.nmbs,.nmvs,.nmas{margin-bottom:-5px}
.nmbm,.nmvm,.nmam{margin-bottom:-10px}
.nmbl,.nmvl,.nmal{margin-bottom:-20px}
.nmbxl,.nmvxl,.nmaxl{margin-bottom:-50px}
.nmls,.nmhs,.nmas{margin-left:-5px}
.nmlm,.nmhm,.nmam{margin-left:-10px}
.nmll,.nmhl,.nmal{margin-left:-20px}
.nmlxl,.nmhxl,.nmaxl{margin-left:-50px}
