@import "app/colors.css.scss";
@import "app/mixins.css.scss";

$state-range:10%;

.text-link{
  color: $cyan;
  text-decoration: underline;

  &.hover, &:hover{
    color: darken($cyan, $state-range);
  }

  &.active, &:active{
    color: lighten($cyan, $state-range);
  }

}