@import "app/colors.css.scss";
@import "app/mixins.css.scss";

.reg-landing{

  text-align:center;

  h1 {
    color:#FFFFFF;
    font-size: 4em;
    font-weight:900;
    margin-bottom:8px;
  }

  h2 {
    color:#FFFFFF;
    font-size:1.7em;
    line-height:1.3em;
    letter-spacing:3px;
  }

  .feature {
    background-color:#000000;
    background-position:center;
    background-repeat:no-repeat;
    height:500px;
    padding:38px;
    width:100%;

    &.default {
      background-image: url('https://plink-images.s3.amazonaws.com/landingPage/feature_bg_500h.jpg');
    }

    &.aap {
      background-image: url('https://plink-images.s3.amazonaws.com/landingPage/feature_bg_500h_aap.jpg');
    }

    &.contest3 {
      background-image: url('https://plink-images.s3.amazonaws.com/landingPage/feature_bg_500h_contest3.jpg');
    }

    &.dunkin {
      background-image: url('https://plink-images.s3.amazonaws.com/landingPage/feature_bg_500h_dunkin.jpg');
    }

    &.footlocker {
      background-image: url('https://plink-images.s3.amazonaws.com/landingPage/feature_bg_500h_footlocker.jpg');
    }

    &.halloween {
      background-image: url('https://plink-images.s3.amazonaws.com/landingPage/feature_bg_500h_halloween.jpg');
    }

    &.landsend {
      background-image: url('https://plink-images.s3.amazonaws.com/landingPage/feature_bg_500h_landsend.jpg');
    }

    &.staples {
      background-image: url('https://plink-images.s3.amazonaws.com/landingPage/feature_bg_500h_staples.jpg');
    }

    &.vitaminworld {
      background-image: url('https://plink-images.s3.amazonaws.com/landingPage/feature_bg_500h_vitaminworld.jpg');
    }
  }

  .offer-details {
    color:#FFFFFF;
    font-size:1em;
    font-weight:100;
    letter-spacing: 2px;
    line-height: 1.3em;

    width:100%;
    max-width:740px;
    margin:0 auto;
  }

  .shadow {
    -moz-text-shadow: 2px 2px 3px #000000;
    -webkit-text-shadow: 2px 2px 3px #000000;
    text-shadow: 2px 2px 3px #000000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
  }

  .slate{
    color:$slate;
  }

  .black{
    color:#000000;
  }

  .light{
    font-weight:300;
  }

  .thin{
    font-weight:100;
  }

  .cyan{
    color:$cyan;
  }

  .size-3em {
    font-size: 3em;
  }
}
