@import "app/colors.css.scss";
@import "app/mixins.css.scss";

.static {
  color: $slate;
  margin: 0 auto;
  width: 1024px;
  /*width:90%;*/

  h1 {
    font-size: 3.2em;
    font-weight: 900;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.2em;

    &.cyan {
      color: $cyan;
    }
  }

  h3 {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4em;
  }

  h4 {
    color: #909094;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin-top: 8px;
  }

  p {
    color: #909094;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin-top: 8px;
  }

  hr {
    margin-top: 10px;
  }

  &.container {
    height: 100%;
  }

  .left-column {
    display: inline-block;
    width: 340px;
    margin: 20px 20px 0 0;

    .headline {
      margin: 0 0 15px 0;
    }
  }

  .right-column {

    display: inline-block;
    margin: 61px 0 0 0;
    width: 620px;

    .content {
      margin: 20px 0;

      &.narrow {
        margin: 5px 0 15px 0;
        width: 50%;

        &.right {
          float: right;
        }
      }
    }

    .center {
      float: left;
      height: 400px;
      margin: 5px 0;
      width: 45%;
    }

    hr:last-child {
      display: none;
    }
  }
}