@import "app/colors.css.scss";
@import "app/mixins.css.scss";

/* ******  FAMILY  ****** */

.font-georgia {
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* ******  SIZE  ****** */

.font-p8em {
  font-size:.8em;
  line-height: 1em;
}

.font-p9em {
  font-size:.9em;
  line-height: 1.2em;
}

.font-1em {
  font-size:1em;
  line-height: 1.2em;
}

.font-1p2em {
  font-size:1.2em;
  line-height: 1.2em;
}

.font-1p4em {
  font-size:1.4em;
  line-height: 1.2em;
}

.font-1p5em {
  font-size:1.5em;
  line-height: 1.2em;
}

.font-1p6em {
  font-size:1.6em;
  line-height: 1.2em;
}

.font-2em {
  font-size:2em;
  line-height: 1.2em;
}

.font-3p5em {
  font-size:3.5em;
  line-height: 1.2em;
}

.font-height1p5 {
  line-height:1.5em;
}

.font-height2 {
  line-height:2em;
}

.font-kern1 {
  letter-spacing: 1px;
}

.font-kern2 {
  letter-spacing: 2px;
}

/* ******  COLOR  ****** */

.font-gray {
  color:$lightgray;
}

.font-lightgray {
  color:#b3b3b3;
}

.font-slate {
  color:$slate;
}

.font-cyan {
  color:$cyan;
}

.font-white {
  color:#FFFFFF;
}

/* ******  WEIGHT  ****** */

.font-w200 {
  font-weight: 200;
}

.font-w300 {
  font-weight: 300;
}

.font-w500 {
  font-weight: 500;
}

.font-w900 {
  font-weight: 900;
}

/* ******  STYLE  ****** */

.font-italic {
  font-style: italic;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-underline {
  text-decoration: underline;
}

.white-txt{
  color:#FFFFFF;
  font-size:1.2em;
  font-weight:700;

  -moz-text-shadow: 1px 1px 3px #000000;
  -webkit-text-shadow: 1px 1px 3px #000000;
  text-shadow: 1px 1px 3px #000000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000');
}

.font{
  &.error{
    color:$red;
    font-size:.8em;
    font-weight:400;
  }

  &.legal{
    @include legal-copy;
  }


  &.modal-text{

    &.h1 {
      color:$cyan;
      font-weight:900;
      font-size:3.2em;
      letter-spacing:1px;
      margin-bottom: 7px;

      &.slate {
        color:$slate;
        font-size:1.3em;
        font-weight:500;
        line-height:1.2em;
      }

      &.bold {
        font-weight:700;
      }
    }

    &.h2 {
      @include offer-description;
    }

    &.h3 {
      color:$cyan;
      font-size:1.2em;
      font-weight:500;
      letter-spacing:1px;
      line-height:1.6em;
      margin-bottom:8px;

      &.bold{
        color:$lightgray;
        font-weight:700;
        margin-bottom:10px;
      }
    }

    &.h4 {
      color:$lightgray;
      font-weight:200;
      font-size:.9em;
      letter-spacing:1px;
    }
  }

  &.dashboard-text {
    &.h1 {
      font-size: 1.8em;
      font-weight:700;
      text-transform: uppercase;
      vertical-align: top;

      &.cyan {
        color: $cyan;
      }

      &.slate {
        color:$slate;
      }

      &.numbers{
        font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight:600;
        line-height:1.2em;
      }
    }

    &.h2 {
      font-size: 1.4em;
      font-weight:400;
      line-height:1.1em;

      &.cyan {
        color:$cyan;
        font-weight:700;
      }

      &.white {
        color:#FFFFFF;
        letter-spacing:2px;
        font-weight:400;
      }

      &.slate {
        color:$slate;
      }

      &.bold {
        font-weight:700;
      }
    }

    &.h3 {
      font-size:1em;
      font-weight:200;
      letter-spacing: 1px;

      &.bold {
        font-weight:400;
      }

    }
  }
}

.font13pt {
  @include offer-description;
}

.font10pt {
  @include legal-copy;
}
