.email
  .container
    %img{ :class => "logo", :src => "/assets/header_logo.png", :alt => "Plink" }
    .headline
      %h1 Unsubscribe
    %input.checkbox{:type => "checkbox"}
    %label.label I no longer wish to receive marketing & promotional emails from Plink (this includes your Account Summary).
    %br
    %input.checkbox{:type => "checkbox"}
    %label.label I want to keep everything as it was.
    %button.button.primary-action Submit
    .subtext
      %h3 Transactional emails related to your account will still be sent. These include Plink Points redemption and account information emails. If you'd like to close your account with us, please contact support@plink.com. 
      %br
      %h3= contact_us_message
