.email
  .container
    %img{ :class => "logo", :src => "/assets/header_logo.png", :alt => "Plink" }
    .headline
      %h1 Your email address has been removed from the Plink mailing list.
    %h2 We're sorry to see you go! Login if you'd like to continue to your wallet. 
    .login
      .btn
        %button.button.social-action.facebook Login with Facebook
      .btn
        %button.button.social-action.twitter Login with Twitter
      .btn
        %button.button.social-action.email Login with Email 
    .subtext
      %h3
        %a.span.text-link Forgot your password?    