%section
  %h2 Standard

  .flash
    %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
    %h1 Lorem ipsum dolar sit ament
    %h2 ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo co

%section
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %h2 Functional

  .flash
    %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
    %h1 Congratulations!
    %h2 You've won XXXXXX Plink Points.
    .btn
      %button.button.primary-action Tell Your Friends
    .link
      %a View Full Contest Results →
  %br
  %br
  %br
  %br
  %br
  %br
  %br