Hey #{@first_name},

Congratulations! You've unlocked a new wallet slot.

Be a smarter shopper, fill your wallet & maximize your Plink potential today!

Update My Wallet Now:
=login_from_email_wallet_url(user_token: @user_token)

Thanks!
Team Plink

Unsubscribe:
= edit_subscription_url(email_address: @email_address)