= render :partial => 'shared/hero_gallery', locals: {promotions: @hero_promotions}

.layout-inner

  .wallet
    %h2 Earn #{current_virtual_currency.currency_name} at these locations.

    = render :partial => 'shared/offers', locals: {offers: @offers, button_label: 'Details'}
