= render :partial => 'shared/hero_gallery', locals: {promotions: @hero_promotions}

.layout-inner

  .wallet
    %h2 Earn #{current_virtual_currency.currency_name} at these locations.

    = render partial: 'shared/offer_item', collection: @offers, as: :presenter, locals: {button_label: 'Details'}
    = render partial: 'shared/offer_detail_modal', collection: @offers, as: :presenter
