@import "colors.css.scss";
@import "mixins.css.scss";

.account{
  margin:0 auto;
  /*width:1024px;*/
  width:90%;
  
  h1 {
  	font-size: 2.9em;
  	font-weight:900;
    margin-bottom:5px;

  	&.cyan {
  	  color: $cyan;
  	}

    &.chart {
      color: $chart;
    }

    &.pink {
      color: $pink;
    }
  }

  h2 {
  	font-size: 1.4em;
  	font-weight:500;
  	line-height:1.1em;

  	&.cyan {
  		color:$cyan;
  		font-weight:700;
  	}

  	&.white {
  		color:#FFFFFF;
  		letter-spacing:2px;
  		font-weight:300;
  	}

  	&.bold {
      font-size:1.8em;
  		font-weight:700;
      text-transform: uppercase;
  	}
  }

  h3 {
  	font-size:1em;
  	font-weight:100;
  	letter-spacing: 1px;

  	&.bold {
  		font-weight:300;
  	}

    &.account-status{
      display:inline;
    }

  	&.green {
  	  color:$green;
      font-weight:500;
  		/*margin-top:13px;*/
  	}

  	&.cyan {
  		color:$cyan;
      font-weight:500;
  	}

  	&.chart {
  		color:$chart;
      font-weight:500;
  	}

  	&.pink {
  		color:$pink;
      font-weight:500;
  	}
  }

  h4 {
  	color:#808080;
    font-size:.8em;
    font-weight:100;
    letter-spacing: 1px;
    margin:0px 0px 5px 0px;
    text-transform: uppercase;
  }

  hr {
    background-color: #f6f6f6;
    color: #f6f6f6;
    height: 1px;
    margin:10px 0px;
  }

  /* LEFT COLUMN STYLES */
  
  .left-column {
    background-color: $grayblue;
    display:inline-block;
    /*margin-top: -25px;*/
    margin:30px 0 0 auto;
    max-width:440px;
    min-width:340px;
    /*padding-left:5%;*/
    width:33.203125%;
    /*width:340px;*/

    .profile-img {
      float:left;
      margin: 0px 10px 0px 0px;
    }
  }
    
  .flag {
   	background-color:#666666;
    height:54px;
    margin: 0px 0px 15px 0px;
    padding: 15px 28px;

    &.profile {
      color:#FFFFFF;
      margin: 0 0 20px 0;
      padding:20px 28px 0px 28px;
    }
  }

  .gig-btn {
    margin:10px 5px 0 10px;
    float:left;
    width:30px;
  }

  .invite {
    background: #FFFFFF;
    display: block;
    height: 68px;
    margin: 50px 0px 25px 0px;
    text-decoration: none;
    @include round-corners(8px);

    &.hover, &:hover{
       color: $cyan;
       text-decoration: underline;
    }

    &.active, &:active{
      color: #1073b9;
    }
  }

  .invite-img{
    display: inline-block;
    margin: 0px 15px 0px 0px;
  }

  .content {
    padding: 10px 28px;
    width:340px;
  }

  a {
  	color:$cyan;
    font-size:.9em;
    font-weight:300;
  	text-decoration: underline;

  	&.hover, &:hover{
      color: #1073b9;
    }

    &.active, &:active{
      color: #1dafec;
    }

    &.disabled, &:disabled{
      color: $disabled;
    }

    &.redeem-link {
      color: $chart;
      font-weight: bold;
      text-decoration: none;
      background: image-url('history/icon_redeem.png') no-repeat left center;
      padding-left: 24px;
      line-height: 36px;
    }
  }

  .status-img {
    float:left;
    margin:0 5px;
  }

  .collapsed .change {
    display: none;
  }

  .expanded .change {
    display: block;
  }

  .change {

    h1 {
      font-size: 1.1em;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    h2 {
      font-size: .9em;
      font-weight: 300;
      margin-bottom: 5px;
    }

    .field {
      margin: 15px 0;
    }

    .cancel-btn {
      display:inline-block;
      margin-right:5px;
      width:70px;
    }

    .submit-btn {
      display:inline-block;
      width:205px;
    }
  }

  /* RIGHT COLUMN STYLES */
  
  .right-column {
    background:#FFFFFF;
    display: inline-block;
    height:100%;
    min-width:664px;
    padding:30px 0 0 20px;
    width:66%;

    .current-points{
      margin-bottom:30px;
    }
      
    h2 {
      text-transform: uppercase;
      margin-bottom:15px;
    }
    
    .activity {
    	margin:40px 0;
    	/*width:640px;*/

      .event {
        height:36px;
        padding: 10px 0px;	

        &.alt {
        	background:#fafafa;
        }
        
        .icon {
        	float:left;
        	padding: 0px 4px;
        	width:24px;

        	&.title {
        	  text-indent: -99999px;
        	}
        }

        .date {
        	float:left;
        	width:12.5%;
        }

        .description {
        	float:left;
        	padding-right:10px;
        	overflow:hidden;
        	text-overflow:ellipsis;
        	width:57%;
        	
        }

        .amount {
        	float:left;
        	width:166px;
        }
      }
    }

    .lifetime {
      margin:40px 0;

      .stat{
        display:inline-block;
        margin:0 10% 0 0;
      }
    }
  } 
}

.column-bg {
  /*background: url('/assets/bg.png');*/
  background-repeat: repeat-y;
  background-position: center;
}