@import "colors.css.scss";
@import "mixins.css.scss";

$state-range:10%;
$disabled:#e6e6e6;

.button {

  cursor:pointer;
  border:none;
  display:inline-block;
  width:100%;

  &.primary-action {
    border: 1px solid #e6ea9a;
    padding: 0 42px;
    height: 34px;
    text-align: center;
    line-height: 33px;
    font-weight: 700;
    font-size: .9em;
    letter-spacing: 1.5px;
    color:$slate;
    @include vertical-bg-gradient(#d9e245, #c3ca23);
    @include round-corners(5px);

    &.hover, &:hover{
      background: #c3ca23;
    }

    &.active, &:active{
      background: #d9e245;
    }

    &.disabled, &:disabled{
      background: $disabled;
    }
  }

  &.social-action {
    height: 34px;
    text-align: left;
    font-weight: 400;
    font-size: .9em;
    letter-spacing: 1.5px;
    color:#FFFFFF;
    padding-left:40px;
    @include round-corners(5px);

    &.facebook {
      $bg-facebook:#5c78b7;
      background-image: url('/assets/icon_fb.png');
      background-repeat: no-repeat;
      background-position: left center ;
      background-color:$bg-facebook;

        &.hover, &:hover{
          background-color: darken($bg-facebook, $state-range);
        }

        &.active, &:active{
          background-color: lighten($bg-facebook, $state-range);
        }

        &.disabled, &:disabled{
          background-color: $disabled;
        }

    }

    &.twitter {
      $bg-twitter:#32ccfe;
      background-image: url('/assets/icon_twitter.png');
      background-repeat: no-repeat;
      background-position: left center ;
      background-color:$bg-twitter;

        &.hover, &:hover{
          background-color: darken($bg-twitter, $state-range);
        }

        &.active, &:active{
          background-color: lighten($bg-twitter, $state-range);
        }

        &.disabled, &:disabled{
          background-color: $disabled;
        }

    }

    &.email {
      $bg-email:#b3b3b3;
      background-image: url('/assets/icon_email.png');
      background-repeat: no-repeat;
      background-position: left center ;
      background-color:$bg-email;

        &.hover, &:hover{
          background-color: darken($bg-email, $state-range);
        }

        &.active, &:active{
          background-color: $slate;
        }

        &.disabled, &:disabled{
          background-color: $disabled;
        }

    }

  }

}