@import "colors.css.scss";
@import "mixins.css.scss";

$state-range:10%;

.button {

  cursor:pointer;
  border:none;
  display:inline-block;
  width:100%;

  &.primary-action {
    border: 1px solid #e6ea9a;
    padding: 0 0;
    height: 34px;
    text-align: center;
    line-height: 22px;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1.5px;
    color:$slate;
    @include vertical-bg-gradient(#d9e245, #c3ca23);
    @include round-corners(5px);

    &.hover, &:hover{
      background: #c3ca23;
    }

    &.active, &:active{
      background: #d9e245;
    }

    &.disabled, &:disabled{
      background: $disabled;
    }
  }

  &.nav {
    font-weight: 700;
    font-size: .9em;
    height: 34px;
    letter-spacing: 1.5px;
    line-height: 33px;
    padding: 0 15px;
    text-align: center;
    @include round-corners(5px);

    &.link {
      text-decoration: none;
      color:inherit;
    }

    &.sign-in { 
      border: 1px solid #00c6ef;
      color:#FFFFFF;
      @include vertical-bg-gradient(#00aeef, #0071bc);

      &.hover, &:hover{
        background: #0071bc;
      }

      &.active, &:active{
        background: #00c6ef;
      }
    }

    &.join {
      border: 1px solid #e6ea9a;
      color:$slate;
      @include vertical-bg-gradient(#d9e245, #c3ca23);

      &.hover, &:hover{
        background: #c3ca23;
      }

      &.active, &:active{
        background: #d9e245;
      }

    }
  }

  &.social-action {
    height: 34px;
    text-align: left;
    font-weight: 400;
    font-size: .9em;
    letter-spacing: 1.5px;
    color:#FFFFFF;
    padding-left:40px;
    @include round-corners(5px);

    &.facebook {
      $bg-facebook:#5c78b7;
      background-image: url('/assets/icon_fb.png');
      background-repeat: no-repeat;
      background-position: left center ;
      background-color:$bg-facebook;

        &.hover, &:hover{
          background-color: darken($bg-facebook, $state-range);
        }

        &.active, &:active{
          background-color: lighten($bg-facebook, $state-range);
        }

        &.disabled, &:disabled{
          background-color: $disabled;
        }

    }

    &.twitter {
      $bg-twitter:#32ccfe;
      background-image: url('/assets/icon_twitter.png');
      background-repeat: no-repeat;
      background-position: left center ;
      background-color:$bg-twitter;

        &.hover, &:hover{
          background-color: darken($bg-twitter, $state-range);
        }

        &.active, &:active{
          background-color: lighten($bg-twitter, $state-range);
        }

        &.disabled, &:disabled{
          background-color: $disabled;
        }

    }

    &.email {
      $bg-email:#b3b3b3;
      background-image: url('/assets/icon_email.png');
      background-repeat: no-repeat;
      background-position: left center ;
      background-color:$bg-email;

        &.hover, &:hover{
          background-color: darken($bg-email, $state-range);
        }

        &.active, &:active{
          background-color: $slate;
        }

        &.disabled, &:disabled{
          background-color: $disabled;
        }
    }

  }

  &.wallet-add {
    border: 1px solid #e6ea9a;
    color:$slate;
    padding: 0 0;
    margin-top:10px;
    height: 20px;
    text-align: center;
    line-height:1.7em;
    font-weight: 400;
    font-size: .7em;
    letter-spacing: 0px;
    text-transform: uppercase;
    @include round-corners(10px); 
    @include vertical-bg-gradient(#d9e245, #c3ca23);


    &.hover, &:hover{
       background: #c3ca23;
    }

    &.active, &:active{
      background: #d9e245;
    }

    &.disabled, &:disabled{
      background: $disabled;
    }
  }

  &.wallet-remove {
    border: 1px solid $lightblue;
    color:#FFFFFF;
    padding: 0 0;
    margin-top:10px;
    height: 20px;
    text-align: center;
    line-height:1.7em;
    font-weight: 400;
    font-size: .7em;
    letter-spacing: 0px;
    @include round-corners(10px); 
    @include vertical-bg-gradient(#1dafec, #1073b9);


    &.hover, &:hover{
       background: #1073b9;
    }

    &.active, &:active{
      background: #1dafec;
    }

    &.disabled, &:disabled{
      background: $disabled;
    }
  }
}

