@import "colors.css.scss";
@import "mixins.css.scss";

.dashboard {
  
  &.left-column {
    background-color: $grayblue;
    width:340px;

    .profile-img {
      margin: 0px 10px 20px 0px;
      float:left;
    }
  }
    
  &.left-module-flag {
   	background-color:#666666;
    height:54px;
    margin: 30px 0px 0px 0px;
    padding: 15px 28px;
    width:340px;

    &.profile {
      background-color:$cyan;
      color:#FFFFFF;
      margin: 0px;
      padding:20px 28px 0px 28px;
    }
  }

  &.left-module-content {
    padding: 10px 28px;
    width:340px;
  }

  &.invite {
  	background: #FFFFFF;
  	display: block;
  	height: 68px;
  	margin: 5px 0px 25px 0px;
  	@include round-corners(8px);

  	&.hover, &:hover{
       color: $cyan;
    }

    &.active, &:active{
      color: #1073b9;
    }
  }

  .invite-img{
  	display: inline-block;
  	margin: 0px 15px 0px 0px;
  }

  .friends-img{
  	/*display: inline-block;*/
  	float:left;
    margin: 0px 2px 2px 0px;
    background-image: url('/assets/icon-addfriend-blue.jpg');
    background-repeat: no-repeat;

    &.hover, &:hover{
       display: none;
    }
  }
}