@import "colors.css.scss";
@import "mixins.css.scss";

.footer{
  background:$slate;

  h1 {
    color:#a0a0a0;
    letter-spacing:2px;
    line-height:2.5em;
  	font-size:.9em;
  	font-weight:300;
  	text-transform: uppercase;
  }

 a {
  	color:#ffffff;
  	font-size:.9em;
  	font-weight:100;
  	line-height:1.8em;
  	letter-spacing: 1px;

    &.hover, &:hover{
      color:#e9eef1;
    }

    &.active, &:active{
      color:#c0c0c0;   
    }
  }

  h3 {
  	color:#a0a0a0;
  	letter-spacing:1px;
  	line-height:1.3em;
  	font-size:.7em;
  	font-weight:300;
  }

  .col-wrapper{
  	margin:0px auto;
    max-width:1024px;
  }
  
  .col {
    display:inline-block;
    margin:10px 16.5% 20px 0;
    vertical-align: text-top; 

    &.last {
      margin:10px 0px;  
    }

    &.legal {
      margin: 10px 13% 20px 0px;
      max-width:40%;

      &.last {
        margin: 10px 0px;
      }
    }
  }
}