@import "colors.css.scss";
@import "mixins.css.scss";

.header {
  display:block;
  background-color:$cyan;
  height:60px;
  width:100%;
}

.header-logo {
  margin: 8px 15px 0px 8px;
}

.header-text {	
  color:#FFFFFF;
  font-size: .9em;
  font-weight: 200;
  letter-spacing: 2px;
}

.header-button {
  float:right;
  margin: 15px 15px 15px 0px;

}

.header-button-social {
  float:right;
  margin: 15px 45px 15px 15px;
}

.nav-ul {
  color:$lightblue;
  list-style-type:none;
  text-align:right;
  margin:24px 0px;
  float:right;
}

.nav-li {
  border:none;
  cursor:pointer;
  display:inline;
  font-weight:400;
  padding:0px 15px;

  &.hover, &:hover{
    color: #FFFFFF;
  }

  &.selected {
    background-color:#00d5ff;
    color:#FFFFFF;
    font-weight:700;
    padding: 8px 15px;
    @include round-corners(5px);
  }

  &.logout {
    color:$slate;

     &.hover, &:hover{
      color: #FFFFFF;
    }
  }
}

  