@import "colors.css.scss";
@import "mixins.css.scss";

.header {
  display:block;
  background-color:$cyan;
  height:60px;

  .header-logo {
    top:8px;
    position: absolute;
    z-index:2;
  }
  .welcome-text {
    position: absolute;
    left:130px;
    top: 15px;
  }

  .header-text {
    color:#FFFFFF;
    font-size: .9em;
    font-weight: 100;
    letter-spacing: 1px;

    &.bold {
      font-weight:500;
    }
  }

  .header-button {
    float:right;
    margin: 15px 15px 0px 0px;

  }

  .header-button-social {
    float:right;
    margin: 22px 15px 0px 0px;

    &.last {
      margin-right:40px;
    }
  }

  .nav-ul {
    color:$lightblue;
    list-style-type:none;
    text-align:right;
    margin:22px 0px;
    float:right;
  }

  .nav-li {
    border:none;
    cursor:pointer;
    display:inline;
    font-weight:400;

    &.hover, &:hover{
      color: #FFFFFF;
    }

    &.selected {
      background-color:#00d5ff;
      color:#FFFFFF;
      font-weight:700;
      padding: 8px 0px;
      @include round-corners(5px);
    }

    .link {
      text-decoration: none;
      color:inherit;
      padding:0px 15px;
    }

    & .logout {
      color:$slate;

       &.hover, &:hover{
        color: #FFFFFF;
      }
    }
  }
}

  