@import "colors.css.scss";
@import "mixins.css.scss";

.header {
  display:block;
  background-color:$cyan;
  height:60px;
  width:100%;
  font-color:#FFFFFF;
  
  &.members { 

  }

  &.guests {

  }
}

.header-logo {
  margin: 8px 12px 0px 8px;
}

.header-text {	
  color:#FFFFFF;
  font-size: .9em;
  font-weight: 200;
  letter-spacing: 2px;
}

.header-navtext {
  
}
  