@import 'colors.css.scss';

body {
  background:$slate;
}

.layout-wrapper {
  width:100%;
  min-width: 1024px;

  &.main-content {
    background-color: #fff;
  }

  .layout-inner {
    width:1024px;
    margin:0 auto;
  }
}

