@mixin vertical-bg-gradient($top, $bottom) {
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom, GradientType=0 ); /* IE6-9 */
}

// Round all corners by amount
@mixin round-corners($amount){
  border-radius: $amount;
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
}

// Round only the right corners by amount
@mixin round-corners-right($amount){
  border-radius: 0px $amount $amount 0px;
  -moz-border-radius: 0px $amount $amount 0px;
  -webkit-border-radius: 0px $amount $amount 0px;
}


// Text shadow by horizontal distance, vertical distance, blur, and color
@mixin txt-shadow($h, $v, $blur, $hex){
  -moz-text-shadow: $h $v $blur $hex;
  -webkit-text-shadow: $h $v $blur $hex;
  text-shadow: $h $v $blur $hex;
  /* For IE 8 */ 
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}