@import "colors.css.scss";
@import "mixins.css.scss";

.modal {
  position: relative; /* this must be set to relative for the close-btn to be positioned absolutely */
  display: inline-block;
  border: 20px solid rgb(0, 0, 0);
  border: 20px solid rgba(0, 0, 0, .7);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  background-color: #FFFFFF;
  padding: 15px;
  text-align: center;
  @include round-corners(14px);

  input[type='text'], input[type='password'] {
    margin-bottom: 15px;
  }

  .bg-element {
    width: 100%;
    display: inline-block;
    background-color: #f2f2f2;
    padding: 15px;
    margin: 15px 0px;
    text-align: center;
    @include round-corners(8px);
  }

  .close-btn {
    position: absolute;
    top: -8px;
    right: -8px;
  }

  .modal-ribbon {
    left: -9px;
    position: absolute;
    top: -11px;
  }

  &.reveal-modal.sign-in-modal {
    width: 334px;
    margin-left: -191px;
  }

  &.offer-details {
    width: 500px;
    margin-left: -25%;
    top: -300px;
  }

  .offer-description{
    border: 0px;
    line-height:1.2em;
    margin: 15px 0px 0px 0px;
    padding: 5px;
    text-align: left;
  }

  #social-login {
    margin-bottom: 15px;

    [gigid] {
      margin-bottom: 7px;
    }
  }
}
