.style-guide {
  /*h1 {
    font-size: 128px;
    margin: -32px 15px 15px 15px;
    font-weight:900;
    letter-spacing: 4px;
    color:#c9c9c9;
  }

  h2 {
    font-size: 20px;
    margin: 20px 0;
    font-weight:700;
  }

  h3 {
    font-size: 17px;
    margin: 10px 0;
  }
  h4 {
    font-size: 13px;
    margin: 10px 0;
  }*/

  section {
    margin: 20px 40px 40px 40px;
  }
}