@import "colors.css.scss";

.font{
  &.error{
    color:$red;
    font-size:.8em;
    font-weight:400;
  }

  &.h2{
    color:$cyan;
    font-weight:900;
    font-size:3.2em;
    letter-spacing:1px;
  }

}