@import "colors.css.scss";
@import "mixins.css.scss";

.wallet{

  h1 {
    font-size: 1.8em;
    font-weight:700;
    text-transform: uppercase;
    vertical-align: top;

    &.cyan {
      color: $cyan;
    }

    &.slate {
      color:$slate;
    }

    &.numbers{
      /*font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
      font-weight:600;
      line-height:1.2em;
    }
  }

  h2 {
    font-size: 1.4em;
    font-weight:400;
    line-height:1.1em;

    &.cyan {
      color:$cyan;
      font-weight:700;
    }

    &.white {
      color:#FFFFFF;
      letter-spacing:2px;
      font-weight:400;
    }

    &.slate {
      color:$slate;
    }

    &.bold {
      font-weight:700;
    }
  }

  h3 {
    font-size:1em;
    font-weight:100;
    letter-spacing: 1px;

    &.bold {
      font-weight:500;
    }

  }

  .offer{
  	border: 1px solid #999999;
  	display: inline-block;
  	height:105px;
  	margin: 14px 33px 14px 0px;
  	position:relative;
  	width:305px;
    text-align: center;
    @include round-corners(8px);

    .offer-inner {
      position:relative;
    }

    .brand {
      border: 0px;
      padding:8px 5px;
      width: 187px;
      display: table-cell;
      height: 103px;
      text-align: center;
      vertical-align: middle;
    }

    .info {
      border: 0px;
      color:#FFFFFF;
      height:103px;
      line-height:.8em;
      margin:0px;
      padding:10px 5px 5px 5px;
      position:absolute;
      right:0px;
      text-align: center;
      top:0px;
      width:118px;
      @include round-corners-right(8px);
      @include vertical-bg-gradient(#1dafec, #1073b9);
    }

  }

  .ribbon {
    left: -7px;
    position: absolute;
    top: -7px;
  }

  .slot {
  	border: 1px solid #999999;
  	height:105px;
  	margin: 5px 17px;
  	position:relative;
  	width:305px;
    @include round-corners(8px);

    .img {
      float:left;
      margin:8px 12px;
    }

    .text {
      border: 0px;
      line-height:1.2em;
      height:70px;
      margin-top: 24px;
      width:95%;
    }

    &.locked {
      background:#e6e6e6;
    }

    .slot-inner {
      position:relative;  
    }

    .brand {
      border: 0px;
      padding: 8px 5px;
      width: 187px;

    }

    .info {
      background:$grayblue;
      border: 0px;
      color:$slate;
      height:103px;
      line-height:.8em;
      margin:0px;
      padding:10px 5px 5px 5px;
      position:absolute;
      right:0px;
      text-align: center;
      top:0px;
      width:118px;
      @include round-corners-right(8px);
      /*@include vertical-bg-gradient(#1dafec, #1073b9);*/

      .button {
        text-transform: uppercase;
      }
    }
  }
}