%html
  %head
    %title Plink | Be A Smarter Shopper
    = render partial: 'shared/email_css'

  %body{bgcolor: "#e4e4e4", topmargin: "0", leftmargin: "0", marginheight: "0", marginwidth: "0", style: "-webkit-font-smoothing: antialiased;width:100% !important;background:#e4e4e4;-webkit-text-size-adjust:none;"}
    %table{width: "100%", cellpadding: "0", cellspacing: "0", border: "0", bgcolor: "#e4e4e4"}
      %tr
        %td{bgcolor: "#e4e4e4", width: "100%"}
          %table.table{bgcolor: "#e4e4e4", width: "600", cellpadding: "0", cellspacing: "0", border: "0", align: "center"}
            %tr
              %td.cell{width: "600"}
                %table.table{width: "600", cellpadding: "0", cellspacing: "0", border: "0"}
                  %tr
                    %td.logocell{width: "250", bgcolor: "#e4e4e4"}
                      =image_tag 'http://plink-email.s3.amazonaws.com/marketing/v3/global/spacer.gif', {class:"hide", border: "0", style: "display:block;", width: "1", height: "1"}
                      =image_tag 'http://plink-email.s3.amazonaws.com/marketing/v3/global/logo1.gif', {border: "0", width: "73", height: "49", alt: "Plink", style: "-ms-interpolation-mode:bicubic;"}
                      =image_tag 'http://plink-email.s3.amazonaws.com/marketing/v3/global/spacer.gif', {class:"hide", border: "0", style: "display:block;", width: "1", height: "1"}
                    %td.hide{align: "right", width: "350", style: "color:#a6a6a6;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-shadow: 0 1px 0 #ffffff;", valign: "top", bgcolor: "#e4e4e4"}
                      =image_tag 'http://plink-email.s3.amazonaws.com/marketing/v3/global/spacer.gif', {border: "0", style: "display:block;", width: "1", height: "15"}
                      %span= @contest_email.three_day_preview
                      %br
                      %br
                      %span{style: "font-size:12px;"}
                        =link_to 'Mark as spam', unsubscribe_subscription_url(email_address: @email_address)

                =image_tag 'http://plink-email.s3.amazonaws.com/marketing/v3/global/spacerblue_600.gif', {class:"divider_blue", border: "0", style: "display:block;", width: "600", height: "5"}

                %table{width: "100%", border: "0", cellspacing: "0", cellpadding: "0"}
                  %tr
                    %td.headercell
                      =link_to image_tag(@contest_email.three_day_image, {border: "0", alt: "Plink on the go with our new mobile app!", style: "display:block; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #00ADEE; font-style: italic; font-size: 30px; text-align:center;", label: "Hero image", editable: "true", width: "600", height: "253", id: "screenshot"}), contests_url

                %table.promotable{width: "600", cellpadding: "25", cellspacing: "0", border: "0"}
                  %tr
                    %td.promocell{bgcolor: "#404041", width: "600"}
                      %multiline{label: "Main feature intro"}
                        %p{style: "color:#FFFFFF; font-size:18px;"} Hey #{@first_name}
                        %p{style: "color:#FFFFFF; font-size:16px;"}= @contest_email.three_day_body.html_safe
                        <!-- INSERT TEXT LINK HERE -->
                        =link_to @contest_email.three_day_link_text, contests_url

                %repeater
                  %layout
                    %table{width: "100%", cellpadding: "0", cellspacing: "0", border: "0"}
                      %tr
                        %td{width: "100%", bgcolor: "#ffffff"}

                          %table{width: "100%", cellpadding: "20", cellspacing: "0", border: "0"}
                            %tr
                              %td.contentblock{bgcolor: "#ffffff"}

                                %h4.secondary{style: "color:#404041;"}
                                  %strong
                                    %singleline{label: "Title"} Get even MORE entries.
                                %multiline{label: "Description"}
                                  %p{style: "color:#404041;"}
                                    For every friend you refer to Plink, get EXTRA entries everyday. You can invite your friends via Facebook, Twitter, or by sending them your personal referral link:
                                    %br
                                    %br
                                    =link_to referrer_url(user_id: @user_id, affiliate_id: Rails.application.config.default_contest_affiliate_id), referrer_url(user_id: @user_id, affiliate_id: Rails.application.config.default_affiliate_id)

          =image_tag 'http://plink-email.s3.amazonaws.com/marketing/v3/global/spacer.gif', {class:"divider", border: "0", style: "display:block;", width: "1", height: "10"}

          %table{width: "100%", cellpadding: "0", cellspacing: "0", border: "0", bgcolor: "#e4e4e4"}
            %tr
              %td

                =image_tag 'http://plink-email.s3.amazonaws.com/marketing/v3/global/spacer.gif', {border: "0", style: "display:block;", width: "1", height: "5"}

                %table.table{width: "600", cellpadding: "0", cellspacing: "0", border: "0", align: "center"}
                  %tr
                    %td.cell{width: "600", bgcolor: "#e4e4e4"}
                      %table.table{width: "600", cellpadding: "0", cellspacing: "0", border: "0"}
                        %tr
                          %td.footershow{width: "380", valign: "top"}

                            =image_tag 'http://plink-email.s3.amazonaws.com/marketing/v3/global/spacer.gif', {border: "0", style: "display:block;", width: "1", height: "0"}
                            =link_to 'Unsubscribe from contest notifications',contest_unsubscribe_subscription_url(email_address: @email_address)
                            %br
                            %br
                            %p.reminder{style: "color:#a6a6a6;font-size:12px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:15px;padding-top:0;padding-bottom:0;line-height:18px;"}
                              %strong Need some help?
                              If you have any questions, please contact us at
                              =link_to 'support@plink.com', 'mailto:support@plink.com'
                              and we"d be happy to help you out.

                            %p{style: "color:#989795;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;"}
                              %preferences{style: "color:#989795;text-decoration:none; font-size:10px;"}
                                *The merchants represented are not sponsors of the Plink program or otherwise affiliated with Plink. The logos and other identifying marks attached are trademarks of and owned by each represented company and/or its affiliates. Please visit each company"s website for additional terms and conditions.
                                %br
                                %br
                                *Amazon.com is not a sponsor of this promotion. Except as required by law, Amazon.com Gift Cards ("GCs") cannot be transferred for value or redeemed for cash. GCs may be used only for purchases of eligible goods on Amazon.com or certain of its affiliated websites. For complete terms and conditions, see www.amazon.com/gc-legal. GCs are issued by ACI Gift Cards, Inc., a Washington corporation. ©,®,™ Amazon.com Inc. and/or its affiliates, 2013. No expiration date or service fees.

                          %td.hide{align: "right", width: "220", style: "color:#a6a6a6;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-shadow: 0 1px 0 #ffffff;", valign: "top"}

                            %table{cellpadding: "0", cellspacing: "0", border: "0"}
                              %tr
                                %td
                                  =link_to image_tag('http://plink-email.s3.amazonaws.com/marketing/v3/global/twitter.gif', {border: "0", style: "display:block;", width: "42", height: "32", alt: "Follow, us on Twitter"}), "http://twitter.com/plinkdotcom"
                                %td
                                  =link_to image_tag('http://plink-email.s3.amazonaws.com/marketing/v3/global/facebook.gif', {border: "0", style: "display:block;", width: "32", height: "32", alt: "Visit, us on Facebook"}), 'https://www.facebook.com/plinkdotcom'

                            =image_tag 'http://plink-email.s3.amazonaws.com/marketing/v3/global/spacer.gif', {border: "0", style: "display:block;", width: "1", height: "10"}
                            %br
                            %p{style: "color:#b3b3b3;font-size:11px;line-height:15px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-weight:bold;"}
                              Plink
                            %p{style: "color:#b3b3b3;font-size:11px;line-height:15px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-weight:normal;"}
                              2000 S. Colorado Blvd. Tower 1<br> Suite 7000 <br>Denver, CO 80222
                =image_tag 'http://plink-email.s3.amazonaws.com/marketing/v3/global/spacer.gif', {border: "0", style: "display:block;", width: "1", height: "25"}
                %br

