Hey #{@first_name},

Plink's Black Friday PS4 Giveaway has ended...

Congratulations - You've won a prize in Plink's Black Friday PS4 Giveaway! Did you win the Sony PS4?

Find out what I've won:
= contest_results_from_email_url(contest_id: @contest_id, user_token: @user_token)

For every friend you refer to Plink, get EXTRA entries everyday. You can invite your friends via Facebook, Twitter, or by sending them your personal referral link:

= referrer_url(user_id: @user_id, affiliate_id: Rails.application.config.default_contest_affiliate_id)

Thanks!
Team Plink

Unsubscribe:
= edit_subscription_url(email_address: @email_address)
