:plain
  <script type="text/handlebars-template" id="generic-error-template">
    <img alt="Your account is inactive" class="status-img" src="/assets/icon_alert_pink.png">
    <p>{{instructions}}</p>
    <ul>
      {{#each errors}}
        <li class="font error">{{this}}</li>
      {{/each}}
    </ul>
  </script>