.in-app-note
  =image_tag('/assets/btn_close.png', class: 'close-btn', alt: 'Close', id: 'contest-notification')

  %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
  %h1 Congratulations!
  %h2= "You've won #{notification.points} Plink Points. Share with your friends."
  .btn
    =  link_to 'Tell Your Friends', notification.contest_share_url, {data: notification.winner_share_data, class: 'button primary-action'}
  .link
    = link_to 'View Full Contest Results &rarr;'.html_safe, contest_results_path(notification.id)
