.in-app-note
  =image_tag('/assets/btn_close.png', class: 'close-btn', alt: 'Close', id: 'contest-notification')

  %img{ :class => "close-btn", :src => "/assets/btn_close.png", :alt => "Close" }
  %h1 Congratulations!
  %h2= "You've won #{notification[:data][:points]} Plink Points."
  .btn
    - data = notification[:data]
    = contest_winner_share(data[:contest_id], data[:user_id], data[:dollars])
  .link
    = link_to 'View Full Contest Results &rarr;'.html_safe, contest_results_path(notification[:data][:contest_id])
