.in-app-note
  =image_tag('/assets/btn_close.png', class: 'close-btn', alt: 'Close', id: 'contest-notification')

  = t('application.contests.in_app_notification.enter_today')
  .btn
    =link_to('GO TO CONTEST', contests_path, class: 'button primary-action', id: 'contest-results')
