.in-app-note
  =image_tag('/assets/btn_close.png', class: 'close-btn', alt: 'Close', id: 'contest-notification')

  Enter our contest today for your share of $1,000 in Gift Cards
  .btn
    =link_to('GO TO CONTEST', contests_path, class: 'button primary-action', id: 'contest-results')
