%p{ style: 'margin-top: 10px;'}
  = link_to 'Invite Friends', referrer_url(user_id: current_user.id, affiliate_id: Rails.application.config.default_affiliate_id), class: 'invite-friend-widget', data: { title: 'Join Plink for free today and receive a $5 gift card', description: 'Join Plink for free and receive a $5 gift card of your choice when you link a card.  Earn the rewards you deserve every time you shop or dine out at Plink locations.', image: 'http://plink-images.s3.amazonaws.com/plink_logo/90x90.jpg' }
