%p{ style: 'margin-top: 10px;'}
  = link_to 'Refer a Friend', referrer_url(user_id: current_user.id, affiliate_id: Rails.application.config.default_affiliate_id),
    class: 'invite-friend-widget button nav sign-in',
    data: refer_a_friend_data
