Hey #{@first_name},

Great news - you've got an open wallet slot!

Since the #{@advertiser_name} offer just expired, you've got room in your Plink wallet for a new offer!

Be a smarter shopper, fill your wallet & maximize your Plink potential today!

Update My Wallet Now:
=login_from_email_wallet_url(user_token: @user_token)

Thanks!
Team Plink

Unsubscribe:
= edit_subscription_url(email_address: @email_address)
