.email
  .container.narrow
    %img{ :class => "logo", :src => "/assets/header_logo.png", :alt => "Plink" }
    .headline
      %h1 Reset Your Password
    .subtext  
      %input.form-field.input{:value => 'New Password'}
    .subtext
      %input.form-field.input{:value => 'Confirm New Password'}
    .subtext
      %button.button.primary-action Reset Password
    .subtext
      %h3= contact_us_message
