/* Dashboard Colors */

$ink:#1c1c2a;
$lightgray:#eeeeee;
$gray:#b7b7c4;
$darkgray:#84848d;
$blue:#2a9aee;
$red:#ed5d43;
$darkred:#a6402c;
$disabled:#e6e6e6;
$yellow:#efbe47;
$green:#00a983;
$navy:#2e658f;

/* Plink Colors 2.0 */

$midnight:#1c1c2a;
$teal:#3da1b4;
$lime:#e6ec2e;

