@import "colors.css.scss";
body, input, button{
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-text-stroke: .5px;
}

.hidden { display: none; }

hr {
  border: $disabled 1px solid;
  border-width: 0 0 1px 0;
}


