= link_to 'Link Card', '#', data: { 'reveal-id' => 'card-add-modal' }

#card-add-modal.reveal-modal.cf-modal
  %iframe{src: 'http://www.plink-qa.com/index.cfm?fuseaction=intuit.selectInstitution', style: 'height: 1000px; width: 100%;'}